<h1>un-authorized works!</h1>

<!-- <li class="nav-item">
    <a id="click" style="cursor: pointer;" class="nav-link logout"
      >
      <span style="color: white;" class="d-none d-sm-inline-block">Logout</span> </a>
  </li> -->

  <button #myButton id="click" class="btn- fa fa-refresh" aria-hidden="true"  (click)="open()">  Refresh</button>




<!-- <div class="modal fade" id="logout1" data-backdrop="static" data-keyboard="false"> -->
    <div class="modal fade" id="Session" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Session expired!</h2>
            </div>
          </div>
        </div>
      </div>