<!-- <table class="container table-bordered table-view" *ngIf="response.levelWiseAgregation.length">
    <tr  *ngFor="let number of range;let levelIndex = index;">
        <td>{{6-levelIndex}} </td>
        <td>{{levelIndex - (6-response.levelWiseAgregation.length)}} </td>
        
    </tr>
</table> -->


<div class="container"  *ngIf="response.levelWiseAgregation.length">
    <div class="row">
        <div class="col">
            <table class="container table-bordered table-view">
                <tr  *ngFor="let level of getSizedArray(levelLimit);let levelIndex = index;">
                    <td>L{{levelLimit - levelIndex}} </td>
                    <td *ngFor="let concept of response.levelWiseAgregation[findLevelIndex(levelLimit - levelIndex)];let conceptIndex = index;" [hidden]="!findLevel(levelLimit - levelIndex)?true:false" >
                        <svg *ngIf="concept.hexagonSvgPaths && concept.hexagonSvgPaths.length" [attr.viewBox]="concept.viewBox" [style.width]="getSvgWidth(concept.rowDistribution)*60" [style.height]="getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length)*100" [style.marginBottom]="getNegativeMargin(getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length), concept.rowDistribution.length)">
                            <path *ngFor="let hexPath of concept.hexagonSvgPaths; let i = index" [attr.d]="hexPath" [attr.fill] = "concept.hexagonColors[i]" stroke = "#a9a9a9"stroke = "#fff" stroke-width="3px" />
                            <text *ngFor="let question of questionsList(concept.conceptData); let i = index" class="tnumber" [attr.x]="concept.centerX[i]-4" [attr.y]="concept.centerY[i]+7" fill="black">{{question.qnno}}</text>
                        </svg>
                    </td>
                    <td *ngFor="let item of getSizedArray(findLevel(levelLimit - levelIndex)?(conceptLimit - response.levelWiseAgregation[0].length):conceptLimit)"></td>
                </tr>
                <tr class="table-labels">
                     <th ><tr><p>BL</p></tr><hr><tr><p>Concept</p></tr></th>
                     <th style="justify-content: center;" *ngFor="let concept of response.levelWiseAgregation[0];let levelIndex = index;"><p class=" concept-default-label">CONCEPT {{levelIndex + 1}}</p> <p class="concept-title">{{conceptNumber(levelIndex)}}  {{getSubtopic(levelIndex).subtopic}}</p></th>
                     <th *ngFor="let item of getSizedArray(conceptLimit - response.levelWiseAgregation[0].length);let i = index;"> <p class=" concept-default-label">CONCEPT {{ i+response.levelWiseAgregation[0].length+1 }}</p> </th>
                </tr>
            </table>
        </div>
        <div class="col-3">
            <img class="legend" [attr.src]=legend>
            <!-- <img class="legend" src="../../assets/images/legend.png"> -->

        </div>
    </div>
</div>





<!-- <div class="container"  *ngIf="response.levelWiseAgregation.length">
    <div class="row">
        <div class="col">
            <table class="container table-bordered table-view">
                <tr  *ngFor="let level of response.levelWiseAgregation;let levelIndex = index;">
                    <td>{{level[0].bl}} </td>
                    <td *ngFor="let concept of level;let conceptIndex = index;">
                        <svg *ngIf="concept.hexagonSvgPaths && concept.hexagonSvgPaths.length" [attr.viewBox]="concept.viewBox" [style.width]="getSvgWidth(concept.rowDistribution)*60" [style.height]="getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length)*100" [style.marginBottom]="getNegativeMargin(getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length), concept.rowDistribution.length)">
                            <path *ngFor="let hexPath of concept.hexagonSvgPaths; let i = index" [attr.d]="hexPath" [attr.fill] = "concept.hexagonColors[i]" stroke = "#eeeeee" />
                            <text class="tnumber" *ngFor="let question of questionsList(concept.conceptData); let i = index" [attr.x]="concept.centerX[i]-4" [attr.y]="concept.centerY[i]+7" fill="black">{{question.qnno}}</text>
                        </svg>
                    </td>
                    <td *ngFor="let item of getSizedArray(conceptLimit - response.levelWiseAgregation[0].length)"></td>
                </tr>
                <tr class="table-labels">
                    <th >levels</th>
                    <th style="justify-content: center;" *ngFor="let concept of response.levelWiseAgregation[0];let levelIndex = index;">{{conceptNumber(levelIndex)}}</th>
                    <th *ngFor="let item of getSizedArray(conceptLimit - response.levelWiseAgregation[0].length);"></th>
                </tr>
                <tr class="table-labels">
                     <th >subtopic</th>
                     <th style="justify-content: center;" *ngFor="let concept of response.levelWiseAgregation[0];let levelIndex = index;">{{getSubtopic(levelIndex).subtopic}}</th>
                     <th *ngFor="let item of getSizedArray(conceptLimit - response.levelWiseAgregation[0].length);let i = index;">concept no {{ i+response.levelWiseAgregation[0].length+1 }} </th>
                </tr>
            </table>
        </div>
        <div class="col-3">
            <img class="legend" src="../../assets/images/legend.png">
        </div>
    </div>
</div>
<h3 *ngIf="!response.levelWiseAgregation.length">content is being loaded....</h3> -->

<!-- <div> -->
    <!-- <table class="container">
        <tr class="row" *ngFor="let level of response.levelWiseAgregation;let levelIndex = index;">
            <td class="col-2">{{level[0].bl}} </td>
            <td class="col" *ngFor="let concept of level;let conceptIndex = index;">
                <svg *ngIf="concept.hexagonSvgPaths && concept.hexagonSvgPaths.length" [attr.viewBox]="concept.viewBox" [style.width]="getSvgWidth(concept.rowDistribution)*50">
                    <path *ngFor="let hexPath of concept.hexagonSvgPaths; let i = index" [attr.d]="hexPath" [attr.fill] = "concept.hexagonColors[i]" stroke = "#eeeeee"/>
                    <text class="tnumber" *ngFor="let hexCenterX of concept.centerX; let i = index" [attr.x]="hexCenterX" [attr.y]="concept.centerY[i]+4" fill="black">T{{i+1}}</text>
                </svg>
            </td>
        </tr>
        <br>
        <tr class="row">
            <th class="col-2">levels</th>
            <th class="col" style="justify-content: center;" *ngFor="let concept of response.levelWiseAgregation[0];let levelIndex = index;">{{conceptNumber(levelIndex)}}</th>
         </tr>
    </table> -->
    <!-- <button class="btn btn-info" (click)="open(tablemodal)">open concept based grid view (view 1)</button> -->
<!-- </div> -->
<!-- 
<ng-template #tablemodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <table class="container table-bordered table-view">
            <tr  *ngFor="let level of response.levelWiseAgregation;let levelIndex = index;">
                <td>{{level[0].bl}} </td>
                <td *ngFor="let concept of level;let conceptIndex = index;">
                    <svg *ngIf="concept.hexagonSvgPaths && concept.hexagonSvgPaths.length" [attr.viewBox]="concept.viewBox" [style.width]="getSvgWidth(concept.rowDistribution)*60" [style.height]="getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length)*100" [style.marginBottom]="getNegativeMargin(getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length), concept.rowDistribution.length)">
                        <path *ngFor="let hexPath of concept.hexagonSvgPaths; let i = index" [attr.d]="hexPath" [attr.fill] = "concept.hexagonColors[i]" stroke = "#eeeeee" />
                        <text class="tnumber" *ngFor="let hexCenterX of concept.centerX; let i = index" [attr.x]="hexCenterX" [attr.y]="concept.centerY[i]+4" fill="black">T{{i+1}}</text>
                    </svg>
                </td>
            </tr>
            <tr>
                <th >levels</th>
                <th style="justify-content: center;" *ngFor="let concept of response.levelWiseAgregation[0];let levelIndex = index;">{{conceptNumber(levelIndex)}}</th>
             </tr>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="createCourse(); modal.close('Close click')">Create</button>
    </div>
  </ng-template> -->
    <!-- <table class="container">
        <tr class="row">
            <td class="col">Jill</td>
            <td class="col">
                <svg viewBox="230 100 60 70" style="width: 10%;">
                    <path   d="M 230, 117.5, L 260, 100, L 290, 117.5, L 290, 152.5, L 260, 170, L 230, 152.5 Z"></path>
                </svg>
            </td>
            <td class="col">50</td>
        </tr>
        <tr class="row">
            <td class="col">
                <svg viewBox="230 100 60 70" style="width: 10%;">
                    <path   d="M 230, 117.5, L 260, 100, L 290, 117.5, L 290, 152.5, L 260, 170, L 230, 152.5 Z"></path>
                </svg>
            </td>
            <td class="col">Jackson</td>
            <td class="col">94</td>
        </tr>
        <tr class="row">
            <td class="col">Eve</td>
            <td class="col">Jackson</td>
            <td class="col">
                <svg viewBox="230 100 60 70" style="width: 10%;">
                    <path   d="M 230, 117.5, L 260, 100, L 290, 117.5, L 290, 152.5, L 260, 170, L 230, 152.5 Z"></path>
                </svg>
            </td>
        </tr>
        <tr class="row">
            <td class="col">Eve</td>
            <td class="col">
                <svg viewBox="230 100 60 70" style="width: 10%;">
                    <path   d="M 230, 117.5, L 260, 100, L 290, 117.5, L 290, 152.5, L 260, 170, L 230, 152.5 Z"></path>
                </svg>
            </td>
            <td class="col">94</td>
        </tr>
        <tr class="row">
            <th class="col">Firstname</th>
            <th class="col">Lastname</th>
            <th class="col">Age</th>
         </tr>
    </table> -->
