.legend1 {
height: auto;
width: 15%;
position: fixed;
right: 0;
}

.table-container-parent {
    width: 85%;
    overflow: auto;
}

.scroll {
    overflow-x: scroll;
}

.table-container {
    min-width: max-content;
}

.headcol {
    position: sticky;
    left: -1px;
    z-index: 10;
    width: 8%;
    white-space: nowrap;
}

.attempt-title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 2%;
}

.testname:hover{
    text-decoration-line: underline;
    color: blue;
  }

  /* .hexagon-column{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .mar{
    width: fit-content;
    min-width: 25%;
  } */

  /* .cluster-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .cluster {
    width: fit-content;
  } */

  svg {
    margin-top: 8%;
  }