<div>
    <h2 style="margin: 0px;color:#0a3c62; text-align: center;  font-weight: inherit !important;">
      Course Name:{{activeCourse.name}}({{activeCourse.coursecode}})</h2>
    <div class="card-body" style="padding: 0px 1.25rem !important">
      <div class="row bottom-space">
        <div style="display: block;" id="loading" class="loading col-12" *ngIf="!reportDetails.length">Loading&#8230;</div>
        <div class="col-10 container" *ngIf="reportDetails.length" style="position: inherit;overflow-x: auto;overflow-y: hidden;">

          <div style="position: inherit;" class="hex-labels hexagon-column row">
            <div style="margin-top: 35px;margin-bottom: 0%;" class=" mar" [ngClass]="{ 'col-sm-6 col-md-6 col-xl-5' : reportDetail['hexagonSvgPaths'].length<=29, 'col-sm-10 col-md-10 col-xl-10' : reportDetail['hexagonSvgPaths'].length>29 }" *ngFor="let reportDetail of reportDetails;let attemptIndex = index;">
              <p [ngStyle]="{pointerEvents: isPopupVisible ? 'auto' : 'none'}" style="margin-bottom: 0%;" class="testname hexagon-cluster-title fonts" (click)="activeAttempt=attempts[attemptIndex]; open(conceptmodal)"> {{POPUPAPIURL ? ((attempts.length > 1 ? ('Attempt ' + attempts[attemptIndex] + '-') : '') + 'Click here to view BL grid') : 'All Divisions'}} </p>
              <svg [attr.viewBox]="reportDetail.viewBox" [style.width]="(getSvgWidth(reportDetail.rowDistribution)*60)+ 'px'" [style.marginBottom]="getNegativeMargin(getSvgheight(reportDetail.rowDistribution, reportDetail.hexagonSvgPaths.length), reportDetail.rowDistribution.length)+ 'px'">
                <path *ngFor="let hexPath of reportDetail['hexagonSvgPaths']; let Index = index" [attr.d]="hexPath" [attr.fill] = "reportDetail['hexagonColors'][Index]" stroke = "#fff" stroke-width="3px"/>
                <text style="cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of reportDetail['centerX']; let i = index" [attr.x]="reportDetail['centerX'][i] - ((getHexText(attemptIndex, i).length / 2) * 5) - (getHexText(attemptIndex, i).length > 3 ? (getHexText(attemptIndex, i).length - 3 ) * 2 : 0)" [attr.y]="reportDetail['centerY'][i]-1" fill="black">{{getHexText(attemptIndex, i)}} 
                  <title class="tooltiptext">{{getHexText(attemptIndex, i)}}-{{reportType == "conceptwise" ? reportDetail.scores[i].subtopic.subtopic : reportDetail.scores[i].conceptstatement.conceptstatement}}</title>
                </text>
                <text style="cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of reportDetail['centerX']; let i = index" [attr.x]="reportDetail['centerX'][i] - (((reportDetail.scores[i].score == 100 ? '100' : reportDetail.scores[i].score.toFixed(2)).toString().length / 2) * 4) - ( reportDetail.scores[i].score==-1 ? 0 : 7)" [attr.y]="reportDetail['centerY'][i]+14" fill="black" >{{ reportDetail.scores[i].score==-1 ? ' N/A' : ((reportDetail.scores[i].score == 100 ? '100' : reportDetail.scores[i].score.toFixed(2)) + '%')}}
                  <title class="tooltiptext">{{getHexText(attemptIndex, i)}}-{{reportType == "conceptwise" ? reportDetail.scores[i].subtopic.subtopic : reportDetail.scores[i].conceptstatement.conceptstatement}}</title>
                </text>
              </svg> 
            </div>
          </div>
        </div>
        <div class="col-2 dipstick-legend" *ngIf="reportDetails.length" style="position: inherit;">
          <!-- <img  [ngClass]="{ 'legend1' : POPUPAPIURL, 'legend' : !POPUPAPIURL }" [attr.src]=legend> -->
        </div>
      </div>
      
      <div class="table-container-parent" [ngClass]="{'scroll' : attempts.length > 2}" *ngIf="allTopics.length">
        <div class="table-container">
          <table class="table table-bordered space fonts  Font-size-for-listing" >
               <thead >
                   <tr>
                      <th scope="col-1" class="headcol" > Serial # </th>
          
                      <th scope="col" *ngIf="(allTopics[0].conceptnumber || (allTopics[0].subtopic && allTopics[0].subtopic?.conceptnumber)) || (allTopics[0]._id?.subtopic || (allTopics[0].subtopic && allTopics[0].subtopic?.subtopic)) ">
                        <span scope="col" *ngIf="allTopics[0].conceptnumber || (allTopics[0].subtopic && allTopics[0].subtopic?.conceptnumber)">{{ 'Concept Number' }}</span>
                        <span *ngIf="(allTopics[0].conceptnumber || (allTopics[0].subtopic && allTopics[0].subtopic?.conceptnumber)) && (allTopics[0]._id?.subtopic || (allTopics[0].subtopic && allTopics[0].subtopic?.subtopic)) " >&nbsp; - &nbsp;</span>
                       <span scope="col" *ngIf="allTopics[0]._id?.subtopic || (allTopics[0].subtopic && allTopics[0].subtopic?.subtopic)">{{  'Subtopic' }} Name</span>
                      </th>
          
                      <th scope="col" *ngIf="allTopics[0]._id?.conceptstatement || allTopics[0].conceptstatement?.conceptstatement">
                        Concept Statement
                      </th>
                      <th scope="col-1" *ngFor="let attempt of attempts;"> Attempt {{attempt}} </th>
                  </tr>
              </thead>
              <tbody class="fonts Font-size-for-listing">
              <tr *ngFor="let concept of allTopics; let conceptIndex= index" [attr.data-index]="i">
                  <td class="table-list-items" class="headcol" scope="row" >{{labelPrefix}}{{conceptIndex+1}}</td>
                  
                  <td class="table-list-items" *ngIf="(concept?.conceptnumber || (concept?.subtopic && concept?.subtopic?.conceptnumber)) || (concept?._id?.subtopic || (concept?.subtopic && concept?.subtopic?.subtopic))" >
                    <span class="table-list-items testname-list-display" *ngIf="concept?.conceptnumber || (concept?.subtopic && concept?.subtopic?.conceptnumber)">{{concept?.conceptnumber || concept?.subtopic?.conceptnumber}}</span>
                    <span class="table-list-items" *ngIf="(concept?.conceptnumber || (concept?.subtopic && concept?.subtopic?.conceptnumber)) && (concept?._id?.subtopic || (concept?.subtopic && concept?.subtopic?.subtopic))" > &nbsp;-&nbsp; </span>
                    <span class="table-list-items" *ngIf="concept?._id?.subtopic || (concept?.subtopic && concept?.subtopic?.subtopic)">{{ concept?.subtopic?.subtopic || concept?._id?.subtopic }}</span>
                  </td>
          
                  <td class="table-list-items" *ngIf="concept?._id?.conceptstatement || concept?.conceptstatement?.conceptstatement">{{ concept?.conceptstatement?.conceptstatement || concept?._id?.conceptstatement}}</td>
                 <td  class="table-list-items"  *ngFor="let attempt of attempts;let attemptIndex = index">{{getScoreByTopic(attemptIndex, concept?._id)}}</td>
                 <!-- <td  class="table-list-items"  *ngFor="let attempt of attempts;">{{ getScoreByTopic(concept?._id)!=-1 ? getScoreByTopic(concept?._id) + "%" : " N/A"}}</td> -->
              </tr>
              </tbody>
          </table>
        </div>
      </div>

     </div>    
    </div>

<ng-template #conceptmodal let-modal>
  <app-resize-border [dragHolder]="header">
    <div class="d-flex flex-column h-100" style="background-color: white;">
      <div class="modal-header">
        <h4  #header class="modal-title w-100" id="modal-basic-title">
         Course: {{this.activeCourse['name']}}
        </h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-grow-1">
        <h4 *ngIf="attempts.length > 1" class="attempt-title">  Attempt {{ activeAttempt }} </h4>
        <app-attempt-popup-table-view-conceptwise [apiEndPoint]="POPUPAPIURL"  [activeAttempt]="activeAttempt" [reportType]="reportType" [type]="'allParticipants'" [labelPrefix]="labelPrefix" [xLabel]="popupXLabel"></app-attempt-popup-table-view-conceptwise>
      </div>
    </div>
  </app-resize-border>
</ng-template>

 