<app-breadcrumb-display [reportType]="reports"></app-breadcrumb-display>
<app-filter-reports></app-filter-reports>

<div class="container-fluid main topPlace" *ngIf="reportType=='testwise'  && checkReportVisibility()" >
  <!-- <div [style.display]="this.reportDetails['testArray'].length ? 'none' : 'block' " id="loading" class="loading">Loading&#8230;</div> -->
  <h3 style="margin: 0px;margin-bottom:-1.5%;color:#0a3c62;text-align: center;  font-weight: inherit !important;">
      {{reportService.replaceTopic('Report-1 : All-Participants (Tests)', 'tests')}}</h3>
      <div class="card-body">
      <div class="row bottom-space fonts">
          <div class="col-10"  style="position: inherit; overflow-x: auto;overflow-y: hidden;">
              <app-test-wise-reports-single-cluster [APIURL]="APIURL"></app-test-wise-reports-single-cluster>
          </div>
          <div class="col-2">
              <img [ngClass]="{'legend3': userRole === 'faculty', 'legend4': userRole !== 'faculty'}" src="./assets/images/legend.png">
              <app-download-group-reports></app-download-group-reports>
          </div>
      </div>
  </div>    
</div>

<div class="container-fluid main topPlace" *ngIf="reportType=='questionwise' && checkReportVisibility()" >
    <!-- <h1 style="color:#900C3F; text-align: center;" >Dipstick<span class="trademark">&#8482;</span> Report Level-1 (All Participants)</h1> -->
    <h3 style="margin: 0px;color: #0a3c62;; " class="report-title fontW">
        <!-- Dipstick<span   class="trademark">™</span> -->
         Report-7:All-Participants (Questions)</h3>
         <h2 style="margin: 0px;color: #0a3c62;  text-align: center;  font-weight: inherit !important;" *ngIf="courseDetails?.coursecode" >
          Course Name:{{courseDetails?.name}}({{courseDetails?.coursecode}})</h2>
<div class="card-body">
  <div class="row bottom-space">
    <div class="col-10 container"  style="position: inherit;">
        <div style="display: block;" [style.display]="reportDetails?.length ? 'none' : 'block' " id="loading1" class="loading">Loading&#8230;</div>
       <div style="justify-content: start;" class="row-container" >
          <div  style="margin-bottom: 5%;position: inherit;margin-left: 10px;" class="hexagon-container" *ngFor="let reportDetail of reportDetails; let testIndex= index"  >

            <div class="test-name-display-on-hover" style="margin-top: 20px;">
                    <p class="testname hex-labels hexagon-cluster-title fonts mar overflow-hide" [style.width]="(getSvgWidth(reportDetail.rowDistribution)*60)+ 'px'" (click)="activeTest={ name : reportDetail.topics.title, _id : reportDetail.topics.metadata.testid}; checkPopupVisibility('group-questionwise-allParticipants-popup') && open(conceptmodal)" [ngStyle]="!checkPopupVisibility('group-questionwise-allParticipants-popup') && {'cursor': 'default','text-decoration':'none','color':'black'}"  [ngClass]="{'hovertext': reportDetail.topics.title.substring(30),'testname1':checkPopupVisibility('group-questionwise-allParticipants-popup')}"   [attr.data-hover]="reportDetail.topics.title">{{reportDetail.topics.title}} </p>
                <!-- <div style="overflow-x: auto;overflow-y: hidden;"> -->
                  <div class="overflowbar">
                    <svg 
                    [attr.viewBox]="reportDetail.viewBox" [style.width]="(getSvgWidth(reportDetail.rowDistribution)*60)+ 'px'">
                    
                    <path *ngFor="let hexPath of reportDetail.hexagonSvgPaths; let Index = index"
                    [attr.d]="hexPath" [attr.fill] = "reportDetail.hexagonColors[Index]"
                    stroke = "#fff" stroke-width="3px"/>
                    
                    <text style="cursor: pointer;"  class="hex-label fontSize" *ngFor="let hexCenterX of reportDetail.centerX; let i = index" 
                    [attr.x]="reportDetail.hexagonSvgPaths[i]?.split('L')[1]?.trim().split(' ')[0]"
                    [attr.y]="reportDetail.centerY[i]"
                    fill="black">{{reportDetail.topics.scores[i].qnno}}<title class="tooltiptext"> Subtopic :{{reportDetail.topics.scores[i].subtopic}},&#10;Concept Statement :{{reportDetail.topics.scores[i].conceptstatement}}</title></text>
                   
                    <text style="cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of reportDetail.centerX; let i = index" 
                    [attr.x]="reportDetail.hexagonSvgPaths[i]?.split('L')[1]?.trim().split(' ')[0]"
                    [attr.y]="reportDetail.centerY[i]+15"
                    fill="black">
                    {{( reportDetail.scores[i] == -1 ? 'N/A' : (( reportDetail.scores[i] == 100 || reportDetail.score == 0) ? reportDetail.scores[i] : (reportDetail.scores[i].toFixed(2)))+'%') 
                  }}
                    <title class="tooltiptext"> Subtopic :{{reportDetail.topics.scores[i].subtopic}},&#10;Concept Statement :{{reportDetail.topics.scores[i].conceptstatement}}</title></text>
                </svg> 
              </div>
            </div>
            </div>

        </div>
    </div>
            <div class="col">
                <img [ngClass]="{'legend2': userRole === 'faculty', 'legend': userRole !== 'faculty'}" src="./assets/images/legend.png">
                <app-download-group-reports></app-download-group-reports>
                <!-- <img class="legend" src="../../assets/images/legend.png"> -->
            </div>
        </div>
      <!-- <div *ngIf="pagenationLoader" 
        style="display: block;
                position: relative;
                overflow: visible;
                margin: auto;
                left: 0;
                bottom: 0;
                margin-right: 65%;
        " id="loading1" class="loading">Loading&#8230;
        </div> -->
 </div>    
 </div>

 <div class="container main topPlace"  *ngIf="reportType=='subconceptwise'  && checkReportVisibility()" >
  <h3 style="margin: 0px; color:#0a3c62!important;" class="report-title fontW">
       {{reportService.replaceTopic('Report-5:All-Participants (SubConcepts)', 'subconcepts')}}
  </h3>   
</div>

<app-concept-reports-all-participants [isPopupVisible]="checkPopupVisibility('group-subconceptwise-allParticipants-popup')"  *ngIf="reportType=='subconceptwise' && checkReportVisibility()" [url]="url" [reportType]="'subconceptwise'" [labelPrefix]="'SC'" [listLabel]="'Subconcept'" [popupXLabel]="'CONCEPT'"></app-concept-reports-all-participants>
 
<div class="container main topPlace" *ngIf="reportType=='conceptwise' && checkReportVisibility()" >
  <h3 style="margin: 0px;color:#0a3c62!important;" class="report-title fontW">
       {{reportService.replaceTopic('Report-3: All-Participants (Concepts)', 'concepts')}}
  </h3>   
</div>

<app-concept-reports-all-participants [isPopupVisible]="checkPopupVisibility('group-conceptwise-allParticipants-popup')" *ngIf="reportType=='conceptwise' && checkReportVisibility()" [url]="url" [reportType]="'conceptwise'" [labelPrefix]="'C'" [listLabel]="'Concept'" [popupXLabel]="'CONCEPT'"></app-concept-reports-all-participants>

<ng-template #conceptmodal1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title test-title-modal fonts testname-list-display" id="modal-basic-title">{{activeTest.name}} </h4>
      <!-- <button type="button" class="change-level" aria-label="sub concept level" (click)="activeView = activeView==viewTypes.CONCEPTWISE ? viewTypes.SUBCONCEPTWISE:viewTypes.CONCEPTWISE">
        <span aria-hidden="true">change view</span>
      </button> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-popup-table-view-conceptwise [type]="'allParticipants'" [showName]="true" [test]="activeTest" [viewType]="'conceptwise'" [xLabel]="'CONCEPT'"></app-popup-table-view-conceptwise>
    </div>
 </ng-template>




 <ng-template #conceptmodal let-modal>
  <app-resize-border [dragHolder]="header">
    <div class="d-flex flex-column h-100" style="background-color: white;">
      <div class="modal-header">
        <h4 #header class="modal-title w-100" id="modal-basic-title">{{activeTest.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-grow-1">
        <app-popup-table-view-conceptwise [type]="'allParticipants'" [showName]="true" [test]="activeTest" [viewType]="'conceptwise'" [xLabel]="'CONCEPT'"></app-popup-table-view-conceptwise>

      </div>
      <div class="modal-footer">
       </div>
    </div>
  </app-resize-border>
</ng-template> 



















 <span *ngIf="!isReportVisible" class="report-not-found">
   <h2> This report is not available </h2>
   <!-- <p> This report is not accessable </p> -->
 </span>
