.testname:hover{
    text-decoration-line: underline;
    color: blue;
}

.testname{
    cursor: pointer;
    /* margin-left: 20%; */
    margin-bottom: 0%;
    
}
/* .mar{
    margin:0 80px;
} */
.report-not-found {
    text-align : center;
    width : 100%;
    margin-top :25vh;
}


@media screen and (max-device-width:300px), screen and (max-width:800px) {
    .scollBar{
        /* overflow-x: scroll; */
    }
    }


    
@media screen and (max-device-width:300px), screen and (max-width:800px) {
    svg{
        margin-top: 25px !important;
       /* // width: 120px !important; */
    }
    }


    

    .hovertext {
      position: relative;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
  }
  
  .hovertext:before {
      content: attr(data-hover);
      visibility: hidden;
      opacity: 0;
      width: -webkit-fill-available;
      /* width: 140px; */
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      padding: 5px 0;
      transition: opacity 1s ease-in-out;
      /* margin-left: 6px; */
      margin-left: -4px;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 100%;
      font-weight: 100 !important;
      font-size: 12px;
      cursor: pointer;
  }
  
  .hovertext:hover:before {
      opacity: 1;
      visibility: visible;
  }
  
  
  .hovertext:hover{
      /* text-decoration-line: underline !important;
      color: blue !important; */
  } 
/*   
    
.hovertext:hover{
    text-decoration-line: underline !important;
    color: blue !important;
} */

.testname1:hover {
    text-decoration-line: underline;
    color: blue;
}

/* .legend1 {
    margin-top: -10%;
} */

.hex-label {
    text-transform: uppercase;
    text-anchor: middle;
    dominant-baseline: middle;
}
.overflowbar {
    overflow-x: auto;
    /* margin-top: 15%; */
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 73px;
  }
  
  .hexagon-container {
    overflow: auto;
  }

  .hexagon-container, .test-name-display-on-hover, .overflowbar {
    width: fit-content;
  }

  .overflow-hide {
    
    white-space: nowrap; 
    text-overflow: ellipsis; 
    /* overflow: hidden;  */

  }