<div *ngIf="!reportDetails.length" style="display: block;" id="loading" class="loading">Loading&#8230;</div>

<div class="container"  *ngIf="reportDetails.length">
    <div [style.width]="(100 + (concepts.length * 130)) > 1200 ? (100 + (concepts.length * 130)) : (1300)">
        <!-- <app-breadcrumb-display *ngIf="!apiEndPoint" [reportType]="popUp"></app-breadcrumb-display>
        <app-breadcrumb *ngIf="apiEndPoint"></app-breadcrumb> -->
        <!-- <div *ngIf="!apiEndPoint" class="fontSize breads">&nbsp;<span style= "cursor: text;">{{data}}</span></div> -->
        <div  class="fontSize breads">&nbsp;<span style= "cursor: text;">You are here : {{Sdata}}</span></div>

        <div class="row">
            <div class="col">
                <table class="container table-bordered table-view font" style="margin-left: 0;">
                    <tr  *ngFor="let level of getSizedArray(levelLimit);let levelIndex = index;">
                        <td class="font">L{{levelLimit - levelIndex}} </td>
                        <td *ngFor="let concept of reportDetails[findLevelIndex(levelLimit - levelIndex)];let conceptIndex = index;" [hidden]="!findLevel(levelLimit - levelIndex)?true:false" >
                            <svg style="margin-top:15%;" *ngIf="concept.hexagonSvgPaths && concept.hexagonSvgPaths.length" [attr.viewBox]="concept.viewBox" [style.width]="(getSvgWidth(concept.rowDistribution)*60)+ 'px'" [style.height]="(getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length)*100)+ 'px'" [style.marginBottom]="getNegativeMargin(getSvgheight(concept.rowDistribution, concept.hexagonSvgPaths.length), concept.rowDistribution.length)+ 'px'">
                                <path *ngFor="let hexPath of concept.hexagonSvgPaths; let i = index" [attr.d]="hexPath" [attr.fill] = "concept.hexagonColors[i]" stroke = "#fff" stroke-width="3px"/>
                                <text *ngFor="let question of concept.scores; let i = index" class="tnumber concept-labels font" [attr.x]="concept.centerX[i] - ((hexLabelText(question, conceptIndex).length / 2) * 4)" [attr.y]="concept.centerY[i]+7" fill="black">{{getTopicNumber(question)}}</text>
                            </svg>
                        </td>
                         <td *ngFor="let item of getSizedArray(findLevel(levelLimit - levelIndex)?(conceptLimit - reportDetails[0].length):response.concepts.length)"></td>

                    </tr>
                    <tr class="table-labels">
                        <th ><tr><p class="font axis-labels" style="margin: 8px 10px 0px 20px;">BL<i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </p></tr><hr><tr><p class="font axis-labels">{{reportService.replaceTopic(xLabel, 'concept')}}<i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </p></tr></th>
                        <th valign="top" style="justify-content: center;" *ngFor="let concept of reportDetails[0];let conceptIndex= index;">
                            <p  class=" concept-default-label font">{{reportService.replaceTopic(xLabel, 'concept')}}{{getConceptNumber(conceptIndex)}}</p>
                            <p class="concept-title">
                                <span class="font" valign="top" *ngIf="getFieldValue(conceptIndex, 'conceptnumber')">{{getFieldValue(conceptIndex, 'conceptnumber')}}</span>
                                <span  class="font topic-name" *ngIf="getFieldValue(conceptIndex, 'subtopic')"> {{getFieldValue(conceptIndex, 'subtopic')}}</span>
                                <span class="font topic-name" *ngIf="getFieldValue(conceptIndex, 'conceptstatement')"> {{getFieldValue(conceptIndex, 'conceptstatement')}}</span>
                            </p>
                        </th>
                        <!-- <th [hidden]="true"  valign="top" style="padding-bottom: 50px;padding: 10px;" *ngFor="let item of getSizedArray(conceptLimit - response.levelWiseAgregation[0].length);let i = index;"> <p class=" concept-default-label font">{{xLabel}}{{ i+response.levelWiseAgregation[0].length+1 }}</p> </th> -->
                    </tr>
                </table>
            </div>
            <div class="col-2">
                <img class="legend1" [attr.src]=legend>
            </div>
        </div>
    </div>
</div> 