 
<div *ngIf="this.accessToken || role == 'dipstickstudent'"> 
 <div>
<div class="container">            
<div class="search-courses-container col-sm-10 col-md-10 col-lg-3">
    <input [attr.value]="searchString" type="text" class="input-search" placeholder="Search for semester, department, year, course or coursecode" (change)="getSearchString($event.target.value)" #searchfieldpage>
   <i *ngIf="searchString" class="fa fa-times" aria-hidden="true" (click)="searchString='';searchfieldpage.value = '';searchText=''"></i>
    <i class="fa fa-search search-icon" (click)="searchText && searchMatchedCourses(searchfield,0,searchfieldpage.value)"></i>
</div>

<ng-template #searchfield let-modal>
    <div style="outline: 3px solid #d3d3d3 !important;">
    <div class="modal-header col-md-12 d-flex">
     <div class="col-md-8">
        <h2 class="modal-title fonts" id="modal-basic-title" style="    overflow-wrap: break-word;"> {{ !matchedCourses.length ? "No result(s)" : (matchedCourses.length + " Result(s)") }}  matched with '{{searchString}}'</h2>
      <!-- <h2 class="modal-title fonts" id="modal-basic-title">{{matchedCourses.length}}-Result(s) matched with '{{searchString}}'</h2> -->
    </div>
    <div>
    <button type="button" class="close" id="close" (click)="close(modal)">
        <span aria-hidden="true">&times;</span>
     </button>
    </div>
    </div>
    <div class="search-courses-container col-md-4">
        <input type="text" class="input-search" placeholder="search" (change)="getSearchString($event.target.value)" [attr.value]="searchString" #searchfieldpopup>
        <i *ngIf="searchString" class="fa fa-times" aria-hidden="true" (click)="searchfieldpopup.value = '';searchString='';searchText=''"></i>
        <i class="fa fa-search search-icon" (click)="isSearchPopupOpen=true;searchMatchedCourses(searchfield,1,searchfieldpopup.value)"></i>
    </div>

    <div class="modal-body col-12">
      <div class="clear-float"></div>
      <div class="matched-courses-list">
          <p class="Matchedlist" *ngFor="let courseData of matchedCourses;let i=index" (click)="setCourseData(i, modal)" [innerHTML]="getDisplayText(i)" > </p>
        </div>
    </div>
</div>
  </ng-template> 


     <div class="selector-body row">
        <div class="col-sm-5 col-md-5 col-lg-2">
            <label for="academicYear">Academic Year:-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewYear($event.target.value)">
                    <option disabled [selected]="!activeYear">Select Year</option>
                    <option *ngFor="let year of yearList" id={{year}} [selected]="activeYear && (year == activeYear)"
                        [value]="year">{{year}}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-5 col-md-5 col-lg-2">
            <label for="academicYear">Semester:- </label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewSemester($event.target.value)" [disabled]="!activeYear">
                    <option disabled [selected]="!activeSemesterId">Select Semester</option>
                    <option *ngFor="let semister of TempsemestersList;let i=index" id={{semister._id}}
                        [selected]="activeSemesterId && (semister._id == activeSemesterId)" [value]="semister._id">
                        {{ semister.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-sm-5 col-md-5 col-lg-2">
            <label for="academicYear">Department:-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewDepartment($event.target.value)" [disabled]="!activeSemesterId">
                    <option disabled [selected]="!activeDepartmentId">Select Department</option>
                    <option *ngFor="let dep of TempdepartmentList" id={{dep._id}}
                        [selected]="activeDepartmentId && (dep._id == activeDepartmentId)" [value]="dep._id">{{ dep.name
                        }}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-sm-5 col-md-5 col-lg-2">
            <label for="academicYear">Course(Program):-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewCourse($event.target.value)" [disabled]="!activeDepartmentId">
                    <option disabled [selected]="!activeCourseId">Select Course</option>
                    <option *ngFor="let course of TempcoursesList" id={{course._id}}
                        [selected]="activeCourseId && (course._id == activeCourseId)" [value]="course._id">
                        {{course.name}}({{course.program}})
                    </option>
                </select>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-2 mbl" style="display:flex;flex:wrap;">
            <button (click)="filter()" class="btn btn-primary btn-style" [disabled]="!activeCourse">Search</button>
        </div>
    </div>

</div>

</div>
</div>

<div *ngIf="role == 'faculty'">
    <div>
        <div class="container">
            <div class="search-courses-container col-sm-10 col-md-10 col-lg-3">
                <input [attr.value]="facultyAccessActiveSelectors.search" type="text" class="input-search"
                    placeholder="Search for semester, department, year, course or coursecode"
                    (change)="getSearchString($event.target.value)" #searchfieldpage>
                <i *ngIf="facultyAccessActiveSelectors.search" class="fa fa-times" aria-hidden="true"
                    (click)="facultyAccessActiveSelectors.search='';searchfieldpage.value = '';searchText=''"></i>
                <i class="fa fa-search search-icon"
                    (click)="searchText && onSearch(searchfield,0,searchfieldpage.value)"></i>
            </div>

            <ng-template #searchfield let-modal>
                <div style="outline: 3px solid #d3d3d3 !important;">
                    <div class="modal-header col-md-12 d-flex">
                        <div class="col-md-8">
                            <h2 class="modal-title fonts" id="modal-basic-title" style="overflow-wrap: break-word;">
                                {{ !filteredCourses.length ? "No result(s)" : (filteredCourses.length + " Result(s)") }}
                                matched with '{{searchString}}'</h2>
                        </div>
                        <div>
                            <button type="button" class="close" id="close" (click)="close(modal)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="search-courses-container col-md-4">
                        <input type="text" class="input-search" placeholder="search"
                            (change)="getSearchString($event.target.value)" [attr.value]="searchString"
                            #searchfieldpopup>
                        <i *ngIf="searchString" class="fa fa-times" aria-hidden="true"
                            (click)="searchfieldpopup.value = '';searchString='';searchText=''"></i>
                        <i class="fa fa-search search-icon"
                            (click)="isSearchPopupOpen=true;onSearch(searchfield,1,searchfieldpopup.value)"></i>
                    </div>

                    <div class="modal-body col-12">
                        <div class="clear-float"></div>
                        <div class="matched-courses-list">
                            <p class="Matchedlist" *ngFor="let courseData of filteredCourses;let i=index" (click)="setActiveCourse(i, modal)" [innerHTML]="getInfoText(i)"> </p>
                        </div>
                    </div>
                </div>
            </ng-template>


            <div class="selector-body row">
                <div class="col-sm-5 col-md-5 col-lg-2">
                    <label for="academicYear">Academic Year:-</label><br>
                    <div style="display:flex;flex:wrap;">
                        <select class=" form-select year-selector selector" aria-label="Default select example" (change)="onAccessYearChange($event.target.value)">
                            <option disabled [selected]="!facultyAccessActiveSelectors?.year">Select Year</option>
                            <option *ngFor="let year of facultyAccessYears" id={{year}} [selected]="facultyAccessActiveSelectors?.year && (year == facultyAccessActiveSelectors.year)" [value]="year">{{year}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-5 col-md-5 col-lg-2">
                    <label for="academicYear">Department:-</label><br>
                    <div style="display:flex;flex:wrap;">
                        <select class=" form-select year-selector selector" aria-label="Default select example" (change)="onAccessDepartmentChange($event.target.value)" [disabled]="!facultyAccessActiveSelectors?.year">
                            <option disabled [selected]="!facultyAccessActiveSelectors?.department">Select Department </option>
                            <option *ngFor="let department of facultyAccessFilteredList.departments" id={{department}} [selected]="facultyAccessActiveSelectors?.department && (department == facultyAccessActiveSelectors.department)" [value]="department">{{ facultyAccessDepartments[department] || "none" }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-5 col-md-5 col-lg-2">
                    <label for="academicYear">Course(Program):-</label><br>
                    <div style="display:flex;flex:wrap;">
                        <select class=" form-select year-selector selector" aria-label="Default select example"
                            (change)="onAccessCourseChange($event.target.value)"
                            [disabled]="!facultyAccessActiveSelectors?.department">
                            <option disabled [selected]="!facultyAccessActiveSelectors?.course">Select Course</option>
                            <option *ngFor="let course of facultyAccessFilteredList.courses" id={{course}} [selected]="facultyAccessActiveSelectors?.course && (course == facultyAccessActiveSelectors?.course)" [value]="course">
                                {{ facultyAccessCourses[course]?.name || course }}({{facultyAccessCourses[course].program || 'B.E'}})
                                  <!-- {{course}} -->
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3 col-lg-2 mbl" style="display:flex;flex:wrap;">
                    <button (click)="setActiveFacultyReport()" class="btn btn-primary btn-style" [disabled]="!facultyAccessActiveSelectors?.course">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>