.progress {
  margin: 10px;
}

.msgresponse {
  font-size: 126%;
}

.tooltip {
  font-size: 2%;
}

.tooltip {
  font-size: 2%;
}

.btn {
  margin-right: 0.5em;
  cursor: pointer;

}

.file-upload-button {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.disappear {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}

.card {
  display: inline-block;
  margin: 2rem;
}

input {
  width: 100%;
  padding: 12px 12px;
  box-sizing: border-box;
  margin: 8px 0;
}

input[type='radio'] {
  width: 40%;
  margin: 8px 0;
}

input[type='checkbox'] {
  width: 20%;
  margin: 8px 0;
}

input[type='submit'] {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.muted {
  color: grey;
  font-size: small;
}

.excel-columns-list {
  margin: 2px;
}

.missing-keys-body {
  /* margin-bottom: 10px;
    margin-top: 10px; */
  /* background-color: #fd2b2b; */
  margin: 10px;
  padding: 10px;
  border: #fd2b2b solid 1px;
  border-radius: 5px;
}

.missing-keys-body .missing-column {
  color: #ff0000;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  color: blue;
}

.delete {
  cursor: pointer;
  color: #e6091d;
  text-decoration-line: underline;
}

.files {
  cursor: pointer;
  color: rgb(58, 58, 102);
  text-decoration-line: underline;
}

ul.a {
  list-style-type: circle;
}


.breadcrumb {
  background: #f8f8f8;
  padding: 10px 0;
  width: 100%;
  margin-left: 1px;
  margin-top: 10px;
}

.tests {
  color: lightblue;
  text-decoration-line: underline;
}

button col {
  position: inherit;
}

.no-hover-testname-display {
  display: block
}

.hover-testname-display {
  display: none
}

.test-name-display-on-hover:hover .no-hover-testname-display {
  display: none
}


.test-name-display-on-hover:hover .hover-testname-display {
  display: block
}

.notFinished {
  color: #CE010A;
}

.notFinished1 {
  color: black;
}

/* .test-name-display-on-hover{

    .no-hover-testname-display{
      display: inline
    }
    .hover-testname-display{
      display: none
    }
  } */

.fonts {
  font-weight: inherit !important;
  color: inherit !important;

}

.fonts-color {
  font-weight: inherit !important;
  color: #888 !important;
}

.breadBack {
  cursor: pointer;
}

.breadBack:hover {
  text-decoration: underline;
  color: blue !important;
}


.fa-arrow-left:hover {
  text-decoration: underline;
  color: blue !important;
}

.alignment {
  display: flex;
  justify-content: space-between;

}



th, td {
    padding: 15px;
    /* text-align: center; */
  }
  


th,
td {
  padding: 15px;
  text-align: center;
}

/* .qalignment{ */
  /* padding: 15px; */
  /* text-align: left;
} */

.icon {
  font-size: 166%;
  cursor: pointer;
}

/* Add these styles to your component's CSS file */
.success-message,
.error-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.success-message {
  background-color: #4caf50;
  color: #fff;
}

.error-message {
  color: #090909;
}

td span {
  overflow-wrap: anywhere;
}

.video-item {
  display: flex;
  align-items: center;
}

.video-item input,
.video-item button {
  margin-right: 5px;
}

.btn-link.btn-sm {
  padding: 0.2rem 0.4rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-link.btn-sm i {
  vertical-align: middle;
}


.bullet {
  display: inline-block;
  width: 8px; /* Adjust size as needed */
  height: 8px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: black; /* Adjust color as needed */
  margin-right: 8px; /* Adjust spacing as needed */
}

.video-item .serial-number {
  margin-right: 10px; 
}


.tooltip-inner {
  background-color: #333;
  color: #fff;
  font-size: 14px;
}


 /* Toggle switch styling */
 .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}


.icon-right-top {
  position: absolute;
  display: flex;
  gap: 10px; 
  right:10px;
  top:5px;
}

.icon-right-top i {
  cursor: pointer;
  font-size: 16px; /* Adjust the size of the icons if needed */
  color: #333; /* Change icon color if needed */
}


.icon-right-top i:hover::after {
  content: attr(title); 
  position: absolute;
  top: -25px; 
  right: 0;
  background: #fff9f9;
  color: #272424;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-right-top i:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.copy-icon, .edit-icon {
  cursor: pointer;
}

.card {
  position: relative;
  overflow: hidden; 
}

.column {
  position: relative;
}

.modal-title{
  text-align:center;
}


@media (min-width: 576px){
.modal-dialog {
    max-width: 1000px !important;
    margin: 1.75rem auto;
  }

  .myCustomModalClass .modal-dialog {
    max-width: 1565px;
  }
}


/* 
  Notification snackbar
   */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbardelete {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbardelete.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}


.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms ease;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  appearance: none;
  /* Remove default arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="gray" stroke-width="2" d="M7 10l5 5 5-5"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

option:checked {
  background-color: #28a745;
  color: #fff;
}

select[multiple] {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="gray" stroke-width="2" d="M7 10l5 5 5-5"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.success-message {
  color: rgb(232, 235, 232); /* or any other color for success messages */
}

.error-message {
  color: rgb(243, 238, 238);  /* Red color for error messages */
}

.modalcontent {
  margin-left: 14%;
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  background-color: #d5d1d1;
  /* width: 200%; */
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
}

.time-selectors {
  display: flex;
  flex-direction: column;
  border: none;

  input {
    max-width: 100%;
  }
  select {
    font-size: 0.9em;
  }
}

.time-selectors1 {
  display: flex;
  flex-direction: column;
  border: none;

}

.options-container {
  position: absolute;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    background: white;
    max-height: 30vh;
    overflow-y: auto;
}

.options {
  text-wrap: nowrap;
}

.test-selection-container {
  padding: 15px 0;
}

.select-btn {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}


.selector-body {
  /* // padding: 15px;
  // flex-wrap: wrap;
  // display: flex;
  // place-content: space-around; */
  padding: 15px;
  /* flex-wrap: wrap; */
  display: flex;
  place-content: space-around;
  margin-top: 5%;
  color: #0a3c62;
}
.selector {
  min-height: 35px;
  width: 215px;
  max-width: 100%;
  padding: 15px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0a3c62;
  background:#fff url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'5\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%23343a40\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

.selector:focus{
border-color: rgb(17 119 209 / 75%);
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
  box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
  color: #0a3c62;
}

.file-row {
  display: flex; 
  align-items: center; 
  gap: 15px; 
  padding: 5px 0;
}

.file-name {
  margin: 0; 
  flex-grow: 1; 
}

.modal#deletestudentfile {
  z-index: 1055;
}

.modal#deletequestionfile {
  z-index: 1055;
}

button .badge {
  position: absolute;
  /* top: 9px; */
  /* right: 20px; */
  background-color: #19a10d;
  color: rgb(241 238 238);
  font-size: 0.8em;
  border-radius: 50%;
}
button .badgeQ {
  position: absolute;
  /* top: 9px; */
  /* right: 20px; */
  background-color: #19a10d;
  color: rgb(241 238 238);
  font-size: 0.8em;
  border-radius: 50%;
}
