<div id="crumb" class="row breads fontSize">&nbsp; <span (click)="resetBreadcrumb()"> <i
  class="fa fa-arrow-left breadBack"></i> &nbsp;&nbsp;</span> You are here : {{ breadcrumb }}</div>
<div class="container fonts topPlace">
<h2 class="fonts">Upload test scores</h2>
<hr>
<button class="btn btn-primary" (click)="open(createCourse)">Create Course</button>
<div class="row">
<div class="column" *ngFor="let course of courseList">
  <div class="card">
    <div class="card-body">
      <div class="icon-right-top">
        <i class="fa fa-clone" *ngIf="course" (click)="openModal(cloneModal, course, true)" title="Create Duplicate"></i>
      <i class="fa fa-pencil"  *ngIf="course" (click)="openModal(cloneModal, course, false)"title="Edit"></i>
      </div>  
      <h3 class="card-title fonts">{{course['name']}}-({{course['program'] }})</h3>
      <p class="card-text fonts">coursecode : {{course['coursecode']}}</p>
      <p class="card-text fonts-color">Upload test scores of the students</p>
      <p class="card-text fonts">Previously uploaded tests &nbsp;
        <a class="tests" (click)="tests(course['_id']);">
          <button class="btn btn-light"><i  class="fa fa-eye" rel="tooltip" title="View Tests"
              aria-hidden="true"></i></button>
        </a>&nbsp;
        <span style="cursor:pointer;" *ngIf="hiddenTest && testdata && forTestCourseid == course._id "
          (click)="hiddenTest = false"> <i   class="fa fa-times" aria-hidden="true" rel="tooltip"
            title="Cancel"></i></span>
      </p>
      <div *ngIf="hiddenTest">
        <ul class="muted">
          <div *ngFor="let test of testdata">
            <li style="list-style-type: upper-number;" *ngIf="testdata.length > 0 && test.courseid == course._id  ">
              <span class="test-name-display-on-hover">
                <p class=" fonts no-hover-testname-display">{{test.name.substring(0, 25)}}<span
                    *ngIf="test.name.substring(25)">...</span> &nbsp;</p>
                <p class=" fonts hover-testname-display">{{test.name}} &nbsp;</p>
              </span>
              <span class="files" (click)="files(test['_id'])"><i class="fa fa-file" rel="tooltip"
                  title="View files" aria-hidden="true"></i>
              </span>&nbsp;
              <span class="delete" (click)="delete(test._id ,test.name)" data-toggle="modal"
                data-target="#delete"><i class="fa fa-trash" rel="tooltip" title="Delete Tests"
                  aria-hidden="true"></i>
              </span>
            </li>
            <div *ngFor="let file of filedata;let i =index">
              <li style="font-size: 15px;" class="fonts" style="list-style-type: circle;"
                *ngIf="file.courseid == course._id && test['_id'] == file.testid ">{{file.fileName}} <br> {{
                getformatedDate(file.createdAt) }}</li>
            </div>
          </div>
        </ul>
      </div>
      <!-- <i class="fas fa-cog"></i> -->
      <div class="container">
        <h4 class="notFinished fonts" *ngIf="deletedMsg && course['name'] === selectedCourse">Deleted
          {{selectedTest}}. </h4>
      </div>
      <p style="font-size: 15px;" class="card-text fonts">Selected file:</p>
      <ul *ngIf="course['name'] === selectedCourse">
        <li style="font-size: 15px;" class="fonts" *ngFor="let info of fileInfo">{{info}}</li>
      </ul>

      <div>
        <h4 style="color: #ff0000;" class="notFinished fonts" *ngIf="errMsg && course['name'] === selectedCourse">
          This File has error,please check the file and try again.</h4>
      </div>

      <!-- <br> -->
      <div class="file-with-large-size-error-message" *ngIf="isLargeFile">
        <h4 style="color: #ff0000;" class="failure-message" *ngIf="course['name'] === selectedCourse">File size
          error: Please select a file with a size less than 600 KB for upload.</h4>
      </div>
      <div class="upload-progress" *ngIf="!uploadPregressBar.initState && uploadPregressBar.courseid==course._id">
        <div class="progress" *ngIf="uploadPregressBar.status==2">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="{{progressvalue}}" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{'width': uploadPregressBar.progressvalue + '%'}"></div>
        </div>
        <h4 class="success-message fonts" *ngIf="uploadPregressBar.status==1">File uploaded</h4>
        <h4 class="success-message fonts" *ngIf="uploadPregressBar.status==1 && response.insertedEntries >= 0">
          {{response.insertedEntries}} new records created </h4>
        <h4 class="notFinished1 fonts"
          *ngIf="uploadPregressBar.status==1 && response.insertedEntries >= 0 && response.notFinished == 0 ">
          {{response.notFinished}} records rejected.</h4>
        <h4 class="notFinished fonts" *ngIf="uploadPregressBar.status==1 && response.notFinished > 0 ">
          {{response.notFinished}} records rejected- error in 'Finished Status' </h4>
        <h4 class="failure-message fonts" *ngIf="uploadPregressBar.status==-1">File upload failed</h4>
        <h4 class="failure-message fonts" *ngIf="uploadPregressBar.status==0">Columns Didn't match</h4>
      </div>

      <button class="file-upload-button btn btn-primary">Select File
        <input type="file" accept=".xlsx" class="disappear"
          (change)="onFileChange($event, course); setCourseName(course);" />
      </button>

      <button class="btn btn-info fonts"
        *ngIf="excelColumns.length && selectedCourseId && selectedCourseId==course['_id']"
        (click)="open(tagfields)">match excel columns</button>
      <select class="btn btn-info fonts" style="font-size: 14px;" name="" id=""
        *ngIf="excelColumns.length && selectedCourseId && selectedCourseId==course['_id']"
        (change)="setAttempt($event.target.value)" [disabled]="uploadPregressBar.status==2">
        <!-- <option  disabled selected> Attempt 1 </option> -->
        <option [value]="validColumn" *ngFor="let validColumn of [1,2,3,4,5,6,7,8,9];"
          [selected]="validColumn == 1"> Attempt - {{validColumn}}</option>
      </select>
      <!-- <button class="btn btn-info" (click)="open(test)">Choose result details</button> -->
      <button
        [disabled]="!(excelColumns.length && selectedCourseId && selectedCourseId==course['_id'] && uploadedExcelData.isSameCourse && !uploadedExcelData.missingColumns.includes(COURSENAME))"
        class="btn btn-success fonts" (click)="upload(course)">Upload</button>

      <button class="btn btn-info" (click)="advancedSetting(advancedSettings,course)"><i class="fa fa-cog" aria-hidden="true" data-toggle="tooltip"
          data-placement="left" title="Advanced settings"></i>
      </button>
      <button (click)="openlms(testConfig, course, testName)" class="file-upload-button btn btn-info"> Tests
      </button>
      <button (click)="openModules(videoConfig, course, testName)" class="file-upload-button btn btn-info"> Modules
      </button>
    
    </div>
  </div>
</div>
</div>
</div>


<ng-template #createCourse let-modal>
<div class="modal-header">
<h4 class="modal-title fonts" id="modal-basic-title">Create New Course</h4>
<button id="close" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form #courseDetails="ngForm" (ngSubmit)="onCoursecreate(courseDetails.value);">
  <div class="form-group">

    <label class="fonts">Program :</label>
    <div class="input-group">
      <input id="Program" name="program" class="form-control" placeholder="Ex:BE" ngModel required>
    </div>
    &nbsp;&nbsp;
    <label class="fonts">Course name :</label>
    <div class="input-group">
      <input id="courseName" name="courseName" class="form-control" placeholder="Enter the course name" ngModel
        required>
    </div>
    &nbsp;&nbsp;
    <label class="fonts">Course code :</label>
    <div class="input-group">
      <input id="coursecode" name="coursecode" class="form-control" placeholder="Ex:course-2021_22" ngModel
        required>
    </div>
  </div>
  <button [disabled]="(!courseDetails.value.courseName || !courseDetails.value.coursecode)" type="submit"
    class="btn btn-success fonts" data-dismiss="courseDetails" ngModal>Create</button>
</form>
<div *ngIf="message" style="margin-top: 10px; color: inherit;  text-align: center; width: 100%; font-size: 18px;">
  {{ message }}
</div>
</div>
<div class="modal-footer">
</div>


</ng-template>


<ng-template #cloneModal let-modal>
<div class="modal-header">
<h3 class="modal-title text-center w-100">Edit Course Details</h3>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="modal-body">
<form>
  <div class="selector-body row">

    <div class="col-sm-5 col-md-5 col-lg-3">
      <label for="institution">Institution:-</label><br>
      <div style="display:flex;flex:wrap;">
        <select class="form-select year-selector selector" aria-label="Default select example"
          (change)="onInstituteChange($event.target.value)" [disabled]="!isCloneMode">
          <option disabled [selected]="!activeInstitute">Select Institution</option>
          <option *ngFor="let institute of institutes" [value]="institute._id">
            {{ institute.name }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-3">
      <label for="academicYear">Year:-</label><br>
      <div style="display:flex;flex:wrap;">
        <select class="form-select year-selector selector" aria-label="Default select example"
          (change)="setNewYear($event.target.value)" [disabled]="!activeInstitute || !isCloneMode">
          <option disabled [selected]="!activeYear">Select Year</option>
          <option *ngFor="let year of yearList" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>


    <div class="col-sm-5 col-md-5 col-lg-3">
      <label for="semester">Semester:-</label><br>
      <div style="display:flex;flex:wrap;">
        <select class="form-select year-selector selector" aria-label="Default select example"
          (change)="setNewSemester($event.target.value)" [disabled]="!activeYear" [disabled]="!activeYear || !isCloneMode">
          <option disabled [selected]="!activeSemesterId">Select Semester</option>
          <option *ngFor="let semester of TempsemestersList" [value]="semester._id">
            {{ semester.name }}
          </option>
        </select>
      </div>
    </div>


    <div class="col-sm-5 col-md-5 col-lg-3">
      <label for="department">Department:-</label><br>
      <div style="display:flex;flex:wrap;">
        <select class="form-select year-selector selector" aria-label="Default select example"
          (change)="setNewDepartment($event.target.value)" [disabled]="!activeSemesterId" [disabled]="!activeSemesterId || !isCloneMode">
          <option disabled [selected]="!activeDepartmentId">Select Department</option>
          <option *ngFor="let department of TempdepartmentList" [value]="department._id">
            {{ department.name }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="program">Program</label>
    <input type="text" class="form-control" id="program" [(ngModel)]="courseData.program" name="program" />
  </div>


  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input type="text" class="form-control" id="courseName" [(ngModel)]="courseData.courseName"  name="courseName" 
    />
  </div>

  <div class="form-group">
    <label for="courseCode">Course Code</label>
    <input type="text" class="form-control" id="courseCode" [(ngModel)]="courseData.courseCode" name="courseCode" />
  </div>


</form>

</div>
<div *ngIf="isCloneMode" style="margin-left: 10px;">
<span class="mr-4">
  <i class="fa fa-copy"></i> Copy Associated Tests
</span>
<input type="checkbox" class="ml-1" [(ngModel)]="copyTests" />

<span class="mr-1 ml-4">
  <i class="fa fa-copy"></i> Copy Associated Modules
</span>
<input type="checkbox" class="ml-1" [(ngModel)]="copyModules" />

</div>

<div class="modal-footer">
  <div *ngIf="message" style="margin-top: 10px; color: inherit;  text-align: center; width: 100%; font-size: 18px;">
    {{ message }}
  </div>
<button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
<button type="button" class="btn btn-primary"
  (click)="createCourseCopy(courseData, copyTests, copyModules, originalCourseId, modal)">Save Course</button>
</div>

</ng-template>




<ng-template #test let-modal>
<div class="modal-header">
<h4 class="modal-title fonts" id="modal-basic-title">Enter test details</h4>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">

<form #uploaddetails="ngForm" (ngSubmit)="onClickSubmit(uploaddetails.value); modal.close('Close click')">
 
  <label class="fonts">
    Post Assessment
  </label>
  <br>
  <br>
  <label class="fonts">Test Name</label> <br>
  <input type="text" name="testName" ngModel required>
  <br />
  <input type="submit" value="Submit" class="btn btn-success" data-dismiss="uploaddetails" ngModal>
  <br />
</form>
</div>
</ng-template>




<ng-template #tagfields let-modal>
<div class="modal-header">
<h2 class="modal-title fonts" id="modal-basic-title">Fields Mapping</h2>
<div type="button" class="close" aria-label="Close" class="btn btn-success" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">
    <h3 style="margin: 0px !important;">submit</h3>
  </span>
</div>
</div>
<div class="modal-body">
<div class="excel-columns-list-parent">
  <div class="course-match excel-columns missing-keys-body"
    *ngIf="!uploadedExcelData.isSameCourse || !uploadedExcelData.areAllEqual">
    <span style="font-size: 16px;" class="fonts" *ngIf="!uploadedExcelData.isSameCourse">Data present in this file
      does not belong to this Course <br>Check the <strong>Course Name and/or Course code</strong> in the file and
      re-upload </span>
    <span style="font-size: 16px;" class="fonts" *ngIf="!uploadedExcelData.areAllEqual">Some fields are missing in
      <strong>Question - Answer section</strong> please check the file and re-upload </span>
    <br>

  </div>
  <div class="excel-columns missing-keys-body" *ngIf="uploadedExcelData.missingColumns.length">
    <span style="font-size: 16px;" class="fonts">Missing columns : </span>
    <span style="font-size: 15px;" class="fonts" *ngFor="let column of uploadedExcelData.missingColumns"
      class="missing-column">{{column}} &nbsp;</span>
  </div>
  <ul class="excel-columns-list-body">
    <li class="excel-columns-list" *ngFor="let excelColumn of excelColumns;">
      <div class="row">
        <div style="font-size: 15px;" class="col fonts">{{excelColumn.value}}</div>
        <div class="col" style="position:inherit">
          <select style="font-size: 14px;" name="" id="" (change)="onChange($event.target.value,excelColumn)">
            <option disabled selected>select</option>
            <option [value]="validColumn" *ngFor="let validColumn of validColumns;">{{validColumn}}</option>
          </select>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
</ng-template>



<ng-template #advancedSettings let-modal>
<div class="modal-header">
<h3 class="modal-title fonts" id="modal-basic-title">Set the total student count: ({{cName}}).</h3>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<app-division-list-for-attendence [cid]="CID" [cname]="cName"></app-division-list-for-attendence>
</div>
</ng-template>



<div class="modal fade" id="delete" data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-sm modal-dialog-centered">
<div class=" modalcontent">
  <div class="modal-header">
    <h3 class="modal-title">Do you Want to Delete <b>{{ selectedTest }}</b> test.?</h3>
  </div>
  <div class="modal-footer" style="justify-content: space-between !important;">
    <button (click)="delete_confirm()" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
    <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal">Cancel</button>
  </div>
</div>
</div>
</div>


<div class="modal fade" id="deletestudentfile" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered">
  <div class=" modalcontent">
    <div class="modal-header">
      <h3 class="modal-title">Do you Want to Delete <b>{{ selectedTest }}</b> file.?</h3>
    </div>
    <div class="modal-footer" style="justify-content: space-between !important;">
      <button (click)="delete_studentfile_confirm()" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal">Cancel</button>
    </div>
  </div>
  </div>
  </div>

  <div class="modal fade" id="deletequestionfile" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class=" modalcontent">
      <div class="modal-header">
        <h3 class="modal-title">Do you Want to Delete <b>{{ selectedTest }}</b> file.?</h3>
      </div>
      <div class="modal-footer" style="justify-content: space-between !important;">
        <button (click)=" delete_questionfile_confirm()" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    </div>
    </div>


<ng-template #testConfig1 let-modal>
<div class="modal-header">

<h3 class="modal-title fonts" id="modal-basic-title">Upload</h3>
<button id="close" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
 <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body modal-lg">
<form #courseDetails="ngForm" >
 <div class="form-group alignment">
   <div>
     <button type="submit" class=" btn btn-primary" (click)="addRow()">+ New Row</button>
   </div>

   <div>
     <button class="file-upload-button btn btn-primary">Select File
       <input type="file" accept=".xlsx" class="disappear btn" (change)="onFileChangep($event);" #fileInput />
     </button>

     <button [disabled]="!fileInput.files || fileInput.files.length === 0 || uploadPregressBar.status !== 0"
   class="file-upload-button btn btn-primary" (click)="uploadstudentfile()">
<i class="fa fa-upload"></i> Upload
</button>
   </div>  
 </div>
 <div *ngIf="uploadPregressBar.status !== 0">
   <div *ngIf="(uploadPregressBar.status === 1) && response?.message?.length" class="success-message">{{ response.message }}</div>
   <div *ngIf="(uploadPregressBar.status === -1) && response?.message?.length" class="error-message">{{ response.message }}</div>
 </div>
 
 <table border="1">
   <thead> 
     <tr>
       <th><b>SI#</b></th>
       <th><b>Test Name</b></th>
       <th><b>Test URL</b></th>
       <th><b>Attempts(&lt;5) </b></th>
       <th><b>Max Score </b></th>
       <th><b>Edit</b></th>
       <th><b>Question file upload</b></th>
       <th><b>Copy URL</b></th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let row of tableData; let i = index">
       <td>{{ i + 1 }}</td>
       
       <td>
         <span *ngIf="editingRowIndex !== i && row.name !== ''">{{ row.name }}</span>
         <input [hidden]="!( editingRowIndex == i)" #testname name="testname" [value]="row.name"
           placeholder="Enter Test Name" />
       </td>
       <td>
        <span *ngIf="editingRowIndex !== i && row.name !== ''">{{ row.url }}</span>
        <input [hidden]="!( editingRowIndex == i)" #testurl name="testurl" [value]="row.url"
          placeholder="Enter Test URL" />
      </td>  
      <td>
        <span *ngIf="editingRowIndex !== i && row.maxAttempts !== ''">{{ row.maxAttempts }}</span>
        <input [hidden]="!( editingRowIndex == i)" #maxAttempts name="maxAttempts" [value]="row.maxAttempts"
          placeholder="Enter Test attempts"  type="number"/>
      </td>   
      <td>
        <span *ngIf="editingRowIndex !== i && row.maxScore !== ''">{{ row.maxScore }}</span>
        <input [hidden]="!( editingRowIndex == i)" #maxScore name="maxScore" [value]="row.maxScore"
          placeholder="Score"  type="number"/>
      </td>                 
       <td>
         <i *ngIf="editingRowIndex === i" (click)="saveTest(i,testname.value,testurl.value,maxAttempts.value, maxScore.value)"
           class="icon fa fa-solid fa-check"></i>
         <i *ngIf="editingRowIndex !== i" (click)="editTest(i,course,id)" class="icon fa fa-edit icon"></i>
       </td>
       <td>
         <div class="alignment">
          <button class="file-upload-button btn btn-primary" [disabled]="!row._id">Select File
            <input type="file" accept=".xlsx" class="disappear btn" (change)="onFileChangeq($event);"
              #questionFileInput />
          </button>

           <button [disabled]="!questionFileInput.files || questionFileInput.files.length === 0"
             class="file-upload-button btn btn-primary" (click)="uploadquestionfile(i)"><i
               class="fa fa-upload"></i></button>
         </div>
       </td>
       <td><span class="icon fa fa-copy icon" (click)="generatedToken(i)">
           <div className="tooltip" *ngIf="copiedStates[i]" id="copyTooltip">Copied!</div>
         </span></td>
     </tr>
   </tbody>
 </table>
</form>
</div>
<div class="modal-footer tests-list-modal-footer">
</div>
<div class="fonts" *ngIf="message" id="msg">
<p style="text-align: center; display: block;"><b>{{message}}</b></p>
</div>

<div id="snackbar"> {{response?.message}} </div>
</ng-template>

<ng-template #videoConfig let-modal>
<div class="modal-header">
<h3 class="modal-title fonts" id="modal-basic-title">Video Configuration</h3>
<button id="close" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body modal-lg">
<form #videoDetails="ngForm">
  <button type="button" class="btn btn-primary" (click)="addVideoRow()">+ Add New Row</button>
  <table border="1">
    <thead>
      <tr>
        <th><b>SI#</b></th>
        <th><b>Module Name</b></th>
        <th><b>Video Details</b></th>
        <th><b>Edit</b></th>
        <th><b>Enable Status</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contents of content; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <span *ngIf="editingVideoRowIndex !== i">{{ contents.moduleName }}</span>
          <input style="width: 100%; box-sizing: border-box;" [hidden]="editingVideoRowIndex !== i" [(ngModel)]="contents.moduleName" name="moduleName-{{ i }}" placeholder="Enter Module Name" required />
        </td>
        <td>
          <table border="1" style="width: 100%;">
            <thead>
              <tr>
                <th>SI#</th>
                <th>Video Name</th>
                <th>Video URL/ID</th>
                <th *ngIf="editingVideoRowIndex === i">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let video of contents.videos; let j = index">
                <td>{{ j + 1 }}</td>
                <td>
                  <span *ngIf="editingVideoRowIndex !== i">{{ video.videoName }}</span>
                  <input style="width: 100%; box-sizing: border-box;" [hidden]="editingVideoRowIndex !== i" [(ngModel)]="video.videoName" name="videoName-{{ i }}-{{ j }}" placeholder="Enter Video Name" required />
                </td>
                <td>
                  <span *ngIf="editingVideoRowIndex !== i">{{ video.videoUrl }}</span>
                  <input style="width: 100%; box-sizing: border-box;" [hidden]="editingVideoRowIndex !== i" [(ngModel)]="video.videoUrl" name="videoUrl-{{ i }}-{{ j }}" placeholder="Enter Video URL" required />
                </td>
                <td *ngIf="editingVideoRowIndex === i">
                  <button *ngIf="j === contents.videos.length - 1" type="button" class="btn btn-link btn-sm" (click)="addVideo(i)" ngbTooltip="Add Video">
                    <i class="fa fa-plus"></i>
                  </button>
                  <button type="button" class="btn btn-link btn-sm" (click)="removeVideo(i, j)" ngbTooltip="Remove Video">
                    <i class="fa fa-times" style="color: red;"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </td>

        
           <td>
          <i *ngIf="editingVideoRowIndex === i" (click)="saveVideo(i, contents.moduleName, contents.videos, contents.startTime, contents.endTime)" class="icon fa fa-solid fa-check"></i>
          <i *ngIf="editingVideoRowIndex !== i" (click)="editVideo(i)" class="icon fa fa-edit icon"></i>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" id="toggle-switch" [checked]="contents.Enablestatus" (change)="toggleModule(contents._id, $event)" />
            <span class="slider"></span>
          </label>
        </td>
      </tr>
      <!-- Handling the case where there are no videos -->
      <tr *ngIf="editingVideoRowIndex !== null && content[editingVideoRowIndex]?.videos.length === 0">
        <td colspan="4" class="text-center">
          <span>No videos available</span>
          <button type="button" class="btn btn-link btn-sm" (click)="addVideo(editingVideoRowIndex)" ngbTooltip="Add Video">
            <i class="fa fa-plus"></i> Add Video
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>
<div class="modal-footer"></div>
</ng-template>




<ng-template #testConfig let-modal>
<div class="modal-header">

<h3 class="modal-title fonts" id="modal-basic-title">Upload</h3>
<button id="close" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body modal-lg">
<form #courseDetails="ngForm">
  <div class="form-group alignment">
    <div>
      <button type="submit" class=" btn btn-primary" (click)="addRow()">+ New Row</button>
    </div>

    <div>
      <button class="file-upload-button btn btn-primary">Select File
        <input type="file" accept=".xlsx" class="disappear btn" (change)="onFileChangep($event);" #fileInput />
      </button>

      <button [disabled]="!fileInput.files || fileInput.files.length === 0 || uploadPregressBar.status !== 0"
        class="file-upload-button btn btn-primary" (click)="uploadstudentfile(i)">
        <i class="fa fa-upload"></i> Upload
      </button>
      <button class="btn btn-light" (click)="toggleViewStudentFiles(i)">
        <i [ngClass]="isEyeOpen && visibleFileIndex === i ? 'fa fa-eye' : 'fa fa-eye-slash'" rel="tooltip" title="View Files"
          aria-hidden="true"></i>
      </button>

      <div *ngIf="visibleFileIndex === i">
        <div *ngIf="filedata?.files && filedata.files.length > 0">
            <div *ngFor="let file of filedata.files" class="file-row">
                <p class="file-name">{{ file.fileName }}</p>
    
                <span class="files" (click)="toggleFileDate(file._id)">
                    <i class="fa fa-file" [attr.title]="file.createdAt | date:'medium'" aria-hidden="true"></i>
                </span>
    
                <span class="delete" (click)="deletestudentfile(file._id, file.fileName)" data-toggle="modal" data-target="#deletestudentfile">
                    <i class="fa fa-trash" rel="tooltip" title="Delete student file" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    
        <div *ngIf="filedata?.files && filedata.files.length === 0">
            <p class="file-name">No files are available</p>
        </div>
    </div>




    </div>

  </div>
  <div *ngIf="uploadPregressBar.status !== 0">
    <div *ngIf="(uploadPregressBar.status === 1) && response?.message?.length" class="success-message">{{
      response.message }}</div>
    <div *ngIf="(uploadPregressBar.status === -1) && response?.message?.length" class="error-message">{{
      response.message }}</div>
  </div>

  <table border="1">
    <thead>
      <tr>
        <th><b>SI#</b></th>
        <th><b>Test Name</b></th>
        <th><b>Test URL</b></th>
        <th><b>Attempts (&lt;5) </b></th>
        <th><b>Max Score </b></th>
        <th><b>Question file upload</b></th>
        <th><b>Copy URL</b></th>
        <th><b>Test Status</b></th>
        <th><b>Start Time</b></th>
        <th><b>End Time</b></th>
        <th><b>Pre requisites</b></th>
        <th><b>Edit</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData; let i = index">
        <td>{{ i + 1 }}</td>

        <td>
          <span *ngIf="editingRowIndex !== i && row.name !== ''">{{ row.name }}</span>
          <input [hidden]="!( editingRowIndex == i)" #testname name="testname" [value]="row.name"
            placeholder="Enter Test Name" />
        </td>
        <td>
          <span *ngIf="editingRowIndex !== i && row.name !== ''">{{ row.url }}</span>
          <input [hidden]="!( editingRowIndex == i)" #testurl name="testurl" [value]="row.url"
            placeholder="Enter Test URL" />
        </td>
        <td>
          <span *ngIf="editingRowIndex !== i && row.maxAttempts !== ''">{{ row.maxAttempts }}</span>
          <input [hidden]="!( editingRowIndex == i)" #maxAttempts name="maxAttempts" [value]="row.maxAttempts"
            placeholder="Enter Test attempts" type="number" />
        </td>
        <td>
          <span *ngIf="editingRowIndex !== i && row.maxScore !== ''">{{ row.maxScore }}</span>
          <input [hidden]="!( editingRowIndex == i)" #maxScore name="maxScore" [value]="row.maxScore"
            placeholder="Score" type="number" />
        </td>
        
        <td>
          <div >
            <button class="file-upload-button btn btn-primary" [disabled]="!row._id">
              Select File
              <input type="file" accept=".xlsx" class="disappear btn" (change)="onFileChangeq($event);"
                #questionFileInput />
            </button>

            <button [disabled]="!questionFileInput.files || questionFileInput.files.length === 0"
              class="file-upload-button btn btn-primary" (click)="uploadquestionfile(i)">
              <i class="fa fa-upload"></i>
            </button>

            <button class="btn btn-light" (click)="toggleViewQuestionFiles(i)">
              <i [ngClass]="visibleQuestionFileIndex === i && isEyeOpen ? 'fa fa-eye' : 'fa fa-eye-slash'" rel="tooltip" title="View Files"
                aria-hidden="true"></i>
            </button>

            <span style="cursor:pointer;" *ngIf="hiddenTest && testdata && forTestCourseid == course._id"
              (click)="hiddenTest = false">
              <i class="fa fa-times" aria-hidden="true" rel="tooltip" title="Cancel"></i>
            </span>
          </div>

          <div class="qalignment" *ngIf="visibleQuestionFileIndex === i">
            <div *ngIf="filedata && filedata.files.length > 0">
              <div *ngFor="let file of filedata.files" class="file-row">
                <p class="file-name">{{ file.fileName }}</p>
          
                <span class="files" (click)="toggleFileDate(file._id)">
                  <i class="fa fa-file" rel="tooltip" [attr.title]="file.createdAt | date:'medium'" aria-hidden="true"></i>
                </span>
          
                <span class="delete" (click)="deletequestionfile(file._id, file.fileName)" data-toggle="modal" data-target="#deletequestionfile">
                  <i class="fa fa-trash" rel="tooltip" title="Delete Question file" aria-hidden="true"></i>
                </span>
                <br>
              </div>
            </div>
          
            <div *ngIf="filedata && filedata.files.length === 0">
              <p class="file-name">No files are available</p>
            </div>
          </div>

        </td>


        <td><span class="icon fa fa-copy icon" (click)="generatedToken(i)">
            <div className="tooltip" *ngIf="copiedStates[i]" id="copyTooltip">Copied!</div>
          </span></td>

        <td>
          <label class="switch">
            <input type="checkbox" (change)="toggleSwitch($event, i)" #isEnabled name="isEnabled"
              [checked]="row.isEnabled" [disabled]="editingRowIndex !== i">
            <span class="slider round"></span>
          </label>
        </td>

        <td>
          <div class="time-selectors">
            <span *ngIf="editingRowIndex !== i">{{ row?.startDateTime | date: 'mediumDate' }}</span>
            <input *ngIf="editingRowIndex == i" [disabled]="isToggled"
                   (change)="inputDates($event, DATE_FILTERS.START)" type="date" name="startDateTime" #startDateTime
                   [value]="editingTestStartDate" [max]="editingTestEndDate">
        
            <span *ngIf="editingRowIndex !== i">{{ row?.startDateTime | date: 'shortTime' }}</span>
            <input *ngIf="editingRowIndex == i" [disabled]="isToggled"
                   (change)="inputTimes($event, DATE_FILTERS.START)" type="time" name="startDateTime" #startDateTime
                   [value]="editingTestStartTime">
          </div>
        </td>
        
        <td>
          <div class="time-selectors">
            <span *ngIf="editingRowIndex !== i">{{ row?.endDateTime | date: 'mediumDate' }}</span>
            <input *ngIf="editingRowIndex == i" [disabled]="isEndDateDisabled || isToggled"
                   (change)="inputDates($event, DATE_FILTERS.END)" type="date" name="endDateTime" #endDateTime
                   [value]="editingTestEndDate" [min]="editingTestStartDate">
        
            <span *ngIf="editingRowIndex !== i">{{ row?.endDateTime | date: 'shortTime' }}</span>
            <input *ngIf="editingRowIndex == i" [disabled]="isEndDateDisabled || isToggled"
                   (change)="inputTimes($event, DATE_FILTERS.END)" type="time" name="endDateTime" #endDateTime
                   [value]="editingTestEndTime" [min]="editingTestStartTime">
          </div>
        </td>
        
        

        <td class="test-selection-container">
          <span *ngIf="editingRowIndex !== i && row.time1 !== ''">
            {{ selectedTests[row._id]?.join(', ') || 'No tests selected' }}
          </span> 
          <div class="select-container">
            <div *ngIf="editingRowIndex == i" class="select-btn" (click)="openTestDropdown(i)">Select</div>
            <div class="options-container" *ngIf="i == activeTestDropdown">
              <div class="options" *ngFor="let test of tableData" [hidden]="row._id == test._id">
                <input type="checkbox" 
                       [attr.name]="row._id + '-' + test._id" 
                       [attr.id]="row._id + '-' + test._id"
                       [checked]="selectedTests[row._id]?.includes(test.name)"
                       (change)="toggleTestSelection(row._id, test)">
                <label [attr.for]="row._id + '-' + test._id">
                  {{ test.name.slice(0, 10)}}
                </label>
              </div>
            </div>
          </div>
        </td>
        

        <td>
          <i *ngIf="editingRowIndex === i"
             (click)="saveTest(i, testname.value, testurl.value, maxAttempts.value, maxScore.value)"
             class="icon fa fa-solid fa-check"></i>
        
          <i *ngIf="editingRowIndex !== i"
             (click)="editTest(i)"
             class="icon fa fa-edit icon"></i>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</div>
<div class="modal-footer tests-list-modal-footer">
</div>
<div class="fonts" *ngIf="message" id="msg">
<p style="text-align: center; display: block;"><b>{{message}}</b></p>
</div>

<div id="snackbar">
  {{ response?.message }}
</div>

<div id="snackbardelete">
  {{ responseMessage }} 
</div>


</ng-template>


