.btn {
    margin-right: 2em;
}

input {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}
.sub:hover{
    box-shadow: 1px 1px 10px #ccc;
    color:blue;
}
.sub{
    text-align: center;
    border: solid 1px black;
    margin : 5px;
    cursor: pointer;
}
.kk{
    padding-left: 50px;
}
.breadcrumb{
    /* background: #f8f8f8; */
    padding: 10px 0;
    width: 100%;
    margin-left: 1px;
    /* margin-top: 10px; */
    background: #eceeef;
}
  
.a1 , .a2{
 cursor: pointer;
}

.a1:hover{
    text-decoration: underline;
    color: blue;
}
.a2:hover{
    text-decoration: underline;
    color: blue;
}

.fonts{
    font-weight: inherit !important; color: inherit !important;
    
  }

.breads p span::before {
    content: ' / ';
}

.btn-css{
    width: 20%;
    margin: 10px;
    position: inherit;
    word-wrap: break-word;
    white-space: normal;
}

.search-courses-container {
    width: 40%;
    float: right;
    display: flex;
    align-items: center;
    margin-right: 5px;
    border: #3f3e3e 1px solid;
    border-radius: 20px;
    padding: 5px;
}

@media only screen and (max-width: 990px) {
  .search-courses-container {
      float: none;
  }
}

.search-courses-container .search-icon {
    padding: 5px;
}

input.input-search:focus {
    outline: none;
}

input.input-search  {
    border: 0;
    padding: 2px 4px;
    margin: 0px;
    color: #0a3c62;
}


.clear-float {
    clear: both;
}

.modal-header .close {
    margin-left: 0px;
}

.modal-header-container {
    width: 100%;
}

@media screen and (max-device-width:300px), screen and (max-width:400px) {
    .btn-css {
        min-inline-size: fit-content;    }

        .sub{
            min-inline-size: fit-content;  
        }
    }
    .matched-courses-list{
        cursor: pointer;
    }

.noStr{
    /* cursor: no-drop; */
     }

.withStr{
    cursor: pointer;
}




.hovertext {
    position: relative;
    /* font-weight: bold ; */
      font-size: 18px;
    cursor: pointer;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    margin-left: 30%;
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 45px;
    cursor: pointer;
    padding: 5px;
    font-size: smaller;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }  


  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: rgb(12, 33, 219);
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
