<div *ngIf="this.activeInstitute" id="crumb" class="row breads fontSize">
  <p style="margin:0px;">You are here :
    <span (click)="flushSelectors()" *ngIf="this.activeInstitute" class="a1" [disabled]="this.selectedyear">reports</span>
    <span (click)="resetYear()" *ngIf="isAdmin" class="a1" [disabled]="activeInstitute">{{activeInstitute?.name}}</span>
    <span (click)="resetSEM()" *ngIf="activeYear" class="a2" [disabled]="activeYear">{{activeYear}}</span>
    <span (click)="resetDepartment()" *ngIf="activeSemester" class="a2" [disabled]="activeSemester?.name">{{activeSemester.name}}</span>
    <span (click)="resetCourse()" class="a2" *ngIf="activeDepartment" [disabled]="activeDepartment">{{activeDepartment?.name}}</span>
    <span (click)="bck3(this.selectedCourse)" class="a2" *ngIf="activeCourse" [disabled]="activeCourse">{{activeCourse.name}}-{{activeCourse.coursecode}}</span>
  </p>
</div>
<div class="container fonts topPlace">

<div class="search-courses-container" *ngIf="activeInstitute?._id">
  <input type="text" class="input-search" placeholder="Search for semester, department, year, course or coursecode" (change)="getSearchString($event.target.value)" [attr.value]="searchString" #searchfieldpage>
  <span class="withStr"  [ngClass]="{'noStr':!searchString,'withStr':searchString}" (click)="searchfieldpage.value = '';searchString=''" >&times;</span>
  <i  [disable]="!searchString"  [ngClass]="{'noStr':!searchString,'withStr':searchString}" class="fa fa-search search-icon withStr" (click)="searchMatchedCourses(searchfield,true)"></i>
</div>
<div class="clear-float"></div>
<div class="form-group" *ngIf="!activeInstitute && isUser">
    <div><h2 class="fonts"> Select Institutes </h2>
      <div style="justify-content: center; text-align: center;">
        <span *ngIf="!institutes.length" class="loader"></span>
      </div>

      <div *ngIf="institutes.length">
        <button style="font-size: 15px;" *ngFor="let institute of institutes;" (mouseenter)="getinstituteWiseCount(institute)" (click)="setInstitute(institute)" class="btn btn-warning col-3 fonts btn-css hovertext" [attr.data-hover]="instituteCount">
          {{institute?.name}} </button>
      </div>
    </div>
  </div>
  
  <div class="form-group" *ngIf="activeInstitute && !activeYear">
    <div>
      <h2 class="fonts">Select year </h2>
      <div style="justify-content: center; text-align: center;">
        <span *ngIf="!year.length" class="loader"></span>
      </div>

      <div *ngIf="year.length != 0">
        <button style="font-size: 15px;"  *ngFor="let yearsofdep of year;" (click)="setYear(yearsofdep)" (mouseenter)="getyearWiseCount(yearsofdep)"  class="btn btn-warning col-3 btn-css hovertext" [attr.data-hover]="yearCount"> 
          {{yearsofdep}}
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="activeInstitute &&  activeYear && !activeSemester" id='branch' class="fonts">
    <h2 class="fonts">Semesters</h2>
    <div class="row kk">
      <div class="col-3 sub" style="padding:20px;cursor: pointer;position:inherit"
      *ngFor="let semester of semesters;" [hidden]="semester.year!= activeYear" style="padding: 10px;"
        (click)="setSemester(semester)">
        {{semester.name}}
      </div>
    </div>
  </div>
  
  <div *ngIf="activeInstitute &&  activeYear && activeSemester && !activeDepartment" id='branch' class="fonts">
    <h2 class="fonts">Departments</h2>
    <div class="row kk">
      <div class="col-3 sub" style="padding:20px;cursor: pointer;position:inherit"
      *ngFor="let department of departments;" style="padding: 10px;"
      (click)="setdepartment(department)">
        {{department.name}}
      </div>
    </div>
  </div>

  <!-- <div *ngIf="selectedBranch">
    <h3>Departments</h3>
    <div class="row kk" >
      <div class="col-3 sub" style="padding:20px;"  *ngFor="let department of departments;" [hidden]="department.name !=selectedBranch" style="padding: 10px;" (click)="setdepartment(department)">
        {{department.name}}
      </div>
    </div>
  </div> -->
  
  
  <div *ngIf="activeInstitute &&  activeYear && activeDepartment && !activeCourse " id='course' class="fonts">
    <h2 class="fonts">Courses</h2>
    <div class="row kk">
      <div *ngIf="loadShow">
        <div style="display: block;" id="loading" class="loading">Loading&#8230;</div>
      </div>
      
      <div [hidden]="!courseList.length && loadShow && !noTests" class="col-3 sub" *ngFor="let course of courseList"
      style="padding: 10px; cursor: pointer; position:inherit" (click)='chooselevel(course)'>
      <span> {{ course['name'] }}({{course['program']}})</span>
      </div>
      
      <div *ngIf="!loadShow && noTests" class="col-3 sub" style="padding: 10px; cursor: pointer;">
        <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          <h4>No courses available for this Department.</h4>
          <p class="fonts" *ngIf="isAdmin">To create course <a [routerLink]="['..','department', dep_id]"
            routerLinkActive="active"><b>click here</b></a> </p>
          </span>
      </div>
      
    </div>
  </div>


  <div *ngIf='activeInstitute && activeSemester && activeYear && activeDepartment && activeCourse'>
    <app-choose-level [id]='forCourseid' [breadcrumb]='data'></app-choose-level>
  </div>
</div>

<ng-template #searchfield let-modal>
  <div class="modal-header">
    <div class="modal-header-container">
      <h2 class="modal-title fonts" id="modal-basic-title"> {{ !searchedCourseInfo?.matchedCourses.length ? "No result(s)" : (searchedCourseInfo?.matchedCourses.length + " Result(s)") }}  matched with '{{searchedCourseInfo.searchString}}'</h2>

      <div class="search-courses-container" *ngIf="activeInstitute?._id">
        <input type="text" class="input-search" placeholder="Search for semester, department, year, course or coursecode" (change)="getSearchString($event.target.value)" [attr.value]="searchString" #searchfieldpopup>
        <span class="matched-courses-list withStr" (click)="searchfieldpopup.value = '';searchString=''" >&times;</span>
        <i  class="fa fa-search search-icon withStr" (click)="searchMatchedCourses(searchfield,false)"></i>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" id="close" (click)="closeModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="clear-float"></div>
    <div class="matched-courses-list">
        <p *ngFor="let courseData of searchedCourseInfo.matchedCourses;let i=index" (click)="setCourseData(i, modal)" [innerHTML]="getDisplayText(i)" > </p>
      </div>

    </div>
    <div class="fonts" *ngIf="message" id="msg">
    <p style="text-align: center; display: block;"><b>{{message}}</b></p>
  </div>
</ng-template>