<!-- <h2 style="margin: 0px;color:#900C3F; text-align: center;  font-weight: inherit !important;">
    Course Name:{{reportDetails.course.name}}({{reportDetails.course.coursecode}})</h2>
<div class="container-fluid main">
    <div [style.display]="reportDetails.divisions.length ? 'none' : 'block' " id="loading1" class="loading">Loading&#8230;</div>
    <div class="card-body">
        <div class="row bottom-space">
            <div class="col-10 container" style="position: inherit;">
                <div class="row scollBar" >

                    <div  style="position: inherit;margin-bottom: 5%;overflow-x: auto;overflow-y: hidden;margin-left: 10px;" class=" hexagon-column hex-labels mar col-sm-11 col-xl-5" [ngClass]="{'col-md-5': !getTestCountOfRowDistributionCount(division?.rowDistribution), 'col-md-11': getTestCountOfRowDistributionCount(division?.rowDistribution)}" *ngFor="let division of reportDetails['divisionWiseScores']; let divisionIndex = index" [hidden]="!hasTest(reportDetails.divisionWiseScores[divisionIndex]['hexagonSvgPaths'])">
                        <p [ngStyle]="{pointerEvents: isPopupVisible ? 'auto' : 'none'}" style="margin-bottom: 0;" class="hexagon-cluster-title testname fonts" (click)="activeDivision = reportDetails['divisions'][divisionIndex];open(tablemodal)">Division :   {{reportDetails['divisions'][divisionIndex]}} </p>
                            <svg [attr.viewBox]="division.viewBox" [style.width]="(getSvgWidth(division.rowDistribution)*60)+ 'px'" [style.marginBottom]="getNegativeMargin(getSvgheight(division.rowDistribution, division.hexagonSvgPaths.length), division.rowDistribution.length)+ 'px'">
                                <path *ngFor="let hexPath of division['hexagonSvgPaths']; let Index = index" [attr.d]="hexPath" [attr.fill] = "division['hexagonColors'][Index]" stroke = "#a9a9a9"/>
                                <text style="cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of division['centerX']; let i = index" [attr.x]="division['centerX'][i] - ((getHexText(i).length / 2) * 5) - (getHexText(i).length > 3 ? (getHexText(i).length - 3 ) * 2 : 0)" [attr.y]="division['centerY'][i]" fill="black">{{getHexText(i, divisionIndex)}}
                                    <title class="tooltiptext">{{getHexText(i, divisionIndex)}}-{{reportType == "conceptwise" ? reportDetails.allTopics[i]._id.subtopic : reportDetails.allTopics[i]._id.conceptstatement}}</title>
                                </text>
                                <text style="cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of division['centerX']; let i = index" [attr.x]="division['centerX'][i] - (((reportDetails.divisionWiseScores[divisionIndex].scores[i].score == 100 ? 100 : reportDetails.divisionWiseScores[divisionIndex].scores[i].score.toFixed(2)).toString().length / 2) * 5) - ( reportDetails.divisionWiseScores[divisionIndex].scores[i].score != -1 ? 4 : -4 ) " [attr.y]="division['centerY'][i]+14" fill="black">{{ reportDetails.divisionWiseScores[divisionIndex].scores[i].score == -1 ? ' N/A' : ((reportDetails.divisionWiseScores[divisionIndex].scores[i].score == 100 ? 100 : reportDetails.divisionWiseScores[divisionIndex].scores[i].score.toFixed(2)) + '%')}}
                                    <title class="tooltiptext">{{getHexText(i, divisionIndex)}}-{{ reportType == "conceptwise" ? reportDetails.allTopics[i]._id.subtopic : reportDetails.allTopics[i]._id.conceptstatement}}</title>
                                </text>
                            </svg> 
                    </div>
                    <div *ngIf="pagenationLoader" 
                    style="display: block;
                            position: relative;
                            overflow: visible;
                            margin: auto;
                            left: 0;
                            bottom: 0;
                            margin-right: 65%;
                    " id="loading1" class="loading">Loading&#8230;
                    </div>
                    
                </div>
            </div>
            <div class="col-2"  style="position: inherit;">
                <img class="legend" [attr.src]=legend>
                <app-download-group-reports></app-download-group-reports>
            </div>
        </div>

          <div class="space scollBar" [hidden]="false">
          <table class="table table-bordered space fonts  Font-size-for-listing" *ngIf="reportDetails['divisions'].length">
               <thead >
                   <tr>
                       <th scope="col"> Serial # </th>
                       <th scope="col" *ngIf="reportDetails.allTopics[0].conceptstatement || reportDetails.allTopics[0]._id?.conceptstatement" >{{ 'Concept Statement'  }}</th>

                       <th scope="col" *ngIf="(reportDetails.allTopics[0]['conceptnumber']) || (reportDetails.allTopics[0].subtopic  || reportDetails.allTopics[0]._id?.subtopic || reportDetails.allTopics[0]._id?.subtopic)"> 
                       
                           <span scope="col" *ngIf="reportDetails.allTopics[0]['conceptnumber']">{{ 'Concept Number' }}</span>
                           <span scope="col" *ngIf="(reportDetails.allTopics[0]['conceptnumber']) || (reportDetails.allTopics[0].subtopic  || reportDetails.allTopics[0]._id?.subtopic || reportDetails.allTopics[0]._id?.subtopic)" > &nbsp; - &nbsp; </span>
                          <span scope="col" *ngIf="reportDetails.allTopics[0].subtopic  || reportDetails.allTopics[0]._id?.subtopic || reportDetails.allTopics[0]._id?.subtopic">{{ 'Subtopic' }} Name</span>
                    
                    </th>

                   </tr>
              </thead>
              <tbody class="fonts Font-size-for-listing">
              <tr *ngFor="let concept of reportDetails.allTopics;let conceptIndex = index;" [attr.data-index]="i">
                  <td class="table-list-items" scope="row" >{{labelPrefix}}{{conceptIndex+1}}</td>
                  
                  <td class="table-list-items testname-list-display" *ngIf="(concept?.subtopic || concept?._id?.subtopic || concept?._id?.subtopic) || (concept['conceptnumber'])"  >
                      <span class="table-list-items testname-list-display" *ngIf="concept['conceptnumber']">{{concept['conceptnumber']}}</span>
                      <span class="table-list-items testname-list-display" *ngIf="(concept?.subtopic || concept?._id?.subtopic || concept?._id?.subtopic) && (concept['conceptnumber'])"> &nbsp;-&nbsp; </span>
                      <span class="table-list-items testname-list-display" *ngIf="concept?.subtopic || concept?._id?.subtopic || concept?._id?.subtopic">{{concept?.subtopic?.subtopic || concept?._id?.subtopic }}</span>
                  </td>

                  <td class="table-list-items testname-list-display" *ngIf="concept?.conceptstatement   || concept?._id?.conceptstatement">{{concept?.conceptstatement?.conceptstatement || concept?.conceptstatement || concept?._id?.conceptstatement }}</td>
              </tr>
              </tbody>
          </table>
          </div>
    </div>
</div>
 
<ng-template #tablemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title test-title-modal fonts" id="modal-basic-title">{{activeDivision}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-popup-table-view-conceptwise [reportType]="reportType" [type]="'divisionWise'" [division]="activeDivision" [labelPrefix]="labelPrefix" [xLabel]="popupXLabel"></app-popup-table-view-conceptwise>
    </div>
</ng-template> -->

<h2 style="margin: 0px;color: #0a3c62;  text-align: center;  font-weight: inherit !important;">
    Course Name:{{courseDetails.name}}({{courseDetails.coursecode}})</h2>
<div class="container-fluid main">
    <div *ngIf="!reportDetails?.length" id="loading1" class="loading">Loading&#8230;</div>
    <div class="card-body" *ngIf="reportDetails.length">
        <div class="row bottom-space">
            <div class="col-10 container" style="position: inherit;">
                <div class="svg-parent-container scollBar">
                    <div style="margin-bottom: 5%; margin-left: 10px;" class=" hexagon-column hex-labels mar svg-body"
                        *ngFor="let reportDetail of reportDetails; let divisionIndex = index"
                        [hidden]="!hasTest(reportDetail['hexagonSvgPaths'])">
                        <p [ngStyle]="{pointerEvents: isPopupVisible ? 'auto' : 'none'}" style="margin-bottom: 0;"
                            class="hexagon-cluster-title testname fonts"
                            (click)="activeDivision = reportDetail.topics[0]?.division;open(tablemodal)">Division :
                            {{reportDetail.topics[0]?.division}} </p>
                        <div class="svg-container">
                            <svg [attr.viewBox]="reportDetail.viewBox"
                                [style.width]="(getSvgWidth(reportDetail.rowDistribution)*60)+ 'px'"
                                [style.marginBottom]="getNegativeMargin(getSvgheight(reportDetail.rowDistribution, reportDetail.hexagonSvgPaths.length), reportDetail.rowDistribution.length)+ 'px'">
                                <path *ngFor="let hexPath of reportDetail['hexagonSvgPaths']; let Index = index"
                                    [attr.d]="hexPath" [attr.fill]="reportDetail['hexagonColors'][Index]" stroke="#fff"
                                    stroke-width="3px" />
                                <text style="cursor: pointer;" class="hex-label fontSize"
                                    *ngFor="let hexCenterX of reportDetail['centerX']; let i = index"
                                    [attr.x]="reportDetail['centerX'][i] + 3" text-anchor="middle"
                                    [attr.y]="reportDetail['centerY'][i]" fill="black">
                                    {{getTopicNumber(reportDetail?.topics[i])}}
                                    <!-- <title class="tooltiptext">{{getTopicNumber(reportDetail?.topics[i])}}-{{reportType == "conceptwise" ? reportDetail.topics[i].subtopic : reportDetail.topics[i].conceptstatement}}</title> -->
                                    <title class="tooltiptext">Test Name :{{ reportDetail.topics[i].testName}}&#10;{{
                                        reportType == "conceptwise"? "" :"Subtopic: "+reportDetail.topics[i].subtopic }}
                                    </title>
                                </text>
                                <text style="cursor: pointer;" class="hex-label fontSize"
                                    *ngFor="let hexCenterX of reportDetail['centerX']; let i = index"
                                    [attr.x]="reportDetail['centerX'][i] + 3" text-anchor="middle"
                                    [attr.y]="reportDetail['centerY'][i]+14" fill="black">{{
                                    (reportDetail.topics[i].score == -1) || (reportDetail.topics[i].score == null) ? '
                                    N/A' :
                                    getScoreNumber(reportDetail.topics[i].score) + '%'}}
                                    <!-- <title class="tooltiptext">{{getTopicNumber(reportDetail?.topics[i])}}-{{ reportType == "conceptwise" ? reportDetail.topics[i].subtopic : reportDetail.topics[i].conceptstatement}}</title> -->
                                    <title class="tooltiptext">Test Name :{{ reportDetail.topics[i].testName}}&#10;{{
                                        reportType == "conceptwise"? "" :"subtopic: "+reportDetail.topics[i].subtopic }}
                                    </title>
                                </text>
                            </svg>
                        </div>
                    </div>
                    <!-- <div *ngIf="pagenationLoader" 
                    style="display: block;
                            position: relative;
                            overflow: visible;
                            margin: auto;
                            left: 0;
                            bottom: 0;
                            margin-right: 65%;
                    " id="loading1" class="loading">Loading&#8230;
                    </div> -->

                </div>
            </div>
            <div class="col-2" style="position: inherit;">
                <img [ngClass]="{'legend2': userRole === 'faculty', 'legend': userRole !== 'faculty'}"
                    [attr.src]=legend>
                <app-download-group-reports></app-download-group-reports>
            </div>
        </div>

        <div class="table-container overflowbar space scollBar" *ngIf="tableData">
          
            <table class="table table-bordered space fonts Font-size-for-listing">
                <thead>
                    <tr>
                        <th scope="col">Serial #</th>

                        <th scope="col" *ngIf="tableData[0].conceptstatement">{{ 'Concept Statement' }}</th>

                        <th scope="col"
                            *ngIf="tableData[0].subtopic || (tableData[0].conceptnumber !== -1 && tableData[0].conceptnumber)">
                            <span scope="col" *ngIf="tableData[0].conceptnumber != -1">{{ 'Concept Number' }}</span>
                            <span scope="col" *ngIf="tableData[0].conceptnumber != -1 && tableData[0].subtopic">&nbsp;
                                - &nbsp;</span>
                            <span scope="col" *ngIf="tableData[0].subtopic">{{ 'Subtopic Name' }}</span>
                        </th>
                    </tr>
                </thead>

                <tbody class="fonts Font-size-for-listing">
                    <tr *ngFor="let concept of tableData; let conceptIndex = index;" [attr.data-index]="conceptIndex">
                        <td class="table-list-items" scope="row">{{ labelPrefix }}{{ conceptIndex + 1 }}</td>
                        <td class="table-list-items testname-list-display"
                            *ngIf="concept?.subtopic || (concept?.conceptnumber !== -1 && concept?.conceptnumber)">
                            <span *ngIf="concept?.conceptnumber != -1">{{ concept?.conceptnumber }}</span>
                            <span *ngIf="concept?.conceptnumber != -1 && concept?.subtopic">&nbsp; - &nbsp;</span>
                            <span *ngIf="concept?.subtopic">{{ concept?.subtopic }}</span>
                        </td>

                        <td class="table-list-items testname-list-display" *ngIf="concept?.conceptstatement">
                            {{ concept?.conceptstatement }}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>

<ng-template #tablemodal let-modal>
    <app-resize-border [dragHolder]="header">
        <div class="d-flex flex-column h-100" style="background-color: white;">
            <div class="modal-header">
                <h4 #header class="modal-title test-title-modal fonts w-100" id="modal-basic-title">{{activeDivision}}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-popup-table-view-conceptwise [reportType]="reportType" [type]="'divisionWise'"
                    [division]="activeDivision" [labelPrefix]="labelPrefix"
                    [xLabel]="popupXLabel"></app-popup-table-view-conceptwise>
            </div>
        </div>
    </app-resize-border>
</ng-template>