/* .legend {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 50px;
    position: fixed;
    right: 0;
  } */
  .testname{
    cursor: pointer;
    font-size: 18px;
  }
  .testname:hover{
    text-decoration-line: underline;
    color: blue;
  }
  .space{
    width: 90%;
  }
h2 {
  margin-bottom: 12px !important;
}
  @media screen and (max-device-width:250px), screen and (max-width:800px) {
    /* svg{
        width: 180px !important;
    } */
    /* .scollBar{
      overflow-x: scroll;
  } */
  .mar{
    margin-bottom: 15% !important;
  }
    }

/* .legend {
  margin-top: 0px;
} */
/* .row{
  display: block;
} */

.svg-parent-container {
  display: flex;
  flex-wrap: wrap;
  gap: 76px;

}

.svg-body, .svg-container {
  width: fit-content;
  overflow-y: hidden;
}