
 /* .legend {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 50px;
    position: fixed;
    right: 0;
  } */

.tnumber {
    font-size: x-small;
    /* font-weight: bold; */
}
.smx {
    margin:0 30%;
}
/* li {
    display:inline;
}
ul {
    overflow-x:hidden;
    white-space:nowrap;
} */


.division{
    cursor: pointer;
    font-size: 18px;
    /* font-weight: bold; */
}
.division:hover{
    text-decoration-line: underline;
    color: blue;
}