<div class="container">
    <br><br><br>
    <button type="button" class="btn btn-outline-info">Edit Course Information</button>
    <button type="button" class="btn btn-outline-info">Edit Student Information</button>
</div>
