.concept-wise-test {
    margin: 10px;
}

.hex-labels {
    text-align:center;
}
.testname{
    cursor: pointer;
    font-size: 18px;
    margin-left: 20px;
  }
  .testname:hover{
    text-decoration-line: underline;
    color: blue;
  }
  /* .legend {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 50px;
    position: fixed;
    right: 0;
  } */
  