<!-- <app-breadcrumb-display></app-breadcrumb-display> -->

<div class="container-fluid main">
    <div style="display: block;" id="loading" class="loading">Loading&#8230;</div>
    <!-- <h2 style="color:#900C3F; text-align: center;  font-weight: inherit !important;">
        Report-1 : Student (Tests)</h2> -->
         <div class="card-body" style="    padding: 0px 1.25rem !important">
        <div class="row bottom-space fonts">
            <div class="col-10"  style="position: inherit;">
                    <app-test-wise-reports-single-cluster [APIURL]="APIURL"></app-test-wise-reports-single-cluster>
            </div>
           <div class="col-2">
            <img class="legend1" [attr.src]=legend>
        </div>
     </div>
   
 </div>    
 </div>