
    <ul id="sidebar"  class="wrapper fonts"  *ngIf='courseId'  id="pageSubmenu" style="padding: 0px;">
    <li style="padding: 0px;">
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-1" routerLinkActive="active" >Report-1</a>
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-2" routerLinkActive="active" >Report-2</a>  
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-3" routerLinkActive="active">Report-3</a>
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-4" routerLinkActive="active">Report-4</a>   
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-5" routerLinkActive="active">Report-5</a>
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-6" routerLinkActive="active">Report-6</a>   
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-7" routerLinkActive="active">Report-7</a>
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/report-8" routerLinkActive="active">Report-8</a> 
        <a style="padding: 6px 51px 6px 10px;"  routerLink="/attendance" routerLinkActive="active">attendance</a>   
      </li>
 </ul>
 