<div class="container fonts topPlace">
  <div>
   <h2 class="font">Trash</h2> 
  </div>
  <hr>

  <div>
    <div style="display: block;" id="loading" class="loading">Loading&#8230;</div>
</div>

  <ng-container *ngIf="fileslen > 0; else Empty">
    <table class="table table table-striped">
      <thead>
        <tr class="fonts kk">
          <th style="position: inherit;"  scope="col-1">S/L</th>
          <th style="position: inherit;"  scope="col-2">DepartmentName/Year</th>
          <th style="position: inherit;"   scope="col-3">Course Name</th>
          <th style="position: inherit;"  scope="col-2">Test Name</th>
          <th  style="position: inherit;"  scope="col-3">Files Name</th>
          <th style="position: inherit;"  scope="col-1">Date/Time</th>
          <!-- <th scope="col">Status</th> -->
          <!-- <th scope="col">Delete</th> -->
        </tr>
      </thead>
      <tbody>
        <tr  scope="row" *ngFor="let file of filedata;let i=index" class="fonts kk">
          <th class="hov" style="position: inherit;" class="col-1" >{{i+1}}</th>
          <td class="hov" style="position: inherit;" class="col-2">{{file.departmentName}}/{{file.departmentYear}}</td>
          <td class="hov" style="position: inherit;" class="col-3">{{file.courseName}}</td>
          <td class="hov" style="position: inherit;" class="col-2">{{file.testName}}</td>
          <td  class="hov" style="position: inherit;" class="col-3">{{file.fileName}}</td>
          <td  style="position: inherit;" class="col-1">{{ getformatedDate(file.updatedAt) }}</td>
          <!-- <td><button (click)="publish(test._id,test.publish)" class="btn"   [ngClass]="{ 'btn-success' : test.publish , 'btn-danger' : !test.publish}" >{{test.publish ? 'Publish': 'Unpublish'}}</button></td> -->
          <!-- <td><button (click)="delete(test._id)"   class="btn btn-danger">Delete</button></td> -->
        </tr>
      </tbody>
    </table>
</ng-container>
<ng-template #Empty>
<div>
  <h3><b> Trash is Empty.</b></h3>
</div>    
</ng-template>


</div>
