.fonts{
    font-weight: inherit !important;
    color: inherit !important;
    font-size: .9rem;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.kk:hover{
    background-color:rgba(0,0,0,.05) ;
}

 

.font{
    font-weight: inherit !important;
    color: inherit !important;
}