.download-group-reports-container {
  position: fixed;
  bottom: 1%;
  right: 2%;
  color: #0a3c62 !important;
}

.download-group-reports-container img {
    height: 8vh;
    width: auto;
  }

.download-success {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.download-pdf-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.progress-6 {
    width:120px;
    height:22px;
    border-radius: 20px;
    color:#514b82;
    border:2px solid;
    position: relative;
  }
  .progress-6::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:currentColor;
    animation:p6 2s infinite;
  }
  @keyframes p6 {
      100% {inset:0}
  }


   
.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 187px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  transition: opacity 1s ease-in-out;
  margin-left: -77px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}  
/* Tablets (Portrait and Landscape) */
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .download-group-reports-container img {
    height: 8vh;
    position: fixed;

    bottom: 15%;
    right: 2%;
  }}
  

  /* @media only screen and (min-width: 900px) and (max-width: 1300px) {
    .download-group-reports-container img {
    height: 8vh;
    width: auto;
    }
  } */
  /* Tablets (Portrait and Landscape) */
@media only screen and (min-width: 200px) and (max-width: 700px) {
  .download-group-reports-container img {
    height: 8vh;
    position: fixed;
    bottom: 15%;
    right: 2%;
  }
  .hovertext:hover:before {
    background-color: #fff;
    color: #fff;
  }
.hovertext:hover{
  background-color: #fff;
  color: #fff;
}

.hovertext{
  background-color: #fff;
  color: #fff;}

}
  

  /* Small Desktops and Laptops */
@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .download-pdf-group-reports {
    height: 8vh !important; 
    position: fixed 8vh !important;  
    bottom: 8px 8vh !important; ;
    right: 10px 8vh !important; ;
}}

@media (max-width: 575px) {
  .download-group-reports-container {
    position: fixed;
    bottom: 10%;
    right: 2%;
    color: #0a3c62 !important;
    margin-bottom: 12%;
}
.downloadtxt{
  height: 5%;
    right: 5%;
    margin-left: 22%;
    margin-top: 33%;
}
}