<div class="download-group-reports-container" *ngIf="reportConfigurations.length">
    <div data-hover="Download Reports(R1-8)" class="download-pdf-group-reports hovertext"   (click)="checkDownloadReport(true)" [style.cursor]="'pointer'" *ngIf="!isDownLoadGroupReportsBegin">
        <!-- <span ></span> -->       
         <span class="downloadtxt"></span>
        <!-- <img src="./assets/images/download.gif" > -->
    </div>
    <!-- <button (click)="reportGeneration()">gh</button> -->
    <div *ngIf="isDownLoadGroupReportsBegin" >
        <span class="downloadtxt" *ngIf="!isPDFDownloaded" >
            Download in progress
            <div class="progress-6"></div>
        </span>
        <div *ngIf="isPDFDownloaded" class="download-success">
            <!-- <span>PDF version of this report has already been downloaded</span> -->
            <span class="download-pdf-link" (click)="reportGeneration()" >Download again</span>
        </div>
    </div>
</div>
