<div class="fontSize breads" *ngIf="lms">&nbsp;
 <span *ngIf="reportType == 'reports'"  (click)="comeBack()"><i class="fa fa-arrow-left breadBack"></i>  &nbsp;&nbsp;</span>
<span style= "cursor: text;">{{data}}</span>
</div>