.fonts{
    font-weight: inherit !important;
    color: inherit !important;
}

.breads{
    cursor: pointer;
}

.breadBack{
    cursor: pointer;
} 

.breadBack:hover{
    text-decoration: underline;
    color: blue !important;
}


.fa-arrow-left:hover{
    text-decoration: underline;
    color: blue !important;
}