 /* .legend {
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  position: fixed;
} */

.main{
/* background: #f8f8f8; */
 padding: 10px 0;
 width: 100%;
 /* margin-left: 1px; */
 margin-top: 10px
}
.tnumber {
  font-size: 14px;
    font-weight: bold;
}
.testname{
  cursor: pointer;
  font-size: 18px;
  /* font-weight: bold; */
}
.testname:hover{
  text-decoration-line: underline;
  color: blue;
}

.below{
  position: inherit;
}