.breadcrumb-holder {
    background: #eceeef;
}

.breadcrumb-holder .breadcrumb {
    padding: 15px 0;
    font-size: 0.85em;
    font-weight: 300;
    color: #999;
    margin-bottom: 0;
}

.breadcrumb-holder .breadcrumb a:hover,
.breadcrumb-holder .breadcrumb:focus {
    text-decoration: none;
}

.breadcrumb-holder .breadcrumb .container {
    padding: 0;
}
 
.breadcrumb{
    background: #f8f8f8;
    padding: 10px 0;
    width: 100%;
    margin-left: 1px;
    margin-top:10px;
}

