<!-- <div class="bcrumbs">
    <div class="container">
        <div class="row">
            <div class="col pagebreadcrumb breadcrumb">
                    <div *ngFor="let link of bLinks;let i=index">
                        <a style="display: none;" [hidden]="i!=0" [routerLink]="[link]">Home/</a>
                        <a [hidden]="i==0||i==bLinks.length-1" [routerLink]="[link]">{{link}}/</a>
                        <a [hidden]="i!=bLinks.length-1">{{link}}/</a>
                    </div>
            </div>
        </div>

    </div>
</div> -->


<!-- Breadcrumb-->
<!-- <div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item" [class.active]="i==util.bradcrumbData.length-1" *ngFor="let item of util.bradcrumbData;let i=index">
            <a *ngIf="i!=util.bradcrumbData.length-1" [routerLink]="[item]">{{item==''?'home':item}}</a>
            <span *ngIf="i==util.bradcrumbData.length-1">{{item==''?'home':item}}</span>
        </li>
       
      </ul>
    </div>
    </div> -->

    <div class="fontSize breads">&nbsp;
        {{s_bread}}
       </div>