<div class="container">
  <br>
  <h1>Generate reports</h1>
  <hr>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select course</label>
    <select class="form-control" (change)="setCourse($event)">
      <option> </option>
      <option *ngFor="let course of courseList">{{course['name']}}</option>
    </select>
    <br><br>
    <!-- <label for="exampleFormControlSelect1">Select assessment type</label>
    <select class="form-control" (change)="setAssessmentType($event)">
      <option> </option>
      <option>Pre assessment</option>
      <option>Post assessment</option>
    </select> -->
  </div>
  <br><br>
  <div class="btn-group">
    <button class="btn btn-primary" (click)="generateReports(0, 3)">Generate Reports</button> 
    <br><br>
    <button class="btn btn-success" (click)="downloadReports()" [disabled]="!isGenerated">Download Reports</button>
    <br><br>
    <button class="btn btn-warning" (click)="open(email)" [disabled]="!isGenerated">Email Reports</button>
  </div>
</div>


<ng-template #email let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enter email details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #emaildetails = "ngForm" (ngSubmit) = "onClickSubmit(emaildetails.value); emailReports(); modal.close('Close click')" >
      <label>Senders username</label> <br>
      <input type = "text" name = "username" placeholder = "Sample Name" ngModel>
      <br/>
      <label>Senders email ID</label> <br>
      <input type = "text" name = "emailid" placeholder = "example@domain.com" ngModel>
      <br/>
      <label>Password for sender's email account</label> <br>
      <input type = "password" name = "passwd" placeholder = "*****" ngModel>
      <br/>
      <label>Subject Line</label> <br>
      <input type = "text" name = "subjectLine" ngModel>
      <br/>
      <label>Message body</label> <br>
      <textarea rows="15" cols="100" type = "test" name = "msgbody" ngModel></textarea>
      <br><br>
      <input class="btn btn-success" type = "submit" value = "submit">
   </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
