/* .legend {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 50px;
    position: fixed;
    right: 0;
  } */

  .testname:hover{
    text-decoration-line: underline;
    color: blue;
  }

  .legend1 {
    height: auto;
    width: 15%;
    position: fixed;
    right: 0;
}
.space{
  width: 80%;
}

@media screen and (max-device-width:300px), screen and (max-width:800px) {
  svg{
      /* width: 180px !important; */
  }
  .scollBr{
    overflow-y: auto !important;
}
.mar{
  margin-bottom: 15% !important;
}
  }
