<!-- <div>
<h2 style="margin: 0px;color:#900C3F; text-align: center;  font-weight: inherit !important;">
  Course Name:{{reportDetails.course.name}}({{reportDetails.course.coursecode}})</h2>
  <div [style.display]="reportDetails.scores.length ? 'none' : 'block' " id="loading1" class="loading">Loading&#8230;</div>
<div class="container-fluid main" *ngIf="reportDetails.scores.length">
  <div style="display: none;" id="loading1" class="loading">Loading&#8230;</div>
<div class="card-body" style="padding: 0px 1.25rem !important">
  <div class="row bottom-space">
    <div class="col-7 container"  style="position: inherit;overflow-x: auto;overflow-y: hidden;">
      <div style="position: inherit;" class="hex-labels hexagon-column">
        <div style="margin-top: 35px;margin-bottom: 5%;" class="col-sm-11 col-md-11 col-xl-5 mar">
          <p *ngIf="!POPUPAPIURL || isPopupVisible" [ngStyle]="{pointerEvents: isPopupVisible ? 'auto' : 'none'}" style="margin-bottom: 0%;" class="testname hexagon-cluster-title fonts" (click)="open(conceptmodal)"> {{POPUPAPIURL ? 'Click here to view BL grid' : 'All Divisions'}} </p>
          <svg [attr.viewBox]="reportDetails.viewBox" [style.width]="(getSvgWidth(reportDetails.rowDistribution)*60)+ 'px'" [style.marginBottom]="getNegativeMargin(getSvgheight(reportDetails.rowDistribution, reportDetails.hexagonSvgPaths.length), reportDetails.rowDistribution.length)+ 'px'">
            <path *ngFor="let hexPath of reportDetails['hexagonSvgPaths']; let Index = index" [attr.d]="hexPath" [attr.fill] = "reportDetails['hexagonColors'][Index]" stroke = "#a9a9a9"/>
            <text style="cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of reportDetails['centerX']; let i = index" [attr.x]="reportDetails['centerX'][i] - ((getHexText(i).length / 2) * 5) - (getHexText(i).length > 3 ? (getHexText(i).length - 3 ) * 2 : 0)" [attr.y]="reportDetails['centerY'][i]-1" fill="black">{{getHexText(i)}} 
              <title class="tooltiptext">{{getHexText(i)}}-{{reportType == "conceptwise" ? reportDetails.scores[i].subtopic.subtopic : reportDetails.scores[i].conceptstatement.conceptstatement}}</title>
            </text>
            <text style="cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of reportDetails['centerX']; let i = index" [attr.x]="reportDetails['centerX'][i] - (((reportDetails.scores[i].score == 100 ? 100 : reportDetails.scores[i].score.toFixed(2)).toString().length / 2) * 4) - ( reportDetails.scores[i].score==-1 ? 0 : 7)" [attr.y]="reportDetails['centerY'][i]+14" fill="black" >{{ reportDetails.scores[i].score==-1 ? ' N/A' : ((reportDetails.scores[i].score == 100 ? 100 : reportDetails.scores[i].score.toFixed(2)) + '%')}}
              <title class="tooltiptext">{{getHexText(i)}}-{{reportType == "conceptwise" ? reportDetails.scores[i].subtopic.subtopic : reportDetails.scores[i].conceptstatement.conceptstatement}}</title>
            </text>
          </svg> 
        </div>
      </div>
    </div>
    <div class="col-2"  style="position: inherit;">
      <img  [ngClass]="{ 'legend1' : POPUPAPIURL, 'legend' : !POPUPAPIURL }" [attr.src]=legend>
      <app-download-group-reports></app-download-group-reports>
    </div>
  </div>

<table class="table table-bordered space fonts  Font-size-for-listing" *ngIf="reportDetails.scores.length">
     <thead >
         <tr>
             <th scope="col"> Serial # </th>
             
            <th scope="col" *ngIf="(reportDetails.allTopics[0].conceptnumber || (reportDetails.allTopics[0].subtopic && reportDetails.allTopics[0].subtopic?.conceptnumber)) || (reportDetails.allTopics[0]._id?.subtopic || (reportDetails.allTopics[0].subtopic && reportDetails.allTopics[0].subtopic?.subtopic)) ">
              <span scope="col" *ngIf="reportDetails.allTopics[0].conceptnumber || (reportDetails.allTopics[0].subtopic && reportDetails.allTopics[0].subtopic?.conceptnumber)">{{ 'Concept Number' }}</span>
              <span *ngIf="(reportDetails.allTopics[0].conceptnumber || (reportDetails.allTopics[0].subtopic && reportDetails.allTopics[0].subtopic?.conceptnumber)) && (reportDetails.allTopics[0]._id?.subtopic || (reportDetails.allTopics[0].subtopic && reportDetails.allTopics[0].subtopic?.subtopic)) " >&nbsp; - &nbsp;</span>
             <span scope="col" *ngIf="reportDetails.allTopics[0]._id?.subtopic || (reportDetails.allTopics[0].subtopic && reportDetails.allTopics[0].subtopic?.subtopic)">{{  'Subtopic' }} Name</span>
            </th>

            <th scope="col" *ngIf="reportDetails.allTopics[0]._id?.conceptstatement || reportDetails.allTopics[0].conceptstatement?.conceptstatement">
              Concept Statement
            </th>
            <th scope="col"> {{ POPUPAPIURL ? '' : 'Average ' }} Score</th>
        </tr>
    </thead>
    <tbody class="fonts Font-size-for-listing">
    <tr *ngFor="let concept of reportDetails.allTopics; let conceptIndex= index" [attr.data-index]="i">
        <td class="table-list-items" scope="row" >{{labelPrefix}}{{conceptIndex+1}}</td>
        
        <td class="table-list-items" *ngIf="(concept?.conceptnumber || (concept?.subtopic && concept?.subtopic?.conceptnumber)) || (concept?._id?.subtopic || (concept?.subtopic && concept?.subtopic?.subtopic))" >
          <span class="table-list-items testname-list-display" *ngIf="concept?.conceptnumber || (concept?.subtopic && concept?.subtopic?.conceptnumber)">{{concept?.conceptnumber || concept?.subtopic?.conceptnumber}}</span>
          <span class="table-list-items" *ngIf="(concept?.conceptnumber || (concept?.subtopic && concept?.subtopic?.conceptnumber)) && (concept?._id?.subtopic || (concept?.subtopic && concept?.subtopic?.subtopic))" > &nbsp;-&nbsp; </span>
          <span class="table-list-items" *ngIf="concept?._id?.subtopic || (concept?.subtopic && concept?.subtopic?.subtopic)">{{ concept?.subtopic?.subtopic || concept?._id?.subtopic }}</span>
        </td>

        <td class="table-list-items" *ngIf="concept?._id?.conceptstatement || concept?.conceptstatement?.conceptstatement">{{ concept?.conceptstatement?.conceptstatement || concept?._id?.conceptstatement}}</td>
       <td  class="table-list-items">{{ getScoreByTopic(concept?._id)!=-1 ? getScoreByTopic(concept?._id) + "%" : " N/A"}}</td>
    </tr>
    </tbody>
</table>


 </div>    
 </div>
</div>
 <ng-template #conceptmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title test-title-modal fonts" id="modal-basic-title">  {{POPUPAPIURL ? '' : 'All Participants'}} </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-popup-table-view-conceptwise [apiEndPoint]="POPUPAPIURL" [reportType]="reportType" [type]="'allParticipants'" [labelPrefix]="labelPrefix" [xLabel]="popupXLabel"></app-popup-table-view-conceptwise>
    </div>
 </ng-template> -->

<div>
  <h2 style="margin:0px; color: #0a3c62;  text-align: center;  font-weight: inherit !important;">
    Course Name:{{courseDetails.name}}({{courseDetails.coursecode}})</h2>
  <div id="loading1" class="loading" *ngIf="!scoreList?.length">Loading&#8230;</div>
  <div class="container-fluid main" *ngIf="scoreList.length">
    <div class="overflowbar">
      <div class="card-body" style="padding: 0px 1.25rem !important">
        <div class="row bottom-space">
          <div class="col-10 container" style="position: inherit;">
            <div class="hex-labels hexagon-column">
              <div class="tooltiptext" style="margin-top: 35px;margin-bottom: 5%;"
                class="col-sm-11 col-md-11 col-xl-5 mar">
                <p [ngStyle]="{pointerEvents: isPopupVisible ? 'auto' : 'none'}" style="margin-bottom: 6%;"
                  class="testname hexagon-cluster-title fonts" (click)="open(conceptmodal)"> {{POPUPAPIURL ? 'Click here
                  to view BL grid' : 'All Divisions'}} </p>
                <div class="overflowbar">
                  <svg [attr.viewBox]="reportDetails.viewBox"
                    [style.width]="(getSvgWidth(reportDetails.rowDistribution)*60)+ 'px'">
                    <path *ngFor="let hexPath of reportDetails['hexagonSvgPaths']; let Index = index"
                      [attr.d]="reportDetails.hexagonSvgPaths[Index]"
                      [attr.fill]="reportDetails['hexagonColors'][Index]" stroke="#fff" stroke-width="3px" />
                    <text style="cursor: pointer;" class="hex-label fontSize"
                      *ngFor="let hexCenterX of reportDetails['centerX']; let i = index"
                      [attr.x]="reportDetails['centerX'][i] - ((getHexText(i).length / 2) * 5) - (getHexText(i).length > 3 ? (getHexText(i).length - 3 ) * 2 : 0)"
                      [attr.y]="reportDetails['centerY'][i]-1" fill="black">{{getHexText(i)}}

                      <title>Test Name : {{reportDetails.topics[i].testName}}&#10;{{reportType == "conceptwise" ? "" :
                        "Subtopic :"+reportDetails.topics[i].subtopic}} </title>
                    </text>
                    <text style="cursor: pointer;" class="hex-label fontSize"
                      *ngFor="let hexCenterX of reportDetails['centerX']; let i = index"
                      [attr.x]="reportDetails['centerX'][i] - ((((reportDetails.topics[i].score == 100 || reportDetails.topics[i].score == 0) ? reportDetails.topics[i].score : reportDetails.topics[i]?.score?.toFixed(2))?.toString().length / 2) * 4) - ( reportDetails.topics[i].score==-1 ? 0 : 7)"
                      [attr.y]="reportDetails['centerY'][i]+14" fill="black">
                      {{ reportDetails.topics[i].score==-1 ? '
                      N/A'
                      : (((reportDetails.topics[i].score == 100|| reportDetails.topics[i].score == null) ?
                      (reportDetails.topics[i].score === null ? "N/A" : reportDetails.topics[i].score+ '%' ) :
                      (reportDetails.topics[i].score.toFixed(2)+ '%')) )}}

                      <title>Test Name : {{reportDetails.topics[i].testName}}&#10;{{reportType == "conceptwise" ? "" :
                        "Subtopic :"+reportDetails.topics[i].subtopic}} </title>
                    </text>
                  </svg>
                </div>

              </div>
            </div>

            <div class="table-container overflowbar">
              <!-- <table class="table table-bordered space fonts  Font-size-for-listing"
                *ngIf="reportDetails.topics.length">
                <thead>
                  <tr>
                    <th scope="col"> Serial # </th>

                    <th scope="col"
                      *ngIf="reportDetails.topics[0].subtopic && reportDetails.topics[0].conceptnumber && !reportDetails?.topics[0]?.conceptstatement">
                      <span scope="col" *ngIf="reportDetails.topics[0].conceptnumber">{{ 'Concept Number' }}</span>
                      <span *ngIf="reportDetails.topics[0].subtopic && reportDetails.topics[0].conceptnumber"> &nbsp; -
                        &nbsp;</span>
                      <span scope="col" *ngIf="reportDetails.topics[0].subtopic">{{ 'Subtopic' }} Name</span>
                    </th>

                    <th scope="col" *ngIf="reportDetails.topics[0].conceptstatement">
                      Concept Statement
                    </th>
                    <th scope="col"> {{ POPUPAPIURL ? '' : 'Average ' }} Score</th>
                  </tr>
                </thead>
                <tbody class="fonts Font-size-for-listing">
                  <tr *ngFor="let concept of reportDetails.topics; let conceptIndex= index" [attr.data-index]="i">
                    <td class="table-list-items" scope="row">{{labelPrefix}}{{conceptIndex+1}}</td>
                    <td class="table-list-items"
                      *ngIf="concept?.conceptnumber && concept?.subtopic && !concept?.conceptstatement">
                      <span class="table-list-items testname-list-display"
                        *ngIf="concept?.conceptnumber">{{concept?.conceptnumber}}</span>
                      <span class="table-list-items" *ngIf="concept?.subtopic && concept?.conceptnumber"> &nbsp;-&nbsp;
                      </span>
                      <span class="table-list-items" *ngIf="concept?.subtopic">{{ concept?.subtopic }}</span>
                    </td>

                    <td class="table-list-items" *ngIf="concept?.conceptstatement">{{ concept?.conceptstatement }}</td>
                    <td class="table-list-items">{{ getScoreNumber(concept?.score) + "%"}}</td>
                  </tr>
                </tbody>
              </table> -->

              <table class="table table-bordered space fonts Font-size-for-listing" *ngIf="reportDetails.topics.length">
                <thead>
                  <tr>
                    <th scope="col">Serial #</th>

                    <th scope="col"
                      *ngIf="reportDetails.topics[0].subtopic && reportDetails.topics[0].conceptnumber !== -1 && !reportDetails?.topics[0]?.conceptstatement">
                      <span scope="col" *ngIf="reportDetails.topics[0].conceptnumber != -1">{{ 'Concept Number'
                        }}</span>
                      <span *ngIf="reportDetails.topics[0].subtopic && reportDetails.topics[0].conceptnumber != -1">
                        &nbsp; - &nbsp;</span>
                      <span scope="col" *ngIf="reportDetails.topics[0].subtopic">{{ 'Subtopic Name' }}</span>
                    </th>

                    <th scope="col" *ngIf="reportDetails.topics[0].conceptstatement">
                      Concept Statement
                    </th>
                    <th scope="col">{{ POPUPAPIURL ? '' : 'Average ' }} Score</th>
                  </tr>
                </thead>
                <tbody class="fonts Font-size-for-listing">
                  <tr *ngFor="let concept of reportDetails.topics; let conceptIndex = index"
                    [attr.data-index]="conceptIndex">
                    <td class="table-list-items" scope="row">{{labelPrefix}}{{conceptIndex + 1}}</td>

                    <td class="table-list-items"
                      *ngIf="concept?.conceptnumber !== -1 && concept?.subtopic && !concept?.conceptstatement">
                      <span class="table-list-items testname-list-display" *ngIf="concept?.conceptnumber != -1">
                        {{concept?.conceptnumber}}
                      </span>
                      <span class="table-list-items" *ngIf="concept?.subtopic && concept?.conceptnumber != -1">
                        &nbsp;-&nbsp;</span>
                      <span class="table-list-items" *ngIf="concept?.subtopic">{{ concept?.subtopic }}</span>
                    </td>

                    <td class="table-list-items" *ngIf="concept?.conceptstatement">{{ concept?.conceptstatement }}</td>
                    <td class="table-list-items">{{ getScoreNumber(concept?.score) + "%"}}</td>
                  </tr>
                </tbody>
              </table>


            </div>

          </div>
          <div class="col-2 tapp" style="position: inherit;">
            <img [ngClass]="{'legend2': userRole === 'faculty', 'legend': userRole !== 'faculty'}" [attr.src]=legend>
            <app-download-group-reports></app-download-group-reports>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>


<ng-template #conceptmodal let-modal>
  <app-resize-border [dragHolder]="header">
    <div class="d-flex flex-column h-100" style="background-color: white;">
      <div class="modal-header">
        <h4 #header class="modal-title test-title-modal fonts w-100" id="modal-basic-title">{{POPUPAPIURL ? '' : 'All
          Participants'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-popup-table-view-conceptwise [apiEndPoint]="POPUPAPIURL" [reportType]="reportType"
          [type]="'allParticipants'" [labelPrefix]="labelPrefix"
          [xLabel]="popupXLabel"></app-popup-table-view-conceptwise>
      </div>
    </div>
  </app-resize-border>
</ng-template>