<button class="btn btn-primary" id='clickMe' (click)="open(test)">A Division</button> 

<ng-template #test let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{responceData.division}} Division</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container">
        <span style="text-align: right;text-decoration: underline;"><p>x axis : scores &nbsp;&nbsp; y axis : students</p></span>
 <div class="row">
    <div class="col-6"   *ngFor="let res of responceData.tests;let i = index;">
        <p>{{i+1}}){{res.name}}</p>
        <div class="chart-wrapper">
           <canvas baseChart 
                [datasets]="jsonData(i)" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas> 
        </div>
    </div>
     </div>  
 </div>
   </ng-template>


<!-- 


<button class="btn btn-primary" (click)="open(test)">A Division</button> 

<ng-template #test let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">A Division</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body container">
   <div class="row">
<div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>
<div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData1" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div><div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData2" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div><div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData3" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div><div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData4" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div><div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData1" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>
<div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>

<div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData1" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>
<div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData2" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>
<div class="col-4">
    <div class="chart-wrapper">
        <canvas baseChart 
            [datasets]="lineChartData3" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>
</div>





   </div>
   
    </div>
   </ng-template>


   



 -->