
<div class="container main">
 </div>
<app-attempt-concept-reports-all-participants [url]="APIURL" [isPopupVisible]="isPopupVisible" [reportType]="'subconceptwise'" [labelPrefix]="'SC'" [listLabel]="'Subconcept'" [popupXLabel]="'CONCEPT'" [POPUPAPIURL]="POPUPAPIURL" (sendReportDetails1)="getConceptWiseData($event)"></app-attempt-concept-reports-all-participants>