
.img1{
  width: 70%;
  height: 50px;
}

.img2{
  width: 65%; height: auto;
}

.img3{
  /* width: 10%; */
  width: 4%;
  height: auto;
}

.a{
  font-family: 400 14px/20px Roboto,"Helvetica Neue", sans-serif !important;
  font-size: 13px !important;
  color: #bbb !important;
  text-decoration: none  !important;
}
.fs{
  color:  #bbb!important;
  font-size: 13px !important;
  line-height: 22px !important;
}
.ekl{
  color: #d6644a;
    -webkit-transition: .4s !important;
    transition: .4s !important;
    text-decoration: none !important;
    cursor: pointer !important;
}
.login-submit {
  margin-right: 24px;
}
.form-group label {
  margin-top: 5%;
}

/* .selected{
  color: #000000;
  background-color: #c62128;
  border-color: #c62128;
  text-decoration: none; */
  /* box-shadow: 0px 0px 20px #9b9090 inset; */
  /* font-weight: bold; 
}*/


.admin:hover{
background-color:#0a3c62;
;
}

.kk{
  background-color: blue;
}
.kk1{
  background-color: #c62128;
  border-color: #c62128;
}

/* .side-navbar li a {
  position: relative;
  font-size: .9rem;
  font-weight: 300;
  color: #000000 !important;
  text-decoration: none;
  width: 100%;
  padding: 12px;

} */

div span ul li a {
  /* box-shadow: 0px 18px 35px -22px #888888 inset; */
  border: 1px solid rgba(0,0,0,.125);
}
i{
  color: #8b8b8b !important;
} 
 
.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: -webkit-fill-available;
  /* width: 140px; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  /* margin-left: 6px; */
  margin-left: -4px;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 110%;
  /* right: 110%; */
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}  

.field-icon {
  float: right;
  margin-left: -17px;
  margin-top: 11px;
  position: relative;
  z-index: 999;
}

.container{
  padding-top:50px;
  margin: auto;
}