
  <div *ngIf="load" id="loading" class="loading">Loading&#8230;</div>

<div *ngIf="isloggedIn">
  <!-- Side Navbar -->
  <nav class="side-navbar" *ngIf="isloggedIn" style="position: fixed;"> 
    <div class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center">
          <!-- <img routerLink="/" src="assets/images/logo.png"   alt="EKL_Logo" style="width: 65%; height: auto;"> -->
          <img routerLink="#"
            [attr.src]="logoData?.name ? 'https://s3.ap-south-1.amazonaws.com/' + logoData?.name : logo"
            alt="EKL_Logo" style="width: 88%; height: auto;cursor: auto">
          <!-- <h2 class="h5">Admin</h2>  -->
        </div>
        <!-- Small Brand information, appears on minimized sidebar-->
        <div class="sidenav-header-logo"><a routerLink="#" class="brand-small text-center"> <strong>

              <!-- <img routerLink="/" src="assets/images/ekl.PNG" alt="EKL_Logo" style="width: 65%; height: auto;"></strong></a></div> -->
              <img routerLink="#"
                [attr.src]="logoMinimizedData?.name ? 'https://s3.ap-south-1.amazonaws.com/' + logoMinimizedData?.name : miniLogo"
                alt="EKL_Logo" style="width: 65%; height: auto;cursor: auto">
            </strong></a></div>

      </div>
      <!-- Sidebar Navigation Menus-->
      <div class="main-menu">
        <!-- <h5 style="text-align: center;text-transform: capitalize;" class="sidenav-heading"><i class="fa fa-user" aria-hidden="true"></i>{{loginStr}}</h5> -->
        <ul id="side-main-menu" class="side-menu list-unstyled">
          <li class="col-12" disable *ngIf="isloggedIn && isAdmin" style=" padding: 12px 9px 12px 9px !important">
            <a style="text-transform: capitalize !important; background-color:#0a3c62; color: #b5b5b5 !important;" routerLink="/site-config" routerLinkActive="selected"><i
                class="fa fa-user" disable></i>{{loginStr}}</a>
            <!-- <li class="col-12" disable  *ngIf="isloggedIn && isAdmin && !hidesideBar" style=" padding: 12px 9px 12px 9px !important">
              <a style="text-transform: capitalize;" class="admin"><i class="icon-user" disable ></i>{{loginStr}}</a> -->
            <!-- <a routerLink="/analytics" routerLinkActive="selected">
              <i class="fa-regular fa-chart-simple"></i>Analytics </a> -->
            <a style="color: #e5e5e5 !important;" routerLink=""><i class="fa fa-home"></i> Home</a>
            <a style="color: #e5e5e5 !important;white-space: nowrap;" routerLink="/department" routerLinkActive="selected">
              <i class="fa fa-upload" aria-hidden="true"></i> Upload-data</a>
            <a style="color: #e5e5e5 !important;" routerLink="/publish" routerLinkActive="selected">
              <i class="fa fa-paper-plane" aria-hidden="true"></i> Publish</a>
            <a style="color: #e5e5e5 !important;" routerLink="/trash" routerLinkActive="selected">
              <i class="fa fa-trash" aria-hidden="true"></i> Trash</a>
            <a style="color: #e5e5e5 !important; white-space: nowrap;" routerLink="/student-report" class="student-report-router" routerLinkActive="selected">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>Student-reports</a>
            <a style="color: #e5e5e5 !important;" routerLink="/reports" routerLinkActive="selected">
              <i class="fa fa-book" aria-hidden="true"></i> Reports </a>
            <!-- <a routerLink="/tabs" routerLinkActive="selected">
                <i class="fa fa-book" aria-hidden="true"></i>Tabs </a> -->
          </li>






          <!-- users view -->
          <li class="col-12" disable *ngIf="isloggedIn && !isAdmin && !hidesideBar">
            <a style="text-transform: capitalize !important;background-color: #0a3c62;color: #b5b5b5 !important;" class="admin"  routerLink="/site-config"><i class="fa fa-user" [disable]="role != 'faculty'"></i>Dashboard</a>
            <!-- <a onmouseover="document.getElementsByClassName('a').style.background='yellow'"  style="color: #b5b5b5 !important;" routerLink="/"><i class="fa fa-home" [disable]="role == 'faculty'"></i> Homee</a> -->
            <a style="color: #e5e5e5 !important;white-space: nowrap;" routerLink="/student-report" class="student-report-router" routerLinkActive="selected"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Student-reports</a>
            <a style="color: #e5e5e5 !important;" [routerLink]=" role == 'faculty' ? '/faculty-access' : '/reports'" [queryParams]="{page: role == 'faculty' ? 'reports' : ''}" routerLinkActive="selected"><i class="fa fa-book" aria-hidden="true"></i> Reports </a> 
            <a style="color: #e5e5e5 !important;" [routerLink]="'/faculty-access'" *ngIf="role=='faculty'" [queryParams]="{page: 'attendance'}" [ngClass]="{'selected' : isAttendancePage}" ><i class="fa fa-book" aria-hidden="true"></i> Attendance </a> 
            </li>



          <!-- KLE STUDENTS -->
          <li class="col-12" disable *ngIf="isloggedIn && hidesideBar" style="pointer-events:not-allowed;">
            <a  style="text-transform: capitalize !important;background-color: #0a3c62;color: #b5b5b5 !important;" class="admin"><i class="fa fa-user" disable></i>{{loginStr}}</a>
            <a onmouseover="document.getElementsByClassName('a').style.background='yellow'" style="color: #8f8f8f!important ;cursor: not-allowed;" class="admin" routerLink="#" aria-disabled="true" disable><i class="fa fa-home"></i> Home</a>
            <a onmouseover="document.getElementsByClassName('a').style.background='yellow'" style="color: #8f8f8f!important ;cursor: not-allowed;" class="admin" routerLink="#" aria-disabled="true" disable><i class="fa fa-book"></i>Reports </a>
          </li>


        </ul>
      </div>
      <div class="main-menu">
       <span>
        <ul *ngIf='showReportsList' id="side-main-menu" class="side-menu list-unstyled" style="  color: rgb(0, 0, 0) !important;
        background-color: #fff !important; border: 1px solid rgba(0,0,0,.125) !important;margin: 8px;">
          <li  style="padding: 0px;text-align-last: center;">
            <!-- <a *ngIf="checkReportVisibility('group-testwise-allParticipants')" style="color: #000000 !important;" class="hovertext" data-hover="All-Participants (Post Tests)" (click)="reportsListDisplay()" routerLink="/report-1" routerLinkActive="selected"><i class="fa fa-book" -->
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-testwise-allParticipants') ? 'auto' : 'none', 'color' : checkReportVisibility('group-testwise-allParticipants') ? '#000000' : '#aaaaaa'}" class="hovertext" [attr.data-hover]="'All-Participants (' + configurationsObject?.tests + ')'"   (click)="reportsListDisplay()" routerLink="/report-1" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-1</a> 
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-testwise-divisionWise') ? 'auto' : 'none', 'color' : checkReportVisibility('group-testwise-divisionWise') ? '#000000' : '#aaaaaa'}"  class="hovertext" [attr.data-hover]="'By Division (' + configurationsObject?.tests + ')'" (click)="reportsListDisplay()" routerLink="/report-2" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-2</a>
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-conceptwise-allParticipants') ? 'auto' : 'none', 'color' : checkReportVisibility('group-conceptwise-allParticipants') ? '#000000' : '#aaaaaa'}" class="hovertext" [attr.data-hover]="'All-Participants (' + configurationsObject?.concepts + ')'" (click)="reportsListDisplay()" routerLink="/report-3" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-3</a>
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-conceptwise-divisionWise') ? 'auto' : 'none', 'color' : checkReportVisibility('group-conceptwise-divisionWise') ? '#000000' : '#aaaaaa'}" class="hovertext" [attr.data-hover]="'By Division (' + configurationsObject?.concepts + ')'" (click)="reportsListDisplay()" routerLink="/report-4" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-4</a>
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-subconceptwise-allParticipants') ? 'auto' : 'none', 'color' : checkReportVisibility('group-subconceptwise-allParticipants') ? '#000000' : '#aaaaaa'}" class="hovertext" [attr.data-hover]="'All-Participants (' + configurationsObject?.subconcepts + ')'" (click)="reportsListDisplay()" routerLink="/report-5" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-5</a>
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-subconceptwise-divisionWise') ? 'auto' : 'none', 'color' : checkReportVisibility('group-subconceptwise-divisionWise') ? '#000000' : '#aaaaaa'}" class="hovertext" [attr.data-hover]="' By Division (' + configurationsObject?.subconcepts + ')'" (click)="reportsListDisplay()" routerLink="/report-6" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-6</a>
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-questionwise-allParticipants') ? 'auto' : 'none', 'color' : checkReportVisibility('group-questionwise-allParticipants') ? '#000000' : '#aaaaaa'}" class="hovertext" data-hover="All-Participants (Questions)" (click)="reportsListDisplay()" routerLink="/report-7" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-7</a>
            <a [ngStyle]="{pointerEvents: checkReportVisibility('group-questionwise-divisionWise') ? 'auto' : 'none', 'color' : checkReportVisibility('group-questionwise-divisionWise') ? '#000000' : '#aaaaaa'}" class="hovertext" data-hover="By Division (Questions)" (click)="reportsListDisplay()" routerLink="/report-8" routerLinkActive="selected"><i class="fa fa-book"
                aria-hidden="true"></i>Report-8</a>
            <a *ngIf="attendence" [ngStyle]="{pointerEvents: checkReportVisibility('group-attendance') ? 'auto' : 'none', 'color' : checkReportVisibility('group-attendance') ? '#000000' : '#aaaaaa'}" class="hovertext" data-hover="Attendance" (click)="reportsListDisplay()" routerLink="/attendance" routerLinkActive="selected">
              <i class="fa fa-users"></i>Attendance</a>
              
          </li>

          <!-- <li> <a href="#"> <i class="icon-screen"> </i>Demo</a></li>
            <li> <a href="#"> <i class="icon-flask"> </i>Demo
                <div class="badge badge-info">Special</div></a></li>
            <li> <a href=""> <i class="icon-flask"> </i>Demo</a></li>
            <li> <a href=""> <i class="icon-picture"> </i>Demo</a></li> -->
        </ul>
        </span>
      </div>
    </div>

    <!-- <div style="z-index: -1; margin-top: 20px; background-color: rgb(0, 0, 0);">
      <a  *ngIf="isloggedIn" style="cursor: pointer;text-align: center !important;" (click)="logout(logout1)" class="nav-link logout" data-toggle="modal" data-target="#logout1"> 
       <span class="d-none d-sm-inline-block" >Logout &nbsp;</span><i class="fa fa-sign-out"></i></a> 
  </div>  -->
  </nav>
  <div class="page" *ngIf="isloggedIn">
    <!-- navbar-->
    <header class="header">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-holder d-flex align-items-center justify-content-between">
            <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="fa fa-bars"> </i></a><a
                class="navbar-brand">
                <div class="brand-text d-none d-md-inline-block"><strong class="text-light"></strong></div>
              </a></div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
              <!-- Notifications dropdown-->
              <li *ngIf="!this.hidesideBar" class="nav-item dropdown"> <a id="notifications" rel="nofollow"
                  data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">{{ isAdmin ? 5 :
                    ''}}</span></a>
                <ul *ngIf="isloggedIn && isAdmin" aria-labelledby="notifications" class="dropdown-menu">
                  <li><a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification d-flex justify-content-between">
                        <div class="notification-content"><i class="fa fa-envelope"></i>You have 6 new messages </div>
                        <div class="notification-time"><small>4 minutes ago</small></div>
                      </div>
                    </a></li>
                  <li><a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification d-flex justify-content-between">
                        <div class="notification-content"><i class="fa fa-twitter"></i>Download reports features,
                          updated.</div>
                        <div class="notification-time"><small>4 minutes ago</small></div>
                      </div>
                    </a></li>
                  <li><a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification d-flex justify-content-between">
                        <div class="notification-content"><i class="fa fa-upload"></i>Reports Updated</div>
                        <div class="notification-time"><small>4 minutes ago</small></div>
                      </div>
                    </a></li>
                  <li><a rel="nofollow" href="#" class="dropdown-item">
                      <div class="notification d-flex justify-content-between">
                        <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                        <div class="notification-time"><small>10 minutes ago</small></div>
                      </div>
                    </a></li>
                  <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i
                          class="fa fa-bell"></i>view all notifications </strong></a></li>
                </ul>
              </li>
              <!-- Messages dropdown-->
              <!-- <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>
                  </ul>
                </li> -->
              <!-- Languages dropdown    -->
              <!-- <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="img/flags/16/GB.png" alt="English"><span class="d-none d-sm-inline-block">English</span></a>
                  <ul aria-labelledby="languages" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/DE.png" alt="English" class="mr-2"><span>German</span></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="img/flags/16/FR.png" alt="English" class="mr-2"><span>French                                                         </span></a></li>
                  </ul>
                </li> -->
              <!-- Log out-->
              <li class="nav-item" *ngIf="!this.hidesideBar">
                <a *ngIf="isloggedIn" style="cursor: pointer;"  class="nav-link logout"
                  data-toggle="modal" data-target="#logout1">
                  <span style="color: white;" class="d-none d-sm-inline-block">Logout</span><i class="fa fa-sign-out"></i></a>
              </li>
              <li>
                <a style="color: white;" *ngIf="!isloggedIn" class="nav-link menu" (click)="open(login)">{{loginStr}} <i
                    class="fa fa-sign-out"></i></a>
                <!-- </li><li>
                  <a  *ngIf="isloggedIn" class="nav-link menu" ><i class="fa fa-user" aria-hidden="true"></i> {{loginStr}}</a>
                </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div>
      <router-outlet *ngIf="isloggedIn"></router-outlet>
    </div>
    <!-- <div>
      <app-sign-in></app-sign-in>
    </div> -->

    <footer class="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>
              <a class="a" href="https://www.eklakshya.com/privacy-policy" target="_blank">Privacy Policy</a>
              <a class="a" href="https://www.eklakshya.com/cancellation-and-refund" target="_blank">&nbsp; &nbsp;
                Cancellation And Refund </a>
              <a class="a" href="https://www.eklakshya.com/terms-and-conditions" target="_blank">&nbsp; &nbsp;
                Terms And Conditions</a>
                <a class="a" href="https://www.eklakshya.com/contact" target="_blank">&nbsp; &nbsp;
                  Contact us</a>
              </p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="fs"> Copyright 2020-21 · Designed & Developed by <a class="ekl" style="color: #d6644a ;"
                href="https://www.eklakshya.com/" class="external">eklakshya</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- 
  <div  *ngIf="!isloggedIn">
    <app-sign-in></app-sign-in>
  </div>  -->







<!-- before login-->
<div *ngIf="!isloggedIn">
  <div *ngIf="!isloggedIn">
    <header class="header">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-holder d-flex align-items-center justify-content-between">
            <div class="navbar-header"><img routerLink="/" src="https://s3.ap-south-1.amazonaws.com/eklakshya.com/Dipstick+production/LOGO_Eklakshya_T_HD.png" alt="EKL_Logo"
                style="width: 12%; height: auto;"></div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
              <li class="nav-item">
              </li>
              <li>
                <a style="cursor: pointer;" *ngIf="!isloggedIn && hideSignIn" class="nav-link menu btn btn-orange"
                  (click)="open(login)">Login</a>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <footer class="main-footer" style="position: fixed;;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>
              <a class="a" href="https://www.eklakshya.com/privacy-policy" target="_blank">Privacy Policy</a>
              <a class="a" href="https://www.eklakshya.com/cancellation-and-refund" target="_blank">&nbsp; &nbsp;
                Cancellation And Refund </a>
              <a class="a" href="https://www.eklakshya.com/terms-and-conditions" target="_blank">&nbsp; &nbsp;
                Terms And Conditions</a>
                <a class="a" href="https://www.eklakshya.com/contact" target="_blank">&nbsp; &nbsp;
                  Contact us</a>
              </p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="fs"> Copyright 2020-21 · Designed & Developed by <a class="ekl" style="color: #d6644a ;"
                href="https://www.eklakshya.com/" class="external">eklakshya</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <router-outlet *ngIf="!isloggedIn"></router-outlet>
  <ng-template #login let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #userlogin="ngForm" (ngSubmit)="authenticate(userlogin.value)">
      <!-- <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)"> -->
        <div class="form-group">
          <label class="login-label">User Name</label>
          <div class="input-group">
            <input ngbAutofocus name="userName" id="userName" class="form-control" type="text" placeholder="User Name"
              ngModel>
          </div>
          <label class="login-label">Password</label>
          <div class="input-group">
            <input [attr.type]="showPwd ? 'password' : 'text'" name="password" placeholder="Password" ngModel class="form-control">
           <div class="field-icon toggle-password fa"> <span (click)="this.showPwd = !this.showPwd" [ngClass]="{'fa-eye-slash':showPwd,'fa-eye':!showPwd}"></span></div>
          </div>
          <p style="text-align: center;color: red;font-weight: inherit;padding-top: 5px;">{{err}}</p>

          <div style="display: flex;flex-wrap: wrap;place-content: space-around;margin-top:20px;">
            <h3 style="color: #0a3c62;">Dipstick<span class="trademark">&#8482;</span> Reports version : {{version}}
            </h3>
            <div class="row justify-content-end">
              <span class="col">
                <!-- <button type="reset" value="Reset the form" class="btn btn-light">Reset</button> -->
                <button type="reset" (click)="reset()" value="Reset the form" class="btn btn-light">Reset</button>
              </span>
              <span class="col login-submit">
                <button value="submit" type="submit" class="btn btn-orange">Submit</button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>

<!-- <div class="modal fade" id="logout1" data-backdrop="static" data-keyboard="false"> -->
<div class="modal fade" id="logout1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Do you Want to Logout ?</h2>
      </div>
      <div class="modal-footer" style="justify-content: space-between !important;">
        <button (click)="signOut()" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>