-->
<footer id="footer" class="footer-10">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">COMPANY NAME<span></span></h5>
                        <p>About the company, little discription will goes here.. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>