.student-filters {
    margin-top: 4px;
    color: #0a3c62;
}

.selector-body {
    padding: 15px;
    color: #0a3c62;
}
.selector {
    min-height: 50px;
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
    color: #0a3c62;
}

@media screen and (max-device-width:300px), screen and (max-width:800px) {
    .selector {
        min-height: 50px;
        min-width: 100%;
        max-width: 100%;
        padding: 0px !important;
        color: #0a3c62;
    }
    .view-reports{
        padding: 15px !important;
    }
}
.student-selector {
    padding: 15px;
    margin-bottom: 10px;
    color: #0a3c62;
}
.student-selector input, .student-selector datalist option, .student-selector .student-selector-button{
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
    /* width: 100%; */
}
/* .view-reports-button {
    margin: 10px 10%;
    padding: 4px;
    background-color: #ffffff;
    min-width: 80%;
} */
.student-selector-submit-button {
    min-width: 100%;
    min-height: 100%;
    background-color: #ffffff;
}

/* .year-selector-active {
    border-color: #ff7e28;
    border-width: 2px;
} */
.institute-selector,
.year-selector-active, 
.semester-selector-active, 
.department-selector-active,
.course-selector-active {
    border-color: #545454;
    /* border-width: 2px; */
}

/* .year-selector-active {
    border-color: rgb(36, 35, 35);
} */
/* border-width: 2px; */

/* .department-selector-active {
    border-color: rgb(36, 35, 35);
} */
/* border-width: 2px; */

/* .course-selector-active {
    border-color:rgb(36, 35, 35);
} */
/* border-width: 2px; */

.student-selector-active input{
    border-color: rgb(36, 35, 35);
    border-width: 2px;
    color: #0a3c62;
}

.student-selector-submit-button-active {
    border-color: rgb(36, 35, 35);
    border-width: 2px;
}

.selector {
    border-width: 2px;
    background-color: #ffffff;
    color: #0a3c62;
}
.student-breadcrumb-display {
    padding: 5px;
    color: #0a3c62;
}
.breadcrumb-text span {
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    color: #0a3c62;
}
.breadcrumb-text {
    margin-top: 4px;
    color: #0a3c62;
}