
<div *ngIf="!displayReports || !(activeYear && activeDepartment && activeCourse && activeStudent?.usn)" class="container-fluid">

    <div class="student-breadcrumb-display fontSize breads">
        <p class="breadcrumb-text">
            <span (click)="hotReset()">&nbsp;You are here: Student-reports </span>
            <span (click)="onInstituteChange()" *ngIf="activeInstitute?.name">&nbsp;/&nbsp; {{activeInstitute?.name}} </span>
            <span (click)="onYearChange()" *ngIf="activeYear">&nbsp;/&nbsp; {{activeYear}}</span>
            <span (click)="onSemesterChange()" *ngIf="activeYear && activeSemester?.name">&nbsp;/&nbsp;{{activeSemester?.name}}</span>
            <span (click)="onDepartmentChange()" *ngIf="activeYear && activeSemester?.name && activeDepartment?.name">&nbsp;/&nbsp;{{activeDepartment?.name}}</span>
            <span (click)="onCourseChange()" *ngIf="activeYear && activeSemester?.name && activeDepartment?.name && activeCourse?.name">&nbsp;/&nbsp;{{activeCourse?.name}}</span>
            <span *ngIf="activeYear && activeSemester?.name && activeDepartment?.name && activeCourse?.name && activeStudent?.usn">&nbsp;/&nbsp;{{activeStudent?.usn}} - {{activeStudent?.name}} </span>
        </p>
    </div>
    <h2  style="color:#0a3c62; text-align: center;  font-weight: inherit !important;">Student Reports</h2>
    <div class="row justify-content-around student-filters">
        <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body" *ngIf="!isUser && (userRole != 'faculty')">
            <!-- <select class=" form-select year-selector selector" [ngClass]="{'year-selector-active':activeYear}" aria-label="Default select example" (change)="onYearChange($event.target.value)"> -->
                <select class=" form-select institute-selector selector" aria-label="Default select example" (change)="setNewInstitute($event.target.value)" >
                    <option disabled [selected]="!activeInstitute" >Select Institution</option>
                <option *ngFor="let institute of institutes" [selected]="activeInstitute && (activeInstitute['_id'] == institute['_id'])" [value]="institute['_id']"> {{institute.name}} </option>
            </select>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body">
            <!-- <select class=" form-select year-selector selector" [ngClass]="{'year-selector-active':activeYear}" aria-label="Default select example" (change)="onYearChange($event.target.value)"> -->
                <select class=" form-select year-selector selector" aria-label="Default select example" [ngClass]="{'year-selector-active':activeYear}" (change)="setNewYear($event.target.value)" [disabled]="!activeInstitute">
                    <option disabled [selected]="!activeYear" >Select Year</option>
                    <option *ngFor="let year of yearsList" [selected]="activeYear && (activeYear == year)" [value]="year"> {{year}} </option>
            </select>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body">
            <select class="form-select department-selector selector" [ngClass]="{'semester-selector-active':activeYear}" aria-label="Default select example" (change)="setNewSemester($event.target.value)" [disabled]="!activeYear">
                <option disabled [selected]="!activeSemester" >Select Semester</option>
                <option *ngFor="let semester of semestersList" [selected]="activeSemester && (activeSemester['_id'] == semester['_id'])" [value]="semester['_id']"> {{semester.name}} </option>
            </select>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body">
            <select class="form-select department-selector selector" [ngClass]="{'department-selector-active':activeSemester?._id}" aria-label="Default select example" (change)="setNewDepartment($event.target.value)" [disabled]="!activeSemester">
                <option disabled [selected]="!activeDepartment" >Select Department</option>
                <option *ngFor="let department of departmentsList" [selected]="activeDepartment && (activeDepartment['_id'] == department['_id'])" [value]="department['_id']"> {{department.name}} </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body">
            <select class="form-select course-selector selector" [ngClass]="{'course-selector-active':activeDepartment}" aria-label="Default select example" (change)="setNewCourse($event.target.value)" [disabled]="!activeDepartment">
                <option disabled [selected]="!activeCourse">Select Course</option>
                <option *ngFor="let course of coursesList" [selected]="activeCourse && (activeCourse['_id'] == course['_id'])" [value]="course['_id']"> {{course.name}} </option>
            </select>
        </div>
        <div class="col-6 student-selector" [ngClass]="{'student-selector-active':activeCourse}">
            <input type="text" [value]="activeStudent?.usn" (keyup)="setNewStudent($event.target.value)" id="userIdFirstWay" list="studentsListByCourseId" placeholder="USN of the Student" [disabled]="!activeCourse?.name"/>
            <!-- <input type="text" [value]="activeStudent?.usn" (keyup)="setNewStudent($event.target.value)" id="userIdFirstWay" list="studentsListByCourseId" placeholder="USN of the Student" [disabled]="!activeCourse?.name" autocomplete="off"/> -->
            <datalist id="studentsListByCourseId">
                <option *ngFor="let student of studentsList" [value]="student.usn">({{student.name}})</option>
            </datalist>
        </div>
        <div class="col student-selector student-selector-submit">
            <button class="student-selector-submit-button" [ngClass]="{'student-selector-submit-button-active':(activeYear && activeDepartment && activeCourse && activeStudent?.usn)}" (click)="hotReset()" [disabled]="!(activeYear || activeDepartment || activeCourse || activeStudent)">
                Reset
            </button>
        </div>
        <div class="col student-selector student-selector-submit">
            <button class="student-selector-submit-button view-reports" [ngClass]="{'student-selector-submit-button-active':(activeYear && activeDepartment && activeCourse && activeStudent?.usn)}" (click)="viewReports()" [disabled]="!(activeYear && activeDepartment && activeCourse && activeStudent)">
                View reports
            </button>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <button class="view-reports-button" (click)="viewReports()" [disabled]="!(activeYear && activeDepartment && activeCourse && activeStudent)">
                View reports
            </button>
        </div>
    </div> -->
</div>

<div class="student-report-view" *ngIf="displayReports && (activeYear && activeDepartment && activeCourse && activeStudent?.usn)">
    <div class="student-breadcrumb-display fontSize breads">
        <p class="breadcrumb-text">
            <span (click)="hotReset()">&nbsp;You are here:Students-reports </span>
            <span (click)="onInstituteChange()" *ngIf="activeInstitute?.name">&nbsp;/&nbsp; {{activeInstitute?.name}} </span>
            <span (click)="onYearChange()" *ngIf="activeYear">&nbsp;/&nbsp;{{activeYear}}</span>
            <span (click)="onSemesterChange()" *ngIf="activeYear && activeSemester?.name">&nbsp;/&nbsp;{{activeSemester?.name}}</span>
            <span (click)="onDepartmentChange()" *ngIf="activeYear && activeDepartment?.name">&nbsp;/&nbsp;{{activeDepartment?.name}}</span>
            <span (click)="onCourseChange()" *ngIf="activeYear && activeDepartment?.name && activeCourse?.name">&nbsp;/&nbsp;{{activeCourse?.name}}</span>
            <span *ngIf="activeYear && activeDepartment?.name && activeCourse?.name && activeStudent?.usn">&nbsp;/&nbsp;{{activeStudent?.usn}} - {{activeStudent?.name}} </span>
        </p>
    </div>
    <app-student-reports-view [studentName]="activeStudent?.name" [studentUSN]="activeStudent?.usn" [courseName]="activeCourse?.name"></app-student-reports-view>
</div>