.testname{
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-left: 22%;

  }
  .testname:hover{
    text-decoration-line: underline;
    color: blue;
  }
  /* .legend {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 50px;
    position: fixed;
    right: 0;
  } */
  