<!-- <h1>Home page</h1> -->

<!-- <div class="container"> -->
  <div class="non-container">
    <div *ngIf="loggedIn"><marquee direction="left">
      Contact us at <a target="_blank" style="color: blue;text-decoration: underline;" 
      href="mailto:hello@eklakshya.com?subject=Contacting you for Demo.&body=">
      hello@eklakshya.com</a> for a demo.
      </marquee></div>
    <div class="" id="homeImage">
      <!-- <img class="img" src="../assets/images/dipstick.png"  alt="main" loading="lazy"> -->
      <img style="padding: -3% !important;" class="img" [attr.src]= home alt="main" loading="lazy">
      <!-- <h3>Student Report Generator</h3> -->
      </div>
  </div>