

.home{
     padding: 15rem 2rem;
    margin-top: 1%;
    text-align: center;
  }
  .img{
    width:100%;
  }
  @media only screen and (max-width: 900px) and (min-width: 300px)  {
marquee{
  font-weight: bolder;
  color: #1d3460;
  font-size: x-small;
  position: fixed;
  padding: -1px;
  top: 8%;
}
 }


 @media only screen and (max-width: 1440px) and (min-width: 600px)  {
  marquee{
    font-weight: bolder;
      color: #1d3460;
      font-size: xx-large;
      position: fixed;
      padding: 16px;  top:10%;
  }
   }
/* 
    @media only screen and (max-width: 900px) and (min-width: 300px)  {
    #homeImage{
      background-image: url('./../../../assets/images/dipstick.jpg');
      background-size: cover;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 130%;
    position: relative;
    background-color: transparent;
    min-height: 11rem;  
    }
  
  }


  @media only screen and (max-width: 1440px) and (min-width: 600px)  {
    #homeImage{
      background-image: url('./../../../assets/images/dipstick.jpg');
      background-size: cover;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 130%;
    position: relative;
    background-color: transparent;
    min-height: 31rem;  
    }
  
  }


  @media only screen and (max-width: 1400px) and (min-width: 1200px)  {
    #homeImage{
      background-image: url('./../../../assets/images/dipstick.jpg');
      background-size: cover;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 130%;
    position: relative;
    background-color: transparent;
    min-height: 29rem;  
    }
  
  }   */

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .marquee {
    width:"100%";
    left:"20px";
     position: relative;
    font-weight: bolder;
    color: #1d3460;
    font-size: xx-large;
  
   }