<div class="container" style="background: white;">
  <button id="btn" style="display:none;" class="reset"  (click)="reset()"><i aria-hidden="true" class="fa fa-undo"></i></button>
<div class="resizable" [class.onDrag]="this.onDrag" [ngStyle]="style" >
    <ng-content></ng-content>
    <div class="cell-border-top"></div>
    <!-- <div class="cell-border-bottom"></div> -->
    <div class="cell-border-left"></div>
    <div class="cell-border-right"></div>
    <div class="cell-top-right"></div>
    <div class="cell-bottom-right"></div>
    <div class="cell-top-left"></div>
    <div class="cell-bottom-left"></div>    
  </div>
</div>