.resizable {
    position: relative;
    overflow: auto;
  }
  
  /* If we want to see the divs */
  /* .cell-border-top,.cell-border-bottom,.cell-border-left,.cell-border-right
  {
    border:1px solid red;
    background-color:red!important;
  
  }
  .cell-top-right,.cell-top-left,.cell-bottom-right,.cell-bottom-left
  {
    border:1px solid green;
    background-color:green!important;
  }
 */
 
  .cell-border-top {
    top: 0;
    left: 5px;
    right: 5px;
    z-index: 10;
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    height: 5px;
    cursor: n-resize;
  }
  
  .cell-border-bottom {
    bottom: 0;
    left: 5px;
    right: 5px;
    z-index: 10;
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    height: 5px;
    cursor: n-resize;
  }
  
  .cell-border-left {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    opacity: 0.5;
    width: 5px;
    left: 0;
    top: 5px;
    bottom: 5px;
    cursor: e-resize;
  }
  
  .cell-border-right {
    right: 0;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    opacity: 0.5;
    width: 5px;
    top: 5px;
    bottom: 5px;
    cursor: e-resize;
  }
  
  .cell-top-right {
    top: 0;
    right: 0;
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    width: 5px;
    height: 5px;
    cursor: ne-resize;
  }
  
  .cell-bottom-right {
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: transparent;
    opacity: 0.5;
    width: 5px;
    height: 5px;
    cursor: nw-resize;
  }
  
  .cell-top-left {
    top: 0;
    left: 0;
    position: absolute;
    cursor: nw-resize;
    background-color: transparent;
    opacity: 0.5;
    width: 5px;
    height: 5px;
  }
  
  .cell-bottom-left {
    bottom: 0;
    left: 0;
    position: absolute;
    cursor: sw-resize;
    background-color: transparent;
    opacity: 0.5;
    width: 5px;
    height: 5px;
  }
  .cell-top {
    cursor: move;
  }
  .onDrag ::select {
    background-color: none;
    color: none;
  }
  
  .reset{
    border: none;
    outline: none;
    float: right;
    padding: 5px;
    margin-top: 0px;
    background-color: white;
    /* margin-right: -53px; */
    cursor: pointer;
    color:#7f7f7f
  }

  .reset:hover{
    color: black;
  }