<div style="display: block;" id="loading" *ngIf="!reportDetails?.topics" class="loading">Loading&#8230;</div>
<div *ngIf="reportDetails?.topics">
    <div >
        <h2 style="margin-left: 20%;color: #0a3c62;  text-align: center;  font-weight: inherit !important;"> Course Name:{{courseDetails?.name}}({{courseDetails?.coursecode}})</h2>
        <div class="centered" >
            <div class="overflowbar">
            <svg [ngClass]="reportDetails.topics.length == 1 ? 'single' : 'mored'" id="pre" [attr.viewBox]="reportDetails.viewBox" [style.width]="(getSvgWidth(reportDetails.rowDistribution)*60) + 'px' "  >
            <path *ngFor="let hexPath of reportDetails['hexagonSvgPaths']; let i = index" [attr.d]="hexPath" [attr.fill] = "reportDetails['hexagonColors'][i]" stroke = "#fff" stroke-width="3px" />
            <text class="hex-label fontSize kkk" *ngFor="let hexCenterX of reportDetails['centerX']; let i = index" [attr.x]="reportDetails['centerX'][i] - ((getHexText(i).length / 2) * 2)"[attr.y]="reportDetails['centerY'][i]-1" fill="black">{{getHexText(i)}}</text>
            <text class="hex-label fontSize kkk" *ngFor="let hexCenterX of reportDetails['centerX']; let i = index" [attr.x]="reportDetails['centerX'][i] - ((( reportDetails.topics[i].percentage == 100 ? '100' : reportDetails.topics[i].percentage.toFixed(2)).toString().length / 2) * 4) - 6"[attr.y]="reportDetails['centerY'][i]+14" fill="black">{{ reportDetails.topics[i].percentage == 100 ? '100' : reportDetails.topics[i].percentage.toFixed(2) }}%</text>
        </svg>
    </div>
        </div>
        </div>
        <br> <br> <br> <br>
            <table class="table table-bordered kk" *ngIf="reportDetails?.topics?.length" >
                 <thead >
                     <tr>
                         <th scope="col"> Serial # </th>
                         <th scope="col">Test Name</th>
                        <th scope="col">{{ isStudentReport() ? '' : 'Average' }} Score</th>
                        <th *ngIf="!isStudentReport()" scope="col">Number Of Records</th>
                    </tr>
                </thead>
                <tbody class="fonts Font-size-for-listing">
                <tr *ngFor="let posttest of reportDetails['topics'];  let i = index" [attr.data-index]="i">
                    <td class="table-list-items" scope="row" >T{{ i+1 }}</td>
                    <td class="table-list-items testname-list-display"> {{posttest['name']}}</td>
                    <td class="table-list-items">{{posttest['percentage'] == 100 ? '100' : posttest['percentage'].toFixed(2)}}%</td>
                    <td *ngIf="!isStudentReport()" class="table-list-items">{{ posttest['count']}}</td>
                </tr>
                </tbody>
            </table>
        
            </div>        