[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 100%;
    padding: 4px 4px 4px 8px;
    color: #0a3c62;
    white-space: nowrap; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px #0a3c62;
    
    -webkit-box-shadow: 0px 0px 4px #0a3c62;
;  
    box-shadow: 0px 0px 4px #0a3c62;
    ;  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
    background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

@media screen and (max-device-width:300px), screen and (max-width:800px) {
/* svg{
    width: 120px !important;
} */
}

.kk{
font-size: 15px !important;
color: inherit !important;
font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
}

.kkk{
     color: inherit !important;
    font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
    }

.centered {
    display: flex;
    justify-content: center;
}