<!-- <app-breadcrumb-display></app-breadcrumb-display> -->

<div class="container main">
    <!-- <h2 class="report-title fontW">
         Report-2: Student (Concepts)
    </h2>    -->
 </div>





<app-concept-reports-all-participants [url]="APIURL" [isPopupVisible]="isPopupVisible" [reportType]="'conceptwise'" [labelPrefix]="'C'" [listLabel]="'Concept'" [popupXLabel]="'CONCEPT'" [POPUPAPIURL]="POPUPAPIURL"></app-concept-reports-all-participants>
