
<!-- <app-ng-dynamic-breadcrumb></app-ng-dynamic-breadcrumb> -->
<app-menus></app-menus>
<button [hidden]="true" id="btnid" (click)="open(login)"></button>

<ng-template #login let-modal top="45%">
    <div class="modal-body" style="text-align: center;">
    <h1>View it in landscape mode for a more immersive experience.</h1>
    <div style="display: flex;justify-content: space-evenly;">
    <div style="justify-content: center;">
      <button class="btn btn-primary" (click)="rotate(); modal.dismiss('Cross click')">Okay</button>
    </div>
    <div style="justify-content: center;">
      <button class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
     </div>
   </ng-template>
