.testname1:hover, .testname:hover {
    text-decoration-line: underline;
    color: blue;
}

.testname {
    cursor: pointer;
    margin-left: 20%;
    margin-bottom: 0%;
   

}

.mar {
    margin: 0 80px;
}

.report-not-found {
    text-align: center;
    width: 100%;
    margin-top: 25vh;
}


@media screen and (max-device-width:300px),
screen and (max-width:800px) {
    .scollBar {
        /* overflow-x: scroll; */
    }
}

@media screen and (max-device-width:300px),
screen and (max-width:800px) {
    svg {
        margin-top: 25px !important;
        /* width: 120px !important; */
    }

    .testname {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px !important;
    }
}



.hovertext {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: -webkit-fill-available;
    /* width: 140px; */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    /* margin-left: 6px; */
    margin-left: -4px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    font-weight: 100 !important;
    font-size: 12px;
    cursor: pointer;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}


.hovertext:hover{
    /* text-decoration-line: underline !important;
    color: blue !important; */
}
.fontk {
    font-size: 15px !important;
    color: inherit !important;
    font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
}

.fontkk {
     color: inherit !important;
    font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

    .ifDisabled   .ifDisabled:hover{
        text-decoration-line: none;
        color: black;
        cursor:'pointer'
    }

    .loading1{
         position: absolute;
        overflow: visible;
        margin: auto;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }

h2 {
    margin-bottom: 12px !important;
}

.legend {
    margin-top: 0%;
}

@media (max-width: 575px) {
.mblview{
    display: block ;
}
.col-6{
    max-width: 200%;
}
}

@media screen and (orientation: landscape) and (max-width: 850px) {
/* .legend {
    margin-top: -17%;
} */

}