<app-breadcrumb-display [reportType]="reports"></app-breadcrumb-display>
<app-filter-reports></app-filter-reports>

<div class="container-fluid main topPlace" *ngIf="reportType=='questionwise' && checkReportVisibility()" >
  <h3 style="margin: 0px;color:#0a3c62" class="report-title fontW"> Report-8: By Division (Questions)</h3>
  <h2 style="margin: 0px;color: #0a3c62; text-align: center;  font-weight: inherit !important;" *ngIf="courseDetails?.coursecode"> Course Name: {{courseDetails?.name}}({{courseDetails?.coursecode}})</h2>
  
  <div class="card-body">
    <div class="row bottom-space">
      <div class="col-10 container" style="position: inherit;">
        <div class="row" >
          <div style="position: inherit;margin-bottom: 5%; margin-left: 10px;" [ngClass]="{'col-md-5': reportDetail?.hexagonSvgPaths.length <= 24, 'col-md-12 col-12': reportDetail?.hexagonSvgPaths.length > 24 }" class="col-sm-12" *ngFor="let reportDetail of reportDetails; let reportIndex= index" [hidden]="!reportDetail?.centerX?.length" (scroll)=" onScroll($event)" >
            <div class="test-name-display-on-hover">
              <p class="hovertext hex-labels hexagon-cluster-title fonts mar" (click)="activeDivision = reportDetail?.metadata?.division;activeTest = { _id : reportDetail?.metadata?.testid, name : reportDetail?.metadata?.name }; checkPopupVisibility('group-questionwise-divisionWise-popup') && open(tablemodal)" [ngStyle]="!checkPopupVisibility('group-questionwise-divisionWise-popup') && {'cursor': 'default','text-decoration':'none','color':'black'}" [ngClass]="{'hovertext': reportDetail?.metadata?.name.substring(30),'testname1':checkPopupVisibility('group-questionwise-divisionWise-popup')}" [attr.data-hover]="reportDetail?.metadata?.name">{{reportDetail?.metadata?.name.substring(0, 30)}}<span *ngIf="reportDetail?.metadata?.name.substring(30)">...</span> / {{reportDetail?.metadata?.division}}</p>
            </div>
            <!-- <div style="overflow-x: auto;overflow-y: hidden;"> -->
              <div class= "overflowbar">
              <svg style="margin: 0 50px;" [attr.viewBox]="reportDetail.viewBox" [style.width]="(getSvgWidth(reportDetail.rowDistribution)*60)+ 'px'" > 
                <path *ngFor="let hexPath of reportDetail?.hexagonSvgPaths; let Index = index" [attr.d]="hexPath" [attr.fill] = "reportDetail?.hexagonColors[Index]" stroke = "#fff" stroke-width="3px"/>

                <text style="cursor: pointer;"  class="hex-label fontSize" *ngFor="let hexCenterX of reportDetail?.centerX; let i = index" [attr.x]="hexCenterX -(reportDetail?.topics[i].qnno.length ? ((reportDetail?.topics[i].qnno.length / 2) * 6)+1 : 3)"  [attr.y]="reportDetail['centerY'][i] - 0" fill="black" >{{reportDetail.topics[i].qnno}}<title class="tooltiptext">Subtopic :{{reportDetail.topics[i].subtopic}}&#10;Conceptstatement :{{reportDetail.topics[i].conceptstatement}}</title>
                </text>

                
                <text style="font-size: 13px !important; cursor: pointer;" class="hex-label fontSize" *ngFor="let hexCenterX of reportDetail?.centerX; let i = index" [attr.x]="reportDetail['centerX'][i]-(((reportDetail?.scores[i] == 100 ? '100' : ( reportDetail.scores[i].toFixed(2))).toString().length / 2) * 4) - (reportDetail.scores[i]==-1 ? 0 : 6)" [attr.y]="reportDetail['centerY'][i] + 15" fill="black">{{ reportDetail.scores[i]==-1 ? 'N/A' : (reportDetail.scores[i] == 100 ? '100' : ( reportDetail.scores[i].toFixed(2))) + '%'}}
                  <title class="tooltiptext">Subtopic :{{reportDetail.topics[i].subtopic}}&#10;Conceptstatement :{{reportDetail.topics[i].conceptstatement}}</title></text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 hi" style="position: inherit;">
          <img [ngClass]="{'legend2': userRole === 'faculty', 'legend': userRole !== 'faculty'}" src="./assets/images/legend.png">
          <app-download-group-reports></app-download-group-reports>
      </div>
    </div>
    <div *ngIf="reportDetails.length < testsWithDivisions.length" style="display: block; position: relative; overflow: visible; margin: auto; left: 0; bottom: 0; margin-right: 65%;" id="loading1" class="loading">Loading&#8230;</div>
  </div>    
</div>
 <!-- <div class="container-fluid main topPlace" *ngIf="reportType=='questionwise' && checkReportVisibility()" >
    <h3 style="margin: 0px;" class="report-title fontW"> Report-8: By Division (Questions)</h3>
     <h2 style="margin: 0px;color:#900C3F; text-align: center;  font-weight: inherit !important;"> Course Name:{{reportDetails?.course?.name}}({{reportDetails?.course?.coursecode}})</h2>
 <div class="card-body">
   <div class="row bottom-space">
     <div class="col-10 container" style="position: inherit;">
        <div class="row" >
            <div style="position: inherit;margin-bottom: 5%; margin-left: 10px;" [ngClass]="{'col-md-5': !getTestCountOfRowDistributionCount(hexClusters.rowDistributions[0]), 'col-md-12': getTestCountOfRowDistributionCount(hexClusters.rowDistributions[0])}" class="col-lg-6 col-sm-12 col-xl-5" *ngFor="let hexClusters of reportDetails?.divisions; let mainIndex= index" [hidden]="!hexClusters.centerX[0].length" (scroll)=" onScroll($event)" >
                <div class="test-name-display-on-hover">
                    <p class="testname hex-labels hexagon-cluster-title fonts mar" (click)="activeDivision = hexClusters.division;activeTest = hexClusters.test; checkPopupVisibility('group-questionwise-divisionWise-popup') && open(tablemodal)" [ngStyle]="!checkPopupVisibility('group-questionwise-divisionWise-popup') && {'cursor': 'default','text-decoration':'none','color':'black'}" [ngClass]="{'hovertext': hexClusters.test.name.substring(30),'testname1':checkPopupVisibility('group-questionwise-divisionWise-popup')}" [attr.data-hover]="hexClusters.test.name">{{hexClusters.test.name.substring(0, 30)}}<span *ngIf="hexClusters.test.name.substring(30)">...</span> / {{hexClusters.division}}</p>
                </div>
                <div style="overflow-x: auto;overflow-y: hidden;">
                 <svg style="margin: 0 50px;" [attr.viewBox]="hexClusters.viewBoxes[0]" [style.width]="(getSvgWidth(hexClusters.rowDistributions[0])*60)+ 'px'" > 
                     <path *ngFor="let hexPath of hexClusters.hexagonSvgPaths[0]; let Index = index" [attr.d]="hexPath" [attr.fill] = getScoreColor(hexClusters.testsData[hexClusters.test._id][Index].score) stroke = "#a9a9a9"/>
                     <text style="font-size: 13px !important;" class="hex-label fontSize" *ngFor="let hexCenterX of hexClusters.centerX[0]; let i = index" [attr.x]="hexCenterX -(hexClusters.testsData[hexClusters.test._id][i].qnno.length ? ((hexClusters.testsData[hexClusters.test._id][i].qnno.length / 2) * 6)+1 : 3)"  [attr.y]="hexClusters['centerY'][0][i] - 0" fill="black">{{hexClusters.testsData[hexClusters.test._id][i].qnno}}</text>
                     <text style="font-size: 13px !important;" class="hex-label fontSize" *ngFor="let hexCenterX of hexClusters.centerX[0]; let i = index" [attr.x]="hexClusters['centerX'][0][i]-(((hexClusters.testsData[hexClusters.test._id][i].score == 100 ? '100' : ( hexClusters.testsData[hexClusters.test._id][i].score.toFixed(2))).toString().length / 2) * 4) - (hexClusters.testsData[hexClusters.test._id][i].score==-1 ? 0 : 6)" [attr.y]="hexClusters['centerY'][0][i] + 15" fill="black">{{ hexClusters.testsData[hexClusters.test._id][i].score==-1 ? 'N/A' : (hexClusters.testsData[hexClusters.test._id][i].score == 100 ? '100' : ( hexClusters.testsData[hexClusters.test._id][i].score.toFixed(2))) + '%'}}</text>
                 </svg>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-2" style="position: inherit;">
        <img class="legend" src="./assets/images/legend.png">
        <app-download-group-reports></app-download-group-reports>
    </div>
         </div>
         <div *ngIf="pagenationLoader" 
         style="display: block;
                 position: relative;
                 overflow: visible;
                 margin: auto;
                 left: 0;
                 bottom: 0;
                 margin-right: 65%;
         " id="loading1" class="loading">Loading&#8230;
         </div>
  </div>    
</div> -->


 

 <!-- <ng-template #tablemodaql let-modal>
  <app-resize-border [dragHolder]="header">
    <h1>kkkkkkkkk</h1>
<div class="d-flex flex-column h-100" style="background-color: white;">
  <div class="modal-header" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
      <h4 #header class="modal-title test-title-modal fonts testname-list-display" id="modal-basic-title">{{activeTest.name}} : {{activeDivision}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-popup-table-view-conceptwise [type]="'divisionWise'" [showName]="true" [division]="activeDivision" [test]="activeTest" [viewType]="'conceptwise'" [xLabel]="'CONCEPT'"></app-popup-table-view-conceptwise>
    </div>
</div>
</div>
</app-resize-border>
 </ng-template> -->


<ng-template #tablemodal let-modal>
  <app-resize-border [dragHolder]="header">
    <div class="d-flex flex-column h-100" style="background-color: white;">
      <div class="modal-header">
        <h4 #header class="modal-title w-100" id="modal-basic-title">{{activeTest.name}} : {{activeDivision}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-grow-1">
        <app-popup-table-view-conceptwise [type]="'divisionWise'" [showName]="true" [division]="activeDivision" [test]="activeTest" [viewType]="'conceptwise'" [xLabel]="'CONCEPT'"></app-popup-table-view-conceptwise>

      </div>
      <div class="modal-footer">
       </div>
    </div>
  </app-resize-border>
</ng-template> 

 <div class="container main topPlace" *ngIf="reportType=='subconceptwise' && checkReportVisibility()">
  <h3 style="margin: 0px;color:#0a3c62" class="report-title fontW">
      {{reportService.replaceTopic('Report-6:  (SubConcepts)', 'subconcepts')}}</h3>   
</div>

<app-concept-reports-division-wise *ngIf="reportType=='subconceptwise' && checkReportVisibility()" [isPopupVisible]="checkPopupVisibility('group-subconceptwise-divisionWise-popup') && checkReportVisibility()" [url]="url" [reportType]="'subconceptwise'" [labelPrefix]="'SC'" [listLabel]="'Subconcept'" [popupXLabel]="'CONCEPT'"></app-concept-reports-division-wise>

<div class="container topPlace" *ngIf="reportType=='conceptwise' && checkReportVisibility()" > 
  <h3 style="margin: 0px;color:#0a3c62 !important;" class="report-title fontW">
     {{reportService.replaceTopic('Report-4: By Division (Concepts)', 'concepts')}}
  </h3>   
</div>
<app-concept-reports-division-wise *ngIf="reportType=='conceptwise' && checkReportVisibility()" [isPopupVisible]="checkPopupVisibility('group-conceptwise-divisionWise-popup')"  [url]="url" [reportType]="'conceptwise'" [labelPrefix]="'C'" [listLabel]="'Concept'" [popupXLabel]="'CONCEPT'"></app-concept-reports-division-wise>


<!-- <div class="container-fluid main topPlace fontk" *ngIf="reportType=='testwise' && checkPopupVisibility('group-testwise-divisionWise') && checkReportVisibility()">
  <div id="loading1" [style.display]="reportDetails.divisions.length ? 'none' : 'block' " class="loading">Loading&#8230;</div>
  <h3 style=" margin: 0px;color:#900C3F; text-align: center;font-weight: inherit !important;">
       {{reportService.replaceTopic('Report-2: By Division (Tests)', 'tests')}}</h3>
       <h2 style="margin: 0px;color:#900C3F; text-align: center;  font-weight: inherit !important;">
          Course Name:{{reportDetails.course.name}}({{reportDetails.course.coursecode}})</h2>
      <div class="card-body fonts">
      <div class="row bottom-space">
          <div class="col-10 container"  style="position: inherit;">
            <div>
              <div class="row" *ngIf="reportDetails.divisions.length">
                  <div style="position: inherit;margin-bottom: 5%;margin-left: 10px;" class="col-md-12 col-sm-12 col-xl-5"  [ngClass]="{ 'col-lg-4':getNumberOfHexagons(reportDetails['rowDistributions'][divisionIndex])<9 ,'col-lg-5': (getNumberOfHexagons(reportDetails['rowDistributions'][divisionIndex])<29 && getNumberOfHexagons(reportDetails['rowDistributions'][divisionIndex])>9), 'col-lg-12': getNumberOfHexagons(reportDetails['rowDistributions'][divisionIndex])>=29 }"   *ngFor="let division of reportDetails['divisions'];let divisionIndex=index;" [hidden]="!reportDetails['hexagonSvgPaths'][divisionIndex].length">
                  <span style="cursor: pointer;margin: 0 30px;"  class="division hexagon-cluster-title fonts testname" (click)=" checkPopupVisibility('group-testwise-divisionWise-popup') && openHistogram(test, division['_id'])" [ngStyle]="!checkPopupVisibility('group-testwise-divisionWise-popup') && {'cursor': 'default','text-decoration':'none','color':'black'}"   [ngClass]="{'testname1':checkPopupVisibility('group-questionwise-divisionWise-popup')}">Division : {{division["_id"]}} </span>
                  <div style="overflow-x: auto;overflow-y: hidden;">                         
                     <svg  [ngClass]="{'smx': reportDetails['hexagonSvgPaths'][divisionIndex].length<2, 'mdx': reportDetails['hexagonSvgPaths'][divisionIndex].length>1, 'lgx': false}" [attr.viewBox]="reportDetails.viewBoxes[divisionIndex]" [style.width]="(getSvgWidth(reportDetails.rowDistributions[divisionIndex])*60)+ 'px'" >
                              <path *ngFor="let hexPath of reportDetails['hexagonSvgPaths'][divisionIndex]; let i = index" [attr.d]="hexPath" [attr.fill] = "reportDetails['hexagonColors'][divisionIndex][i] " stroke = "#a9a9a9"/>
                              <text  class="hex-label fontSize fontkk" *ngFor="let hexCenterX of reportDetails['centerX'][divisionIndex]; let i = index" [attr.x]="reportDetails['centerX'][divisionIndex][i] - ((getHexText(i, divisionIndex).length / 2) * 3)"[attr.y]="reportDetails['centerY'][divisionIndex][i]-1" fill="black">{{getHexText(i, divisionIndex)}} 
                                  <title class="tooltiptext fontk">{{getHexText(i, divisionIndex)}}-{{reportDetails.tests[i].name}}</title>
                              </text>
                              <text  class="hex-label fontSize fontkk" *ngFor="let hexCenterX of reportDetails['centerX'][divisionIndex]; let i = index" [attr.x]="reportDetails['centerX'][divisionIndex][i] - ((getScore(divisionIndex, i).toString().length / 2) * 4) - 6"[attr.y]="reportDetails['centerY'][divisionIndex][i]+14" fill="black">{{getScore(divisionIndex, i)}} 
                                  <title class="tooltiptext fontkk">{{getHexText(i, divisionIndex)}}-{{reportDetails.tests[i].name}}</title>
                              </text>
                          </svg> 
                      </div>

                </div>
            </div>

            <div *ngIf="pagenationLoader" 
            style="
                    position: fixed;
                    overflow: visible;
                    margin: auto;
                    left: 0;
                    top : auto;
                    bottom: 5%;
                    right:0;
             " id="loading1" class="loading">Loading&#8230;
            </div>
        </div>
              <table class="table table-bordered fonts fontk" *ngIf="!pagenationLoader" >
                  <thead >
                      <tr>
                          <th scope="col"> Serial # </th>
                           <th scope="col">Test Name</th>
                      </tr>
                  </thead>
                  <tbody class="Font-size-for-listing">
                  <tr *ngFor="let posttest of reportDetails['tests'];  let i = index" [attr.data-index]="i">
                      <td class="table-list-items" scope="row" >T{{ i+1 }}</td>
                      <td class=" table-list-items testname-list-display"> {{posttest['name']}}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <div class="col-2">
              <img class="legend" [attr.src]=legend>
              <app-download-group-reports></app-download-group-reports>
          </div>
      </div>
</div>    
</div> -->

<div class="container-fluid main topPlace fontk" *ngIf="reportType=='testwise' && checkReportVisibility()">
    <div id="loading1" *ngIf="!testwiseResults" class="loading">Loading&#8230;</div>
    <h3 style=" margin: 0px;color: #0a3c62;  text-align: center;font-weight: inherit !important;"> {{reportService.replaceTopic('Report-2: By Division (Tests)', 'tests')}}</h3>
    <h2 style="margin: 0px;color: #0a3c62;  text-align: center;  font-weight: inherit !important;"> Course Name:{{courseDetails?.name}}({{courseDetails?.coursecode}})</h2>
    <div class="card-body fonts">
        <div class="row bottom-space">
            <div class="col-10 container"  style="position: inherit;">
              <div>
                <div class="row" *ngIf="reportDetails?.length">
                    <div style="position: inherit;margin-bottom: 5%;margin-left: 10px;" class="col-md-12 col-sm-12 col-xl-5"  [ngClass]="{ 'col-lg-4':getNumberOfHexagons(reportDetail.rowDistribution)<9 ,'col-lg-5': (getNumberOfHexagons(reportDetail.rowDistribution)<29 && getNumberOfHexagons(reportDetail.rowDistribution)>9), 'col-lg-12': getNumberOfHexagons(reportDetail.rowDistribution)>=29 }" [hidden]="!reportDetail?.topics?.length"  *ngFor="let reportDetail of reportDetails;let divisionIndex=index;">
                    <span style="cursor: pointer;margin: 0 30px;"  class="division hexagon-cluster-title fonts testname" (click)=" checkPopupVisibility('group-testwise-divisionWise-popup') && openHistogram(test1, reportDetail?.topics[0]?.division)" [ngStyle]="!checkPopupVisibility('group-testwise-divisionWise-popup') && {'cursor': 'default','text-decoration':'none','color':'black'}"   [ngClass]="{'testname1':checkPopupVisibility('group-questionwise-divisionWise-popup')}">Division : {{reportDetail?.topics[0].division}} </span>
                    <div class="overflowbar">                         

                       <svg  [ngClass]="{'smx': reportDetail['hexagonSvgPaths'].length<2, 'mdx': reportDetail['hexagonSvgPaths'].length>1, 'lgx': false}" [attr.viewBox]="reportDetail.viewBox" [style.width]="(getSvgWidth(reportDetail.rowDistribution)*60)+ 'px'" >
                                <path *ngFor="let hexPath of reportDetail['hexagonSvgPaths']; let i = index" [attr.d]="hexPath" [attr.fill] = "reportDetail['hexagonColors'][i] " stroke = "#fff" stroke-width="3px"/>
                                <!-- <text  class="hex-label fontSize fontkk" *ngFor="let hexCenterX of reportDetail['centerX']; let i = index" [attr.x]="reportDetail['centerX'][i] - ((getHexText(reportDetail?.topics[i]?.testid, divisionIndex).length / 2) * 3)"[attr.y]="reportDetail['centerY'][i]-1" fill="black">{{getHexText(reportDetail?.topics[i]?.testid)}}  -->
                                <text  class="hex-label fontSize fontkk" *ngFor="let hexCenterX of reportDetail['centerX']; let i = index" [attr.x]="reportDetail['centerX'][i] - ((getHexText(reportDetail?.topics[i]?.testid, divisionIndex).length / 2) * 3)"[attr.y]="reportDetail['centerY'][i]-1" fill="black">{{'T'+(i+1)}} 
                                  <!-- <title class="tooltiptext fontk">{{'T' + (i + 1)}}-{{tableData[i]?.name}}</title> -->
                                 </text>
                                <!-- <text  class="hex-label fontSize fontkk" *ngFor="let hexCenterX of reportDetail['centerX']; let i = index" [attr.x]="reportDetail['centerX'][i] - ((getScore(divisionIndex, i).toString().length / 2) * 4) - 6"[attr.y]="reportDetail['centerY'][i]+14" fill="black">{{getScore(divisionIndex, i)}}  -->
                                <text  class="hex-label fontSize fontkk" *ngFor="let hexCenterX of reportDetail['centerX']; let i = index" [attr.x]="reportDetail['centerX'][i] - (((reportDetail.scores[i]>0 ? (reportDetail.scores[i].toFixed(2)) :'').length / 2) * 4) - 6"[attr.y]="reportDetail['centerY'][i]+14" fill="black" >{{ ( reportDetail.scores[i]<0 ? '' : (( reportDetail.scores[i] == 100) ? reportDetail.scores[i] : (reportDetail.scores[i].toFixed(2)))+'%') }}
                                  <!-- <title class="tooltiptext fontkk">{{'T' + (i + 1)}}-{{tableData[i].name}}</title> -->
                                </text>
                            </svg> 
                        </div>
  
                  </div>
              </div>
          </div>
                <table class="table table-bordered fonts fontk" >
                    <thead >
                        <tr>
                            <th scope="col"> Serial #</th>
                            <th scope="col">Test Name</th>
                        </tr>
                    </thead>
                    <tbody class="Font-size-for-listing">
                    <tr *ngFor="let test of tableData;  let i = index" [attr.data-index]="i">
                        <td class="table-list-items" scope="row" >T{{ i+1 }}</td>
                        <td class=" table-list-items testname-list-display"> {{test?.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <img [ngClass]="{'legend2': userRole === 'faculty', 'legend': userRole !== 'faculty'}" [attr.src]=legend>
                <app-download-group-reports></app-download-group-reports>
            </div>
        </div>
  </div>
</div>

<ng-template #test1 let-modal>
  <app-resize-border [dragHolder]="header">
<div class="d-flex flex-column h-100" style="background-color: white;">
  <div class="modal-header" data-backdrop="static" data-keyboard="false">
    <!-- <h4 #header class="modal-title w-100" id="modal-basic-title">Profile update</h4> -->
    <h3 #header  class="modal-title fonts w-100" id="modal-basic-title fonts"><b>{{responceData.division}}</b></h3> 
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
      <app-breadcrumb-display [reportType]="popUp"></app-breadcrumb-display>
      <div style="text-align-last: right;">
          <span class="fonts" style="text-align: right;text-decoration: underline;    color: #4e4eb9 !important;"><p>x axis : scores &nbsp;&nbsp; y axis : students</p></span>
      </div>
   <div class="row mblview">
  <div class="col-6 mblclm" *ngFor="let res of responceData.tests;let i = index;">
      <b><p class="fonts ">{{i+1}}. <span class="testname-list-display">{{res.name}} </span> </p></b>
      <p>Number of Students : {{totalstudents[i]}}</p>
      <div class="chart-wrapper">
         <canvas baseChart 
              [datasets]="jsonData(i)" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColorsList[i]" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              [plugins]="lineChartPlugins">
          </canvas> 
      </div>
   </div>
  </div>  
</div>
</div>
</app-resize-border>
 </ng-template>


 <!-- <ng-template #test let-modal>
  <app-resize-border [dragHolder]="header">
    <div class="d-flex flex-column h-100">
      <div class="modal-header">
        <h4 #header class="modal-title w-100" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-grow-1">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </div>
  </app-resize-border>
</ng-template> -->




 <!-- <span *ngIf="(reportType=='questionwise' || reportType=='testwise') && !isReportVisible" class="report-not-found" [hidden]="!checkReportVisibility()" > -->
 <span  class="report-not-found" [hidden]="checkReportVisibility()" >
    <h2> This report is not available </h2>
    <!-- <p> This report is not accessable </p> -->
  </span>