<div class="container"  >
    <div *ngIf="!reportDetails.length" id="loading" class="loading">Loading&#8230;</div>
    <table class="container table-bordered table-view font" style="margin-left: 0;">
        <tr  *ngFor="let level of levelLabels;let levelIndex = index;">
            <td class="font">L{{level}} </td>
            <td *ngFor="let subtopic of response?.allConcepts;let subtopicIndex = index" >
                <svg *ngIf="levelAndSubtopicWiseJSON[levelIndex][subtopicIndex].length" [attr.viewBox]="reportDetails[levelIndex][subtopicIndex].viewBox" [style.width]="(getSvgWidth(reportDetails[levelIndex][subtopicIndex].rowDistribution)*60)+ 'px'" [style.height]="(getSvgheight(reportDetails[levelIndex][subtopicIndex].rowDistribution, reportDetails[levelIndex][subtopicIndex].hexagonSvgPaths.length)*100)+ 'px'" [style.marginBottom]="getNegativeMargin(getSvgheight(reportDetails[levelIndex][subtopicIndex].rowDistribution, reportDetails[levelIndex][subtopicIndex].hexagonSvgPaths.length), reportDetails[levelIndex][subtopicIndex].rowDistribution.length)+ 'px'">
                    <path *ngFor="let hexPath of reportDetails[levelIndex][subtopicIndex].hexagonSvgPaths; let i = index" [attr.d]="hexPath" [attr.fill] = "reportDetails[levelIndex][subtopicIndex].hexagonColors[i]" stroke = "#fff" stroke-width="3px" />
                    <text class="tnumber concept-labels font"  *ngFor="let hexPath of reportDetails[levelIndex][subtopicIndex].hexagonSvgPaths; let i = index" [attr.x]="hexPath?.split('L')[1]?.trim().split(' ')[0]" [attr.y]="reportDetails[levelIndex][subtopicIndex].centerY[i]+7" fill="black">{{ reportType ? getTopicIndex(levelIndex, subtopicIndex, i) : reportDetails[levelIndex][subtopicIndex]?.topics[i]?._id?.qnno }}</text>
                </svg>
            </td>
        </tr>
        <tr class="table-labels">
            <th ><tr><p class="font axis-labels" style="margin: 8px 10px 0px 20px;">BL<i class="fa fa-arrow-up" aria-hidden="true"></i>
            </p></tr><hr><tr><p class="font axis-labels"> subtopic <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </p></tr></th>
            <th valign="top" style="justify-content: center;" *ngFor="let subtopic of subtopics;let subtopicIndex = index;">
                <p  class=" concept-default-label font">{{reportService.replaceTopic(xLabel, 'concept')}}{{ subtopicIndex + 1 }}</p>
                <p class="concept-title">
                    <span  class="font topic-name" > '{{ subtopic }}'</span>
                </p>
            </th>
        </tr>
    </table>
</div>