.table-view {
    text-align: center;
}

.table-view 
th {
    padding: 15px ​2px;
}

.concept-title{
    font-size: 12;
}

.concept-default-label{
    font-size: 12;
}
.concept-labels {
    font-size: 10;
    font-weight: bold;
}

.modal-body {
    /* max-width: 100%; */
    overflow-x: auto;
  }

  .font{
     font-weight: 30 !important;
    color: inherit !important;
  }

  .legend1{
    /* height: 250px; */
    width: 218px;
    margin-top: 70px;
  }

.table-labels .axis-labels, .table-labels .concept-default-label, .concept-labels {
    text-transform: uppercase;
    text-anchor: middle;
    dominant-baseline: middle;
} 

@media screen and (max-device-width:300px), screen and (max-width:800px) {
    svg{
        /* width: 50px !important; */
    }
    .font{ 
            font-weight: 98 !important;
            color: inherit !important;
            font-size: small !important;   
    }
}


.fonts{
    font-weight: inherit !important;
    color: inherit !important;
}

.breads{
    cursor: text;
}
