.student-filters {
    margin-top: 4px;
}

.selector-body { 
    padding: 15px;
    /* flex-wrap: wrap; */
    display: flex;
    place-content: space-around;
    margin-top: 5%;
}
.selector {
    min-height: 35px;
    width: 244px;
    max-width: 100%;
    padding: 15px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:#fff url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'5\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%23343a40\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

// .selector:focus{
// border-color: rgb(17 119 209 / 75%);
//     outline: 0;
//     -webkit-box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
//     box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
// }

.selector:focus{
 outline: none;
}


// .selector1:focus-within{
//     border-color: rgb(17 119 209 / 75%);
//         outline: 0;
//         -webkit-box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
//         box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
//     }
 

.student-selector {
    padding: 15px;
    margin-bottom: 10px;
}
.student-selector input, .student-selector datalist option, .student-selector .student-selector-button{
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
    /* width: 100%; */
}

label{
    font-weight: 700;
    margin-right: 2%;
    margin-bottom: 0;
    text-align: left;
 }

 .btn-style{
    color: #fff;
    background-color: #c62128;
    border-color: #c62128;
    min-height: 35px;
    margin-top: auto;
 }

 button:disabled {
    cursor: not-allowed;
 }


 .input-group {
    position: relative !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    /* display: flex; */
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
     width: 30%; 
}


.search-courses-container {
    float: right;
   display: flex;
   align-items: center;
   margin-right: 5px;
   border: #3f3e3e 1px solid;
   border-radius: 20px;
   padding: 5px;
   margin-top: -4%;
}

@media only screen and (max-width: 990px) {
    .search-courses-container {
        float: none;
    }
}

.search-courses-container .search-icon {
    padding: 5px;
}

input.input-search:focus {
    outline: none;
}

input.input-search  {
    border: 0;
    padding: 2px 4px;
    margin: 0px;
    width: -webkit-fill-available;
}


.clear-float {
    clear: both;
}
.close{
    outline: none;
    border: none;
}

.Matchedlist{
    cursor: pointer;
}
.modal-content{
    outline: 2px solid #d3d3d3 !important;
}

.modal-title{   
    color: #0a3c62;
    font-size: 16px;
}

.close1{
    outline: none;
}

.multipleSelection {
  width: 300px;
//   background-color: #BCC2C1;
}

.selectBox {
  position: relative;
}

// .selectBox select {
//   width: 100%;
//   font-weight: bold;
// }

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overSelect:focus {
    border: 5px solid red;
}

#checkBoxes {
  display: none;
  border: 1px black solid;
  z-index: 9999;
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
}

#checkBoxes label {
  // display: block; 

}

#checkBoxes label:hover {
  background-color: rgb(17 119 209 / 75%);;
}


#NotSentCheckboxes {
    display: none;
    border: 1px black solid;
    z-index: 9999;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
  }
  
  #NotSentCheckboxes label {
    display: block; 
  
  }
  
  #NotSentCheckboxes label:hover {
    background-color: rgb(17 119 209 / 75%);;
  }
  


#notRegCheckBoxes {
    display: none;
    border: 1px black solid;
    z-index: 9999;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
  }
  
  #notRegCheckBoxes label {
    display: block; 
  
  }
  
  #notRegCheckBoxes label:hover {
    background-color: rgb(17 119 209 / 75%);;
  }
  

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group input {
    flex-grow: 1; /* Allow input to take available space */
}

.input-group .input-group-text {
    margin-left: 10px; /* Adjust spacing if needed */
}

.fonts {
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .modal-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }


.error{
    position: fixed;
    right: 20px;
    bottom: 60px;
    text-align: center;
    z-index: 1000; 
    color: red; 
    font-size: 40px
}

@keyframes shake {
    0% { transform: translate(1px, 0); }
    25% { transform: translate(-1px, 0); }
    50% { transform: translate(1px, 0); }
    75% { transform: translate(-1px, 0); }
    100% { transform: translate(0, 0); }
}

.shake-icon {
    animation: shake 0.5s ease infinite;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.notification-alert {
    color: #721c24;
    padding: 0px;
    width: 65%;
    margin-right:-300px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.alert-header {
    background-color: #e4665d; 
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    right:100px;
    width: 65%;
    justify-content: space-between;
    align-items: center;
}

.alert-body {
    padding: 15px;
    width: 65%;
    right:100px;
    background-color: white;
    color: #333;
}

.alert-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.alert-message span {
    color: #0a3c62;
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.visit-course-btn {
    background-color: #0a3c62;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap; /* Prevent the text in the button from breaking */
  padding: 6px 12px;
  flex-shrink: 0;
}

.visit-course-btn:hover {
    background-color: #0a3c62;
}

.close {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
}
.not-sent-count {
    color: red; /* Make count red */
    font-weight: bold;
}

.course-name {
    font-weight: bold; /* Make course name bold */
}


.breadcrumb {
    background: #f8f8f8;
    padding: 10px 0;
    width: 100%;
    margin-left: 1px;
    margin-top: 10px;
  }

 
  
  /* Form group styling */

  /* Label styles */
  label.fonts {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  /* Input group styling */
  .input-group {
    display: flex;
    align-items: center;
  }
  
  /* Input field styles */
  input.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.2s;
  }
  
  
  input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group input {
    flex-grow: 1; /* Allow input to take available space */
}

.input-group .input-group-text {
    margin-left: 10px; /* Adjust spacing if needed */
}

.fonts {
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .modal-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
 
  
  
.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group input {
    flex-grow: 1; /* Allow input to take available space */
}

.input-group .input-group-text {
    margin-left: 10px; /* Adjust spacing if needed */
}

.fonts {
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .modal-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  #messagecss {
    color: green;
    margin-top: 15px;
  }
  

  /* Modal body styles */
.modal-body {
  padding: 20px;
}

/* Form group spacing */
.form-group {
  margin-bottom: 10px; /* Adjusts the spacing between form groups */
}

/* Input group styling */
.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

/* Flexbox to ensure the input takes available space */
.input-group>.custom-file, 
.input-group>.custom-select, 
.input-group>.form-control, 
.input-group>.form-control-plaintext {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

/* Input field styles */
input.form-control {
  width: 300px; /* Adjust the width as needed */
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s;
}

/* Focus state for input fields */
input.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Label styles */
.fonts {
  font-weight: inherit !important;
  color: inherit !important;
  font-size: 16px;
}

/* Button styling */
button.btn-success.fonts {
  background-color: #28a745;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn-success.fonts:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  button.btn-success.fonts {
    width: 100%;
  }
}


.student-row {
  display: flex;
  align-items: center;
  // gap: 10px; /* Space between elements */
  padding: 8px;
}

.student-row input[type="checkbox"] {
  margin-right: 8px;
}

.student-row p {
  margin: 0;
  flex: 1; /* Fills remaining space between checkbox and delete icon */
}

.student-row .delete {
  color: #d9534f;
  cursor: pointer;
}

#snackbardelete {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbardelete.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}


.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

