<div>
<div class="container">
    <h1 style="text-align:center">Student Access</h1>
    <!-- <div class="search-courses-container">
        <input [attr.value]="searchString" type="text" class="input-search" placeholder="Search for semester, department, year, course or coursecode" (change)="getSearchString($event.target.value)" #searchfieldpage>
       <i *ngIf="searchString" class="fa fa-times" aria-hidden="true" (click)="searchString='';searchfieldpage.value = '';searchText=''"></i>
        <i class="fa fa-search search-icon" (click)="searchText && searchMatchedCourses(searchfield,0,searchfieldpage.value)"></i>
    </div> -->

    <!-- <ng-template #searchfield let-modal>
        <div style="outline: 3px solid #d3d3d3 !important;">
        <div class="modal-header col-md-12 d-flex">
         <div class="col-md-8">
            <h2 class="modal-title fonts" id="modal-basic-title" style="    overflow-wrap: break-word;"> {{ !matchedCourses.length ? "No result(s)" : (matchedCourses.length + " Result(s)") }}  matched with '{{searchString}}'</h2>
         </div>
        <div>     
        <button type="button" class="close" id="close" (click)="close(modal)">
            <span aria-hidden="true">&times;</span>
         </button>
        </div>
        </div>
        <div class="search-courses-container col-md-4">
            <input type="text" class="input-search" placeholder="search" (change)="getSearchString($event.target.value)" [attr.value]="searchString" #searchfieldpopup>
            <i *ngIf="searchString" class="fa fa-times" aria-hidden="true" (click)="searchfieldpopup.value = '';searchString='';searchText=''"></i>
            <i class="fa fa-search search-icon" (click)="isSearchPopupOpen=true;searchMatchedCourses(searchfield,1,searchfieldpopup.value)"></i>
        </div>
    
        <div class="modal-body col-12">
          <div class="clear-float"></div>
          <div class="matched-courses-list">
              <p class="Matchedlist" *ngFor="let courseData of matchedCourses;let i=index" (click)="setCourseData(i, modal)" [innerHTML]="getDisplayText(i)" > </p>
            </div>
        </div>
        
    </div>
      </ng-template>  -->
    <div class="selector-body">
        <div>
            <label for="academicYear">Academic Year:-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewYear($event.target.value)">
                    <option disabled [selected]="!activeYear">Select Year</option>
                    <option *ngFor="let year of yearList" id={{year}} [selected]="activeYear && (year == activeYear)"
                        [value]="year">{{year}}</option>
                </select>
            </div>
        </div>

        <div>
            <label for="academicYear">Semester:- </label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewSemester($event.target.value)" [disabled]="!activeYear">
                    <option disabled [selected]="!activeSemesterId">Select Semester</option>
                    <option *ngFor="let semister of TempsemestersList;let i=index" id={{semister._id}}
                        [selected]="activeSemesterId && (semister._id == activeSemesterId)" [value]="semister._id">
                        {{ semister.name}}
                    </option>
                </select>
            </div>
        </div>

        <div>
            <label for="academicYear">Department:-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewDepartment($event.target.value)" [disabled]="!activeSemesterId">
                    <option disabled [selected]="!activeDepartmentId">Select Department</option>
                    <option *ngFor="let dep of TempdepartmentList" id={{dep._id}}
                        [selected]="activeDepartmentId && (dep._id == activeDepartmentId)" [value]="dep._id">{{ dep.name
                        }}
                    </option>
                </select>
            </div>
        </div>
        `

        <div>
            <label for="academicYear">Courses:-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewCourse($event.target.value)" [disabled]="!activeDepartmentId">
                    <option disabled [selected]="!cid">Select course</option>
                    <option *ngFor="let course of TempcoursesList" id={{course._id}}
                    [selected]="TempcoursesList.length && activeCourseId && (course._id == activeCourseId)" [value]="course._id">
                    {{course.name}}({{course.program}})
                </option>
                </select>
            </div>
        </div>
        `

        <!-- <div>
            <label for="academicYear">Course(Program):-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewCourse($event.target.value)" [disabled]="!activeDepartmentId">
                     <option disabled [selected]="!cid">Select Course</option>
                    <option *ngFor="let course of TempcoursesList" id={{course._id}}
                        [selected]="TempcoursesList.length && activeCourseId && (course._id == activeCourseId)" [value]="course._id">
                        {{course.name}}({{course.program}})
                    </option>
                </select>
            </div>
        </div> -->


        
    </div>
    <div class="col-md-4 offset-md-4">
    <label for="academicYear">Student List:</label><br>
    <div class="multipleSelection">
        <div class="selectBox selector1" (click)="activeCourseId && TempstudentsList.length && showCheckboxes()">
            <div class="overSelect"></div>
            <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="{{activeCourseId ? 'Search students (' + &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(selectedStudent.length ? selectedStudent.length : 0) + ' selected)' : 'Select students'}}"
            (input)="filterStudents()"
            class="form-select year-selector selector"
            list="students"
        />


        <datalist id="students">
            <option *ngFor="let student of filterStudents" [value]="student.name" [disabled]="!activeCourseId">
                {{student.name}}
            </option>
        </datalist>
        
        </div>
            <div id="checkBoxes">
                <div *ngIf="activeCourseId">
                    <label for="first" *ngFor="let student of filteredStudentsList" class="student-row" (click)="onStudentSelection(student._id, 'single')">
                        <input type="checkbox" id="{{student._id}}" [checked]="selectedStudent.includes(student._id) ? true : false" />
                        <p>{{student.name}} ({{student.usn}})</p>
                        
                        <span class="delete" (click)="deleteStudent(student._id, student.name, student)" data-toggle="modal" data-target="#deletestudentfile">
                          <i class="fa fa-trash" rel="tooltip" title="Delete student" aria-hidden="true"></i>
                        </span>
                      </label>
            </div>
        </div>
    </div>
    </div>
    



<ng-template #myModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title fonts" id="modal-basic-title">Give access to Student</h4>
        <button id="close" type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form #studentDetail="ngForm" (ngSubmit)="onCoursecreate(studentDetail.value, modal)">
            <div class="form-group">
                <label class="fonts">Si.No:</label>
                <div class="input-group">
                    <input id="sino" name="sino" class="form-control" placeholder="Enter Si.No" ngModel
                        required>
                </div>
                &nbsp;&nbsp;
                <label class="fonts">Division:</label>
                <div class="input-group">
                    <input id="Division" name="division" class="form-control"
                        placeholder="Enter the Division name" ngModel required>
                </div>
                &nbsp;&nbsp;
                <label class="fonts">Name:</label>
                <div class="input-group">
                    <input id="name" name="name" class="form-control" placeholder="Enter the student name"
                        ngModel required>
                </div>
                &nbsp;&nbsp;
                <label class="fonts">E-Mail:</label>
                <div class="input-group">
                    <input id="email" name="email" type="email" class="form-control"
                        placeholder="Enter the student e-mail" ngModel required>
                </div>
                &nbsp;&nbsp;
                <label class="fonts">USN:</label>
                <div class="input-group">
                    <input id="usn" name="usn" class="form-control" placeholder="Enter the student USN" ngModel
                        required>
                </div>
            </div>

            <button [disabled]="studentDetail.invalid" type="submit"
                class="btn btn-success fonts">Create</button>
        </form>
    </div>

    <div class="modal-footer"></div>

    <div class="fonts" *ngIf="message" id="messagecss">
        <p style="text-align: center; display: block;"><b>{{message}}</b></p>
    </div>
</ng-template>



<div class=" mt-4 col d-flex justify-content-center">
    <button [disabled]="!(selectedStudent.length)" 
            class="btn btn-primary mr-3" 
            (click)="createStudent(true)">
        Create Student
    </button>
    <button class="btn btn-primary" 
            (click)="open(myModal)" 
            [disabled]="!canCreateNew()">
        Create New
    </button>
</div>



<div *ngIf="!isModalOpen && progressStatus != '100%' && MailsentApiRes" class="progress offset-md-4 mt-4" style="width:30% ;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progressStatus}">{{progressStatus}}</div>
</div>

<div id="msg" style="text-align: center; display: block;">
    <h2 *ngIf="message && message != '' || message != null">
        <span style="color: green;">{{ registeredMessage }}</span><br>
        <span *ngIf="notRegisteredNamesArray.length" style="color: red;">{{ notRegisteredMessage }}</span>
    </h2>

    <div *ngIf="notRegisteredNamesArray.length" class="col-md-4 offset-md-4">
        <label for="academicYear">Not Registered List</label><br>
        <div class="multipleSelection">
            <div class="selectBox selector1" (click)="activeCourseId && notRegisteredNamesArray.length && showNotRegCheckboxes()">
                <div class="overSelect"></div>
                <input
                    type="text"
                    [(ngModel)]="notRegisteredSearchTerm"
                    placeholder="{{activeCourseId ? 'Search students (' + (selectedNotRegisteredList.length ? selectedNotRegisteredList.length : 0) + ' selected)' : 'Search students'}}"
                    (input)="filterStudents()"
                    class="form-select year-selector selector"
                    list="students"
                />
                <datalist id="students">
                    <option *ngFor="let student of filteredStudentsList1" [value]="student.name" [disabled]="!activeCourseId">
                        {{student.name}}
                    </option>
                </datalist>
            </div>
            <div id="notRegCheckBoxes">
                <div>
                    <label for="first" (click)="onNotRegStudentSelection('selected_all','all')">
                        <input type="checkbox" [checked]="selectAllChecked" />
                        Select All
                    </label>
                </div>
                <label for="first" *ngFor="let student of filteredStudentsList1" (click)="onNotRegStudentSelection(student._id,'single')">
                    <input type="checkbox" id="{{student._id}}" [checked]="selectedNotRegisteredList.includes(student._id)" />
                    {{student.name}} ({{student.usn}})
                </label>
            </div>
            <div p3 class="d-flex justify-content-center mt-4" >
                <button [disabled]="!selectedNotRegisteredList.length"  class="btn btn-primary" (click)="retryCreateStudent()">Retry Create Student</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showErrorIcon" class="error  shake-icon">
    <i class="fa-solid fa-circle-exclamation" title="Student Access Error" (click)="toggleAlert()"></i>
</div>


<div *ngIf="showAlertMessage" class="notification-alert" role="alert" style="position: absolute; bottom: 60px; right: 20px; width: 100%;">
    <div class="alert-header">
        <strong>Student Access Error</strong>
        <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert-body">
        <div *ngFor="let message of alertMessages" class="alert-message">
            <span [innerHTML]="message.messageText"></span>
            <button class="visit-course-btn" (click)="openCourseModal(message.courseId, message.students,message.semName)">Visit Course</button>
        </div>
    </div>
    </div>
    <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="breadcrumb" class="modal-header">
              {{instituteName}} / {{ year }} / {{ semName }} / {{departmentName}} / {{ courseName }}
                    
                    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
                <div class="col-md-3 offset-md-2">
                    <label for="academicYear">Students List</label><br>
                    <div class="multipleSelection">
                        <div class="selectBox selector1" (click)="showNotSentCheckboxes()">
                            <div class="overSelect"></div>
                            <input type="text" 
                                   placeholder="Select students ({{ selectedNotSentStudents.length }} selected)" 
                                   class="form-select year-selector selector" 
                                   readonly />
                        </div>
    
                        <div id="NotSentCheckboxes" class="checkbox-list" [ngClass]="{ 'show': showNotcheck }">
                            <label class="select-all-label">
                                <input 
                                    type="checkbox" 
                                    [checked]="isAllNotSentSelected" 
                                    (change)="toggleSelectAllNotSent(); $event.stopPropagation()" 
                                /> 
                                Select All
                            </label>
    
                            <div *ngFor="let student of notSentStudents">
                                <label class="student-label">
                                    <input 
                                        type="checkbox" 
                                        [checked]="selectedNotSentStudents.includes(student._id)" 
                                        (change)="onStudentSelectionNotSent(student); $event.stopPropagation()" 
                                    /> 
                                    {{student.name}} ({{student.usn}})
                                </label> 
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="d-flex justify-content-center" style="margin-top: 10px; margin-bottom:50px;">
                    <button type="button" class="btn btn-primary" 
                            [disabled]="!selectedNotSentStudents.length" 
                            (click)="newCreateStudent(true)">Create Student</button>
                </div>
                <div *ngIf="progressStatus != '100%' &&  MailsentApiRes" class="progress offset-md-4 mt-4" style="width:30% ;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progressStatus}">{{progressStatus}}</div>
                </div>
                <div *ngIf="registrationSuccessMessage" class="alert alert-success mt-2">
                    {{ registrationSuccessMessage }}
                </div>
            </div>
        </div>
    </div>
    
    <div id="snackbardelete">
        {{ responseMessage }}
      </div>
      