<div>
    <h4 *ngIf="message && status!=0" class="attendence-set-message" [style.color]="status == 1 ? '#28a745' : '#ff0000'"> {{message}} </h4>
</div>
<div>
    <div *ngIf="response.allDivisions.length">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Section</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let division of response.allDivisions; let divisionIndex = index;">
                    <td>{{division}} </td>
                    <td><input type="number" [attr.name]="division" [attr.value]="getStudentCount(division)" (change)="onChange($event)"></td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success" (click)="onSubmit()">Submit</button>

    </div>


        <div *ngIf="response.allDivisions.length == 0">
        <h4 style="color:#CE010A">No tests have been uploaded to this course. </h4>
        </div>
          
    <!-- <ul class="division-attendence-list container">
        <li class="row" *ngFor="let division of response.allDivisions; let divisionIndex = index;">
            <div class="col">
                {{division}}
            </div>
            <div class="col">
                <input type="number" [attr.name]="division" [attr.value]="getStudentCount(division)" (change)="onChange($event)">
            </div>
        </li>
    </ul> -->
</div>