.download-group-reports-container {
  position: fixed;
  bottom: 10%;
  right: 2%;
  color: #0a3c62 !important;
}

.download-group-reports-container img {
  height: 8vh;
  width: auto;
}

.download-success {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.download-pdf-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  width: 115%;
  margin-top: 76%;
}

.progress-6 {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}

.progress-6::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: p6 2s infinite;
}

@keyframes p6 {
  100% {
    inset: 0
  }
}

@media (max-width: 575px) {
  .download-group-reports-container {
    position: fixed;
    bottom: 10%;
    right: 2%;
    color: #0a3c62 !important;
    margin-bottom: 12%;
  }

  .downloadtxt {
    display: none;
  }

  .download-progressbar {
    height: 5%;
    margin-left: -1%;
    margin-top: 0%;
  }

  .download-success {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 27%;
    /* text-align: right; */
    margin-left: 43%;
    margin-top: -25%;
  }

}

@media screen and (orientation: landscape) and (max-width: 850px) {

  .download-group-reports-container {
    height: 11vh;
    width: auto;
    margin-top: -260%;
}
  .downloadtxt {
    display: none;
  }

  .download-group-reports-container {
    position: fixed;
    bottom: 19%;
    right: 2%;
    color: #0a3c62 !important;
  }

  .download-progressbar {
    height: 5%;
    margin-left: -1%;
    margin-top: 0%;
  }

  .download-success {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 27%;
    /* text-align: right; */
    margin-left: 81%;
    margin-top: -25%;
  }

  .download-pdf-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    width: 292%;
    margin-top: 76%;
  }

  
}