<div class="download-group-reports-container download-pdf" *ngIf="reportConfigurations.length">
    <div class="download-pdf-group-reports" (click)="checkDownloadReport(true)" [style.cursor]="'pointer'" *ngIf="!isDownLoadGroupReportsBegin">
        <span class="downloadtxt"></span>
        <img src="./assets/images/download.png">
    </div>
    <!-- <button (click)="reportGeneration()">gh</button> -->
    <div *ngIf="isDownLoadGroupReportsBegin">
        
        <span class="download-progressbar" *ngIf="!isPDFDownloaded" >
            Download in progress
            <div class="progress-6"></div>
        </span>
        <div *ngIf="isPDFDownloaded" class="download-success">
            <!-- <span>PDF version of this report has already been downloaded</span> -->
            <!-- <span class="download-pdf-link" (click)="reportGeneration()" >download again</span> -->
            <span class="download-pdf-link" (click)="downloadReportsV1()">download again</span>
        </div>
    </div>
</div>
