<div class="student-breadcrumb-display fontSize breads">
    <p class="breadcrumb-text">
        <span (click)="reset(0)" >&nbsp; Student-reports/</span>
        <span (click)="reset(1)" *ngIf="activeYear">&nbsp;{{activeYear}}</span>
        <span (click)="reset(2)" *ngIf="activeYear && activeSemester?.name">&nbsp;/&nbsp;{{activeSemester?.name}}</span>
        <span (click)="reset(2)" *ngIf="activeYear && activeSemester?.name && activeDepartment?.name">&nbsp;/&nbsp;{{activeDepartment?.name}}</span>
        <span (click)="reset(3)" *ngIf="activeYear && activeSemester?.name && activeDepartment?.name && activeCourse?.name">&nbsp;/&nbsp;{{activeCourse?.name}}</span>
        <span (click)="reset(4)" *ngIf="activeYear && activeSemester?.name && activeDepartment?.name && activeCourse?.name && activeStudent?.usn">&nbsp;/&nbsp;{{activeStudent?.usn}} - {{activeStudent?.name}} </span>
    </p>
</div>