.wid{
    width: 117px;
}

/* .no-hover-testname-display{
    display: block;
} .hover-testname-display{
    display: none
}

.test-name-display-on-hover:hover .no-hover-testname-display {
    display: none
  }


  .test-name-display-on-hover:hover .hover-testname-display{
    display: block
  } */

  .no-hover-testname-display{
    word-break: break-all;
    /* word-wrap: break-word; */
    text-overflow: ellipsis;
    overflow: hidden;
} .hover-testname-display{
    word-break: break-all;
    
    /* word-wrap: break-word; */
    text-overflow: ellipsis;
    overflow: hidden;
}
.test-name-display-on-hover:hover .no-hover-testname-display {
    height: auto;
    overflow: visible;
  }


  .test-name-display-on-hover:hover .hover-testname-display{
    height: auto;
    overflow: visible;
  }
  .fonts{
    font-weight: inherit !important;
    color: inherit !important;
    font-size: .9rem;
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
    border-top: 1px solid #dee2e6;
}

.kk:hover{
    background-color:rgba(0,0,0,.05) ;
}

 

.font{
    font-weight: inherit !important;
    color: inherit !important;
}
.space{
  padding: 0px 31px 31px;}





