<div class="container space topPlace">
  <div>
    <h2 class="font">Publish And Unpublish Reports</h2> 
    <hr>
  </div>

  <div>
    <div style="display: block;" id="loading" class="loading">Loading&#8230;</div>
</div>

<ng-container>
  <div *ngIf="testLen > 0 "> 
    <table class="table table table-striped">
        <thead>
          <tr class="row fonts kk">
            <th style="position: inherit;" class="col-1" scope="col">S/L</th>
            <th style="position: inherit;" class="col" scope="col">DepartmentName/Year</th>
            <th style="position: inherit;" class="col" scope="col">course Name</th>
            <th style="position: inherit;" class="col" scope="col">Test Name</th>
            <th style="position: inherit;" class="col-2" scope="col">Date/Time</th>
            <th style="position: inherit;" class="col-2" scope="col">Status</th>
            <!-- <th scope="col">Delete</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of testdata;let i=index" class="row test-name-display-on-hover kk fonts" (mouseenter)="setActiveTest(i)" (mouseleave)="setActiveTest(-1)">
            <th style="position: inherit;"  class="col-1" scope="row">{{i+1}}</th>
            <td style="position: inherit;" class="col">{{test.departmentName}}/{{test.departmentYear}}</td>
            <td style="position: inherit;" class="col">{{test.courseName}}</td>
            <td style="position: inherit;" class="col no-hover-testname-display" [hidden]="i==activeTestIndex">{{test.testname.substring(0, 25)}}<span *ngIf="test.testname.substring(25)">...</span></td>
            <td style="position: inherit;" class="col" [hidden]="i!=activeTestIndex"><span class="hover-testname-display">{{test.testname}}</span> </td>
            <td style="position: inherit;" class="col-2">{{ getformatedDate(test.updatedAt) }}</td>
            <td style="position: inherit;" class="col-2"><button style=" width: 117px;"  (click)="publish(test.testid,test.publish,test.testname)" data-toggle="modal" data-target="#publish" class="btn wid"   [ngClass]="{ 'btn-success' : test.publish , 'btn-danger' : !test.publish}" >{{test.publish ? 'Published': 'Unpublished'}}</button></td>
            <!-- <td><button (click)="delete(test._id)"   class="btn btn-danger">Delete</button></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
    <div *ngIf="testLen == 0 ">
      <h3><b> Currently No tests are Available.</b></h3>
    </div>
</div>

<div class="modal fade" id="publish" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ publishmsg }}</h3>
      </div>
      <div class="modal-footer" style="justify-content: space-between !important;">
        <button (click)="publishConfirmation()" type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
        <button type="button" class="btn btn btn-outline-dark" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template> -->