<div class="container">
    <div class="row">
        <div class="col-10 page-container">
            <div class="report-container">
                <h2 style="margin-left: 20%;color:#0a3c62; text-align: center;  font-weight: inherit !important;">
                    Course Name:{{activeCourse.name}}({{activeCourse.coursecode}})</h2>
                </div>
                
                <div style="position: inherit;" class="hex-labels hexagon-column row">
                    <div style="margin-top: 35px;margin-bottom: 0%;" style="display: block;" id="loading" class="loading col-12" *ngIf="!reportDetails.length">Loading&#8230;</div>
                    <div [hidden]="!reportDetails.length" class="attemptwise-container"  *ngFor="let attemptwiseData of reportDetails;let attemptIndex = index;">
                        <p *ngIf="reportDetails.length > 1" style="text-align: left;" class="hexagon-cluster-title">
                            Attempt {{ attemptwiseData.testArray[0].attempt }} </p>
                    
                        <div class= "overflowbar">
                        <svg
                        
                        id="pre"
                        [attr.viewBox]="attemptwiseData.viewBox"
                        [style.width]="(getSvgWidth(attemptwiseData.rowDistribution)*60) + 'px' "
                        >
                            <path *ngFor="let hexPath of attemptwiseData['hexagonSvgPaths']; let i = index" [attr.d]="hexPath" [attr.fill] = "attemptwiseData['hexagonColors'][i] " stroke = "#fff" stroke-width="3px"/>
                            <text class="hex-label fontSize hex-font" *ngFor="let hexCenterX of attemptwiseData['centerX']; let i = index" [attr.x]="attemptwiseData['centerX'][i] - ((getHexText(i, attemptwiseData.testArray[i].testid).length / 2) * 2)"[attr.y]="attemptwiseData['centerY'][i]-1" fill="black">{{getHexText(i, attemptwiseData.testArray[i].testid)}}</text>
                            <text class="hex-label fontSize hex-font" *ngFor="let hexCenterX of attemptwiseData['centerX']; let i = index" [attr.x]="attemptwiseData['centerX'][i] - (((attemptwiseData.testArray[i].score == 100 ? '100' : attemptwiseData.testArray[i].score.toFixed(2)).toString().length / 2) * 4) - 6"[attr.y]="attemptwiseData['centerY'][i]+14" fill="black">{{attemptwiseData.testArray[i].score == 100 ? '100' : attemptwiseData.testArray[i].score.toFixed(2)}}%</text>
                        </svg>
                    </div>
                </div>
            </div>

            


            <div   class="table-container overflowbar" *ngIf="reportDetails.length">
                <table class="table table-bordered table-fonts">
                    <thead >
                        <tr>
                            <!-- <th scope="col">Post Tests</th> -->
                            <th scope="col-1"> Serial # </th>
                            <th scope="col">Test Name</th>
                           <!-- <th scope="col"> Score</th> -->
                           <th scope="col" *ngFor="let attemptwiseData of reportDetails;" > Attempt {{ attemptwiseData.testArray[0].attempt }}</th>
                           <!--                        <th scope="col" *ngFor="let scoreData of attemptwiseData.testArray;" > Attempt {{ scoreData.score.toFixed(2) }}  Score</th>
     -->
                       </tr>
                   </thead>
                   <tbody class="fonts Font-size-for-listing">
                   <tr *ngFor="let posttest of testsData;let testIndex = index" [attr.data-index]="i">
                       <!-- <th scope="row">Quize{{ i+1 }}</th>
                       <td class="testName">Post Test {{ i+1 }} : {{posttest['name']}}</td>
                       <td>{{ posttest['score']}}</td> -->
                       <td class="table-list-items" scope="row" >T{{ testIndex+1 }}</td>
                       <td class="table-list-items testname-list-display"> {{posttest['name']}}</td>
                       <!-- <td class="table-list-items">{{ posttest['score'].toFixed(2)}}%</td> -->
                       <td class="table-list-items" *ngFor="let attemptwiseData of reportDetails;let attemptIndex = index">{{ getScore(attemptIndex, posttest._id) }}</td>
                   </tr>
                   </tbody>
               </table>
            </div>
        </div>
        <div class="col-2" *ngIf="reportDetails.length">
            <!-- <img class="legend1"  [attr.src]="legend"  > -->
        </div>
    </div>
</div>
<!-- <button (click)="generatePDF()">sff</button> -->

<!-- 
    1. Course name display
    2. test wise table display
 -->