.table-fonts{
    font-size: 15px !important;
    color: inherit !important;
    font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
    }
    
    .hex-font{
         color: inherit !important;
        font-family: 400 14px/20px Roboto, "Helvetica Neue", sans-serif !important;
        }

.legend1 {
            height: auto;
            width: 15%;
            position: fixed;
            right: 0;
        }

.attemptwise-container {
    /* margin-top: 60px; */
}
.attemptwise-testwise-container{
 display: flex;
 flex-wrap: wrap;    
 margin-top: -10%;

}

.attemptwise-container, .overflowbar {
    width: fit-content;
}

.loading{
    width: fit-content;
}

.attemptwise-container {
    /* overflow-x: auto; */
    margin-top: 15%;
}

.page-container {
    overflow: hidden;
}

.attemptwise-container {
    overflow-x: auto;
}