.fonts {
  font-weight: inherit !important;

}


.report-not-found {
  display: block;
  text-align: center;
  margin-top: 25vh;
}

.top-titles {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-top: 10px;
}

.top-titles .testname {
  font-size: 20px;
  padding: 10px;
}
.download-buttons {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-bottom: 6px;
  justify-content: flex-end;
  margin-top: 20px;
}

.download-buttons span {
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}

.graph-section {
  margin: 35px;
  max-width: calc(100% - 70px);
}

.chart-container {
  position: relative;
  width: 80%;  /* Adjust as needed */
  height: 300px; /* Fixed height */
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.progress-6 {
  width:120px;
  height:22px;
  border-radius: 20px;
  color:#514b82;
  border:2px solid;
  position: relative;
}
.progress-6::before {
  content:"";
  position: absolute;
  margin:2px;
  inset:0 100% 0 0;
  border-radius: inherit;
  background:currentColor;
  animation:p6 2s infinite;
}
@keyframes p6 {
    100% {inset:0}
}