<div class="main-container" *ngIf="checkPopupVisibility('group-attendance')">
  <app-breadcrumb-display [reportType]="'reports'"></app-breadcrumb-display>
  <app-filter-reports></app-filter-reports>
<div class="container main topPlace">
    <h3 style="margin: 0px;color:#0a3c62!important;" class="report-title fonts">
      Attendance
    </h3>   
    <h2 style="margin: 0px;color:#0a3c62!important; text-align: center;  font-weight: inherit !important;">
      Course Name:{{courseDetails?.name}}({{courseDetails?.coursecode}})</h2>
 </div>

 <div class="container download-buttons">
   <span (click)="downloadAbsenteesList(divisionData?.division)" >
     <span>
       Download<span *ngIf="downloadingAttemptList" >ing</span> Absentees List
      </span>
      <div class="progress-6" *ngIf="downloadingAttemptList" ></div>
    </span>
   <span (click)="downloadScoresList(divisionData?.division)" >
     <span>
       Download<span *ngIf="downloadingScoreList" >ing</span> Scores List
      </span>
      <div class="progress-6"  *ngIf="downloadingScoreList" ></div>
    </span>
 </div>
<div class="container">
  <div class="row">
    <div class="col-12 test-name-display-on-hover fonts graph-section" *ngFor="let divisionData of divisionWiseData;" style="position: inherit;">
      <div class="top-titles">
        <p class="testname testname-display fonts"><strong>{{divisionData.division}} ( {{ divisionData.divisionMax }} ) </strong></p>
      </div>

      <div class="chart-container" [style.width]="divisionData?.tests?.length >= 4 ? '100%' : '50%'" >

        <canvas baseChart
        [datasets]="divisionData?.scores"
        [labels]="divisionData?.tests"
        [options]="divisionData?.barChartOptions"
        [colors]="barChartColors"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    </div>
  </div>
</div>
</div>

<span *ngIf="!isReportVisible && reportConfigurations.length" class="report-not-found">
  <!-- <h2> This report is not available </h2> -->
  <!-- <p> This report is not accessable </p> -->
</span>

<!-- <canvas baseChart
    [datasets]="barChartData"
    [labels]="mbarChartLabels"
    [options]="barChartOptions"
    [colors]="barChartColors"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas> -->