input[type="email"] {
    width: 40%;
    padding: 7px 7px;
    margin: 8px 0;
}

.card-text {
    font-size: small;
}

.card-header {
    font-size: larger;
}
.card-body{
   height: auto;
}

/* #pre {
    margin: 70px 28%;;  
}
#pre{
    margin: 0px 38%; 
} */

.more{
    margin: 0px 38%;   
}
.single{
    margin: 0px 45%;   
}

.bottom-space
{
    /* margin-bottom: -28%; */
}
select {
    width: 40%;
}

.testName {
    text-align: left;
}

.btn {
    margin-right: 10px;
}

.table {
    font-size: small;
}

.testname-list {
    font-size: small;
}

.card {
    width: 80%;
    height: 80%;
}

.tnumber {
    font-size: x-small;
    font-weight: bold;
}

.tabs-switch .tab {
    font-size: medium;
    margin-right: 5%;
    float: left;
    margin-top: 2%;
    padding-bottom: 5px;
}

input[type="radio"]:checked+label {
    border-bottom: 3px solid transparent;
    border-color:  #0d8b33;
}

input[type="radio"] {
    display:none;
}
.tnumber {
    font-size: x-small;
    font-weight: bold;
}
.smx {
    margin:0 30%;
}

