  <div *ngIf="istrue">
    <!-- <app-breadcrumb-display ></app-breadcrumb-display> -->
    <!-- <button id="btnid" (click)="open(login)">call</button>
    <p (click)="rotate()">me</p> -->
  <div class="container">
    <div class="row justify-content-center top-navigation-bar-body">
         <span  *ngFor="let tab of tabs;" class="col-4 student-report-tab"  [hidden]="!checkReportVisibility(tab.reportType)">
          <h4 class="student-report-tab-name" [ngClass]="{'active-top-navigation-bar':activeTab.title == tab.title,  'top-navigation-bar':activeTab.title != tab.title}" (click)="activeTab=tab">{{reportService.replaceTopic(tab.title, tab.configurationtype)}}</h4>
            <hr [ngClass]="{'uline2':activeTab.title == tab.title,  'uline':activeTab.title != tab.title}">
        </span>
     </div>
     <app-filter-reports></app-filter-reports>
    <div class="report-view-body" *ngIf="reportConfigurations.length && !checkReportNotFound()">
        <h2 style="color:#0a2e61; text-align: center;  font-weight: inherit !important;">Report-{{activeTab?.index}}</h2>
        <div class="report-view" >
   <!-- Test-wise reports -->
            <!-- <app-student-wise-test-wise style="min-width: 100%;" *ngIf="activeTab?.type === tabs[0]?.type && istrue"></app-student-wise-test-wise> -->
  <!-- concept-wise reports -->
            <!-- <app-student-wise-concept-wise [isPopupVisible]="checkPopupVisibility('student-conceptwise-popup')" style="min-width: 100%;" *ngIf="activeTab?.type === tabs[1]?.type"></app-student-wise-concept-wise> -->
  <!-- sub-concept-wise reports -->
            <!-- <app-student-wise-subconcept-wise [isPopupVisible]="checkPopupVisibility('student-subconceptwise-popup')" style="min-width: 100%;" *ngIf="activeTab?.type === tabs[2]?.type"></app-student-wise-subconcept-wise> -->

            <app-attemptwise-studentwise-testwise style="min-width: 100%;" [hidden]="activeTab?.type != tabs[0]?.type"  *ngIf="istrue" (sendReportDetails)="getReportData('student-testwise',$event)"></app-attemptwise-studentwise-testwise>
            <!-- <app-attemptwise-studentwise-testwise style="min-width: 100%;" *ngIf="activeTab?.type === tabs[0]?.type && istrue" (sendReportDetails)="getReportData('student-testwise',$event)"></app-attemptwise-studentwise-testwise> -->
            <!-- <app-attemptwise-studentwise-conceptwise [isPopupVisible]="checkPopupVisibility('student-conceptwise-popup')" style="min-width: 100%;" *ngIf="activeTab?.type === tabs[1]?.type && istrue" (sendReportDetails)="getReportData('student-conceptwise',$event)" ></app-attemptwise-studentwise-conceptwise> -->
            <app-attemptwise-studentwise-conceptwise [isPopupVisible]="checkPopupVisibility('student-conceptwise-popup')" style="min-width: 100%;" [hidden]="activeTab?.type != tabs[1]?.type " *ngIf="istrue" (sendReportDetails)="getReportData('student-conceptwise',$event)" ></app-attemptwise-studentwise-conceptwise>
            <!-- <app-attemptwise-studentwise-conceptwise [isPopupVisible]="checkPopupVisibility('student-conceptwise-popup')" style="min-width: 100%;" *ngIf="activeTab?.type === tabs[1]?.type && istrue" (sendReportDetails)="getReportData('student-conceptwise',$event)" ></app-attemptwise-studentwise-conceptwise> -->
            <app-attemptwise-studentwise-subconcept-wise [isPopupVisible]="checkPopupVisibility('student-subconceptwise-popup')" style="min-width: 100%;" [hidden]="activeTab?.type != tabs[2]?.type" *ngIf=" istrue" (sendReportDetails)="getReportData('student-subconceptwise',$event)"></app-attemptwise-studentwise-subconcept-wise>
            <!-- <app-attemptwise-studentwise-subconcept-wise [isPopupVisible]="checkPopupVisibility('student-subconceptwise-popup')" style="min-width: 100%;" *ngIf="activeTab?.type === tabs[2]?.type && istrue" (sendReportDetails)="getReportData('student-subconceptwise',$event)"></app-attemptwise-studentwise-subconcept-wise> -->
        </div>
    </div>
    <div class="report-view-body" *ngIf="reportConfigurations.length && checkReportNotFound()">
      <div class="report-view report-not-found" >
          <h2 class="report-not-found-text" >This report is not available</h2>
      </div>
  </div>
</div>
</div>


<img class="legend1"  [attr.src]="legend" *ngIf="istrue" >
<img class="download-pdf" *ngIf="istrue" [attr.src]="downloadPDF" (click)="reportGeneration()" [style.cursor]="isDownloadAvailable ? 'pointer' : 'wait'"  >




<!-- 
<ng-template #login let-modal>
 <div class="modal-body" style="margin-top: 40%;">
 <h1>For better experience view it on landscpae mode.</h1>
 <div style="justify-content: center;">
   <button class="btn btn-primary" (click)="rotate(); modal.dismiss('Cross click')">Rotate</button>
 </div>
  </div>
</ng-template> -->