.active-top-navigation-bar {
  /*          color: #ffffff;
background-color: #3cc1ff; */

border-radius: 30px;
}

.top-navigation-bar {
color: #aaaaaa;
}

.student-report-tab-name {
cursor: pointer;
margin-top: .5rem;
margin-left: .5rem;
margin-right: .5rem;
padding: 2% 0;
}/* 
.top-navigation-bar-body {
margin-top: 4%;
margin-bottom: 4%;
-webkit-backface-visibility: hidden;
-webkit-transform:translate3d(0,0,0); 
  
}*/
.student-report-tab {
text-align: center;
padding-left: 0;
padding-right: 0;
}
.top-navigation-bar-body {
  /*      background-color: #ffffff; 
     
margin-right: 15%;
  */

border-radius: 30px;
}
/* .report-view-body {
-webkit-backface-visibility: hidden;
-webkit-transform:translate3d(0,0,0);
} */
.uline2{
border-top: 4px solid #33b35a;
padding: 12px 0;
}
.uline{
border-top: 4px solid #c9c9c9;
padding: 12px 0;
}

.active-top-navigation-bar{
color: #33b35a;
}

.report-not-found {
  text-align: center;
  margin-top: 25vh;
}

.legend1 {
  position: fixed;
  height: 35vh;
  top: 45vh;
  right: 10px;
}

.download-pdf {
  position: fixed;
  height: 8vh;
    top: 85vh;
    right: 8vh;
}
