<div class='container'>
    <div class='loader'>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--dot'></div>
      <div class='loader--text'></div>
    </div>
  </div>
 

 



























  <!--   
    <script>
      var myParam = window.location.search.slice(1)
        .split('&')
        .reduce(function _reduce(/*Object*/ a, /*String*/ b) {
          b = b.split('=');
          a[b[0]] = decodeURIComponent(b[1]);
          return a;
        }, {});
      console.log(JSON.stringify(myParam.token));
      setTimeout(function () { kk(JSON.stringify(myParam.token)) }, 3000);

      function kk(data) {
        const token = JSON.parse(data)
        let skk;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            console.log(this.responseText);
            var apiresponse = JSON.parse(this.responseText)
            console.log(apiresponse?.student_Data?.courseid)
            if(apiresponse?.student_Data?.courseid != undefined || apiresponse?.student_Data?.studentid != undefined || apiresponse?.student_Data?.studentName != undefined){
              window.location.replace("http://localhost:3002/dipstick/intigration/reports?courseid=" + apiresponse?.student_Data?.courseid + "&studentid=" + apiresponse?.student_Data?.studentid+ "&studentName=" + apiresponse?.student_Data?.studentName);
              // window.location.replace("http://3.7.74.58/dipstick/intigration/reports?courseid=" + apiresponse?.student_Data?.courseid + "&studentid=" + apiresponse?.student_Data?.studentid+ "&studentName=" + apiresponse?.student_Data?.studentName);
            }else{
              alert("Reports are not available for this student.Please try again");
              window.location.replace("http://localhost:3002/api/intigration/demo");
              // window.location.replace("http://13.235.215.234/api/intigration/demo");
            }          }
        };
        // xhttp.open("GET", "http://3.7.74.58/dipstick/api/intigration/validate/?token=" + token, true);
        xhttp.open("GET", "./api/intigration/validate/?token=" + token, true);
        xhttp.send();
      }
    </script> -->

 

  
