.edit-configurations {
  cursor: pointer;
}

.submit-body,
.logo-upload {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit {
  width: 10%;
  margin: 2% auto;
  padding: 1% 2%;
  /* background: #fff;
    border: #ebebeb 1px solid; */
  border: none;
  border-radius: 5px;
  text-align: center;
}

.institutename {
  margin: 2%;
}

.breadcrumbs a::before,
.breads span::before {
  content: "/";
  padding: 0 4px;
}

table {
  font-size: inherit;
}

.test-name-display-on-hover:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.logo-upload label,
.logo-upload-btn label {
  margin: 2% auto;
  padding: 1% 2%;
  border: #ebebeb 1px solid;
  /* background: #fff; */
  border-radius: 5px;
}

.logo-image-image img {
  height: auto;
  /* width: 220px; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.logo-image-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image-image .logo-text {
  flex: 5% 1 1;
  text-align: center;
}

.logo-image-image .logo-image {
  flex: 50% 1 1;
}

.logo-image-image .logo-image img {
  /* border: #ebebeb 2px solid; */
  padding: 8px;
}

.logo img {
  max-width: 10%;
}

.uline {
  border-top: 4px solid #c9c9c9;
  padding: 12px 0;
}

.ReportDisplayConfigurationTab {
  padding: 0px;
  text-align: center;
}

.student-report-display-configuration-checkbox {
  margin: 15px;
}

.student-report-display-configuration-button {
  margin: 14px;
  display: flex;
  justify-content: center;
}

.student-report-display-configuration-button button {
  padding: 10px;
  /* background-color: #f3f3f3; */
}

.w3-quarter {
  padding: 5px;
}

.analytics {
  float: right;
}

.student-report-tab-name {
  cursor: pointer;
}

.site-config-heading {
  display: flex;
  justify-content: space-between;
}

.data-exchange-redirection {
  height: fit-content;
}

label {
  padding-left: 10px;
  font-size: 15px;
  color: inherit;
  font-family: Roboto, "Helvetica Neue", sans-serif, sans-serif !important;
}

.edit-term:hover {
  cursor: pointer;
}

.configurable-analytics {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: auto;
}

.dropdown-container select {
  font-size: 20px;
}


.loaders {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: rgb(12, 33, 219);
  margin: auto;
  top: 50%;
  position: absolute;
}

.loaders:before,
.loaders:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loaders:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.dashboard {
  margin: 2%;
  color: #0a3c62;

}

.typography {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  font-family: Roboto, sans-serif;
  letter-spacing: .0178571429em;
}

/* .form-control{
  background-color: aliceblue;
} */

input[type=text],
input[type=email] {

  overflow: visible;
  background-color: #8d8a8a4d;
  box-shadow: 0 5px 10px rgba(228, 117, 117, 0), 0 6px 6px rgb(0 0 0 / 23%);
  border-color: #b3afaf;
}

.card-3 {
  box-shadow:  0 5px 10px rgb(0 0 0 / 0%), 0 6px 6px rgb(204 196 196 / 12%);
}


.card {
  background: #fff;
  border-radius: 14px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card2 {
  /* background: #f4f7f4; */
  background: rgba(0,0,0,.05);
  border-radius: 14px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}
.buttons {
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  height: 54px;
  position: relative;
  width: 148px;
  margin-top: 18px;
  border-color: #fff;
  color: #0a3c62;
  border-color: #0a3f62;
}

.buttons-3 {
  /* box-shadow: 0 5px 10px rgba(6, 12, 50, 0), 0 6px 6px rgb(0 0 0 / 12%); */
  border-color: #ebebeb;

}

.buttons-3.active {
  border: 1px solid #007bff; /* border color for active state */
  background-color: #007bff; /* background color for active state */
  color: #fff; /* text color for active state */
}

.headline1 {
  color: #0a3c62;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.dashboard-headline {
  color: #0a3c62;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.square {
  /* margin-bottom: 3%; */
  width: 334px;
  height: 98px;
  padding: 0%;
  display: flex;
  flex-direction: column;
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.square2 {
  margin-bottom: 4%;
  width: 92%;
  height: clamp(70px, 2.5vh, 80px);
  padding: 0%;
  display: flex;
  flex-direction: column;
  color: #666666;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.filter-buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.parent {
  display: flex;
  flex-direction: column;
}

.numberdeco {
  font-size: 112%;
  text-align: center;
  flex: 1;
  font-size: 213%;
  color: #0a3c62;
}

.headline {
  text-align: center;
  margin-top: 3%;
  flex: 1;
  font-size: .9rem;
  color: #0a3c62;
  /* font-weight: 300; */
}

.displyflex {
  display: flex;
}

.displyflex1 {
  /* margin-left: 2%;z */
}

.square1 {}

.loader {
  /* position:fixed;
  z-index: 999;
  height:2em;
  width:2em;
  overflow:visible;
  margin:auto;
  top:0;
  left:0;
  bottom */
  border: 8px solid #f3f3f3;
  border-top: 8px solid #139c2c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-alignment {
  text-align: center;
  margin-top: 3%;
  font-size: .9rem;
  color: #0a3c62;
  margin-bottom: 10px;
}

.coll{
margin-bottom: 7px;
}

.headline12 {
  text-align: center;
  /* margin-top: -15%; */
  flex: 1;
  font-size: .9rem;
}

.number-alignment {
  font-size: 112%;
  text-align: center;
  flex: 1;
  font-size: 162%;
  color: #0a3c62;
}

.my-division {
  border: 2px solid rgb(250, 249, 249); 
  background-color: #fff;
  
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (max-width: 260px) {

  .headline {
    text-align: center;
    margin-top: 8%;
  }

  .dashboard {
    margin: 10%;
  }
}

.loader-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loadingg {
  position: fixed;
  /* z-index: 999; */
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loadingg:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loadingg:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
}

.loadingg:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: 20em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

.faculty-access-page {
  margin-top: 20px;
}

.faculty-access-page .row {
  margin: 10px;
}

.faculty-access-page input[type=text],
.faculty-access-page input[type=email],
.faculty-access-page select,
.faculty-access-tabs input[type=text],
.faculty-access-tabs input[type=email],
.faculty-access-tabs select {
  width: 100%;
  font-size: 15px;
  background-color: transparent;
  color: black;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.faculty-access-tabs .row {
  align-items: end;
}

.faculty-access-page input[type=text]:focus-visible,
.faculty-access-page input[type=email]:focus-visible {
  border: 1px solid black;
}

.faculty-access-tabs {
  display: flex;
  /* gap: 10px; */
  font-size: 20px;
}

.faculty-access-tabs .tab-button {
  border-bottom: 4px solid #8b8b8b52;
  cursor: pointer;
}

.faculty-access-tabs .active-tab {
  border-bottom: 4px solid #33b35a;
}

.faculty-access-tabs .tab-button span {
  margin: 15px 25px;
}

.title span {
  font-size: 20px;
  padding: 10px 20px;
}

.selector-group {
  padding: 10px;
  border: none;
  border-radius: 8px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

/* 
*/
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 25px;
  padding: 10px;
  font-size: 18px;
  background-color: #8b8b8b52;
  gap: 10px;
  color: black;
}

.access-tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.inline {
  flex-direction: row;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapse-button {
  padding: 10px;
  background-color: white;
  border-radius: 35px;
}

.accordion-body {
  display: flex;
  flex-wrap: wrap;
}

.selector {
  font-size: 14px;
  background-color: #fff;
  width: fit-content;
  margin: 4px;
  padding: 4px 6px;
  display: flex;
  gap: 6px;
  border: none;
  border-radius: 4px;
}

.row.table-row {
  margin: 0px !important;
}

.icon {
  cursor: pointer;
}

.view-container-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.view-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: calc(50% - 10px);
  font-size: 20px;
  background-color: #8b8b8b52;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px;
  /* height: fit-content; */
}

.year-section {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
}

.department-section {
  padding: 18px 4px 0px 4px;
  display: flex;
  gap: 10px;
  font-size: 20px;
  align-items: center;
}

.department-section input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.course-section-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.course-section {
  display: flex;
  gap: 10px;
  background-color: #fff;
  /* margin: 10px 0px; */
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.submit-container {
  margin: 0px 25px;
  /* padding: 10px; */
}

.btn:disabled {
  cursor: not-allowed;
}

.title-container {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.page-breadcrumb {
  display: flex;
  gap: 20px;
}

.page-breadcrumb span:first-child {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.page-breadcrumb span {
  padding: 10px;
}

.Htext {
  color: #0a3c62;
  size: 130%;
  text-align: right;
}

.date-filter {
  display: flex;
  margin-bottom: 3%;

}

.accessed {
  border: 2px solid #28a745;
}

.buttons:focus {
  outline: none;
}

.record_h{
  margin-bottom: 2%;
  /* margin-left: 2%; */
  font-size: 16px;
  text-align: right;

}

@media only screen and (max-width: 650px) and (min-width: 250px) {
  .date-filter {
    display: ruby-text;
    margin-top: 34%;
    margin-left: -50%;
  }

  .overflow {
    overflow-x: auto;
  }

  /* overflow-x: auto; */
}

.loader-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.spinner {
  background: none;
  height: 64px;
  width: 64px;
  border: 5px solid orange;
  border-radius: 50%;
  border-top: 5px solid transparent;
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

:disabled {
  opacity: 0.5;
  cursor: disabled;
}

.buttons.active {
  background-color: #d2e9f6;
  /* background: rgba(0, 0, 0, .05); */
  /* Example active color */
  color: rgb(7, 7, 7);
  border-color: #ebebeb;

}
.icond{
  font-size: 2%;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}





.date-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; /* Space between items */
  flex-wrap: wrap; /* Ensure items wrap on smaller screens */
}

.date-filter .form-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.date-filter .form-group label {
  margin-right: 0.5rem;
}

.date-filter .form-group input {
  flex: 1;
  min-width: 150px; /* Ensure inputs don't get too small */
}

.date-filter .col-sm-4 {
  flex: 1;
  min-width: 150px;
}

.justifyy{
  justify-content: space-around;
}

@media (max-width: 768px) {
  .date-filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-filter .form-group,
  .date-filter .col-sm-4 {
    width: 100%;
  }

  .date-filter .btn {
    width: 100%;
    margin-top: 1rem;
  }
}
.analytics-title {
  display: flex;
  justify-content: space-between;
}

select.form-control option {
  /* color :#0a3c62 ; */
  font-weight: 400;
}

select.form-control {
  font-weight: 400;
}

.flex {
  display: flex;
}