<div class="row breads fonts" *ngIf="userRole != 'faculty'">
  <p class="fontSize fonts" style="margin:0px;cursor: pointer;">
    You are here : {{userRole}}
    <span (click)="back()" class="a1">Configurations</span>
    <span class="a1" *ngIf="activeInstitute?.name">{{activeInstitute?.name}}</span>
  </p>
</div>

<div class="container space topPlace" *ngIf="hideList && userRole != 'faculty'">
  <div class="create Student-heading">
    <h2 class="font">Institutions</h2>
    <a class="btn btn-success data-exchange-redirection" routerLink="/data-exchange">Test wise log export</a>
  </div>
  <hr>
  <ng-container>
    <div class="overflow">
      <table class="table table-striped ">
        <thead>
          <tr class="row fonts kk">
            <th style="position: inherit;" class="col-1" scope="col">S/L</th>
            <th style="position: inherit;" class="col" scope="col">Institutions</th>
            <th style="position: inherit;" class="col-1" scope="col">Edit terminologies</th>
            <th style="position: inherit;" class="col-1" scope="col">Analytics</th>
            <th style="position: inherit;" class="col-1" scope="col">Reports configuration</th>
            <th style="position: inherit;" class="col-1" scope="col">Dipstick-access</th>
            <th style="position: inherit;" class="col-1" scope="col">configurable export</th>
            <th style="position: inherit;" class="col-1" scope="col">Faculty access page</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let institute of institutes;let i=index" class="row test-name-display-on-hover kk fonts "
            (mouseenter)="setActiveTest(i)" (mouseleave)="setActiveTest(-1)">
            <th style="position: inherit;" class="col-1" scope="row">{{i+1}}</th>
            <td style="position: inherit;" class="col no-hover-testname-display" [hidden]="i==activeTestIndex">
              {{institute.name.substring(0, 25)}}<span *ngIf="institute.name.substring(25)">...</span></td>
            <td style="position: inherit;" class="col" [hidden]="i!=activeTestIndex"><span
                class="hover-testname-display">{{institute.name}}</span> </td>
           
            <td style="position: inherit;" class="col-1  edit-term"><i class="fa fa-edit" aria-hidden="true"
                (click)="selectInstituteForConfiguration(institute)"></i></td>
            <td style="position: inherit;cursor: pointer;" class="col-1"><i class="fa fa-line-chart" aria-hidden="true"
                (click)="tempfunction(institute)"></i></td>
            <td style="position: inherit;cursor: pointer !important" class="col-1"><i class="fa fa-cogs"
                aria-hidden="true" (click)="selectInstituteForReportConfiguration(institute)"></i></td>
            <td style="position: inherit;cursor: pointer;" class="col-1 "
              (click)="selectInstituteForDipstickAccess(institute)"><i class="fa fa-universal-access"></i></td>

            <td style="position: inherit;cursor: pointer !important" class="col-1"><i class="fa fa-cogs"
                aria-hidden="true" (click)="selectInstituteForConfigurableAnalytics(institute)"></i></td>
          
            <td style="position: inherit;cursor: pointer !important" class="col-1"><i class="fa fa-eye"
                aria-hidden="true" (click)="openFacultyAccessPage(institute)"></i></td>
          </tr>
          <hr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <div *ngIf="institutes.length == 0 ">
    <h3><b> Currently No institute is Available.</b></h3>
  </div>
</div>

<div class="container configuration-page space topPlace"
  *ngIf="showConfigurationPage && !isReportDisplayConfigurationPage">
  <div>
    <h2 class="font">Configurations</h2>
    <hr>
  </div>
  <table class="table table table-striped">
    <thead>
      <tr class="row fonts kk">
        <th style="position: inherit;" class="col-1" scope="col">S/L</th>
        <th style="position: inherit;" class="col" scope="col">Topic</th>
        <th style="position: inherit;" class="col" scope="col">Name</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let configuration of instituteConfigurations;let i=index"
        class="row test-name-display-on-hover kk fonts">
        <th style="position: inherit;" class="col-1" scope="row">{{i+1}}</th>
        <td style="position: inherit;" class="col">{{getKeys(configuration)}}</td>
       
        <td style="position: inherit;" class="col"><input type="text" name="configurationvalue" id="configurationvalue"
            (change)="onChange($event, getKeys(configuration), i)" value="{{getValues(configuration)}}"></td>
      </tr>
    </tbody>
  </table>
  
  <div class="logo logo-image-image">
   
    <div class="media logo-image">
      <img *ngIf="!logoData" class="mr-3" src="http://placehold.it/200x200" alt="Select logoData">
      <img *ngIf="logoData" class="mr-3" [attr.src]="'https://s3.ap-south-1.amazonaws.com/' + logoData.name"
        alt="Change Thumbnail">
      <div class="media-body">
        <input type="file" name="logo" id="logo" accept="image/*" (change)="onImageUpload($event, 'logo')" hidden>
        <label class="btn btn-primary" for="logo"
          [style.cursor]="this.enableButtonClicks?.uploadLogo ? 'pointer' : 'progress'"> {{ logoData ? 'Change logo':
          'Upload Logo' }} <span class="fa fa-upload"></span> </label>
       
      </div>
    </div>
  </div>
  <div class="logo logo-image-image logoMinimized">
    <div class="media logo-image ">
      <img *ngIf="!logoMinimizedData" class="mr-3" src="http://placehold.it/200x200" alt="Select logoMinimizedData">
      <img *ngIf="logoMinimizedData" class="mr-3"
        [attr.src]="'https://s3.ap-south-1.amazonaws.com/' + logoMinimizedData.name" alt="Change Thumbnail">
      <div class="media-body">
        <input type="file" name="logoMinimized" id="logoMinimized" accept="image/*"
          (change)="onImageUpload($event, 'logoMinimized')" hidden>
        <label class="btn btn-primary" for="logoMinimized"
          [style.cursor]="this.enableButtonClicks?.uploadLogo ? 'pointer' : 'progress'"> {{ logoMinimizedData ?
          'Change': 'Upload' }} Logo (Minimized) <span class="fa fa-upload"></span> </label>
       
      </div>
    </div>
  </div>

  <div>
    <label for="color"><b>Please Select color for active tabs : {{setColor}}</b></label>
    <input value={{setColor}} type="color" placeholder="Select the color" name="color" id="color"
      (change)="onColorchange($event)">
  </div>


  <div class="submit-body">
    <input type="button" (click)="saveConfigurations()" class="btn btn-primary submit-button" value="SAVE"
      [style.cursor]="this.enableButtonClicks?.saveConfigurations ? 'pointer' : 'progress'">
    <p *ngIf="saveStatus.show">{{saveStatus.message}} </p>
  </div>
</div>



<div class="container" *ngIf="showAnalyticsPage">
  <div class="w3-container" style="padding-top:5px;display:flex;justify-content: space-between;">
   
    <div style="width:100%;">
      <button class="btn btn-primary analytics" (click)="refresh()"><i class="fa fa-repeat"
          aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="dashboard">
    <h1 class="headline1"> Dashboard : [ {{ startDate }} - {{currentDate }} ]</h1>

    <form>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="">
            <label for="startdate">From</label>
            <input type="date" name="myControl" [ngModelOptions]="{standalone: true}" class="form-control"
              id="startdate" [(ngModel)]="startdateValue">
            <p>You selected: {{ selectedDate }}</p>
            <p>You selected: {{ selectedDate | date:'dd/MM/yyyy' }}</p>
            <p> {{ startdateValue }}</p>
          </div>


        </div>

        <div class="col-12 col-sm-6">
          <div class="">
            <label for="endDate">To</label>
            <input type="date" name="myControl" [ngModelOptions]="{standalone: true}" class="form-control" id="endDate"
              [(ngModel)]="endDateValue">
            <p>{{ endDateValue}}</p>
          </div>
        </div>


      </div>

    </form>


    <br>
    <div>

      <div class="displyflex">
        <div class="displyflex" class="row text displyflex">
          <h6></h6>
          <div class="square card card-3">
            <div class="text-alignment">Departmets</div>
            <br>
            <div class="number-alignment"> {{depcoursetest['Departmets ']}}</div>
          </div>
          <div class="square card card-3">
            <div class="text-alignment">Courses</div>
            <br>
            <div class="number-alignment">{{ depcoursetest.Courses}}</div>
          </div>
          <div class="square card card-3">
            <div class="text-alignment">Tests</div>
            <br>
            <div class="number-alignment">{{ depcoursetest.Tests}}</div>
          </div>
          <div class="square card card-3">
            <div class="text-alignment">Number of Learners</div>
            <br>
            <div class="number-alignment">{{ depcoursetest.Learners}}</div>
          </div>


         
          <div class="" *ngIf="activeInstitute?.name == 'kle technological university'">


            <div class="square card card-3">
              <div class="text-alignment">Number of records</div>
              <br>
              <div class="number-alignment">{{ getinstituteWiseCount1(activeInstitute)}} </div>

            </div>
            <div class="square card card-3">
              <div class="text-alignment">Number of redirections (Total)</div>
              <br>
              <div class="number-alignment">{{ institutewiseCount.counts.redirectionCounts.total_success_redirection }}
              </div>
            </div>
          </div>

          <div class="displyflex displyflex1" *ngIf="activeInstitute?.name != 'kle technological university'">

            <div class="square card card-3">
              <div class="text-alignment">Number of records</div>
              <br>
              <div class="number-alignment">{{ getinstituteWiseCount1(activeInstitute)}}
              </div>
            </div>
            <div class="square card card-3">
              <div class="text-alignment">Number of redirections (Total)</div>
              <br>
              <div class="number-alignment">NA
              </div>
            </div>


          </div>
        </div>
      </div>
      <br>
      <br>
      <br>



      <div>
        
        <div *ngIf="onedaydetails?.instituteid">
          <h1 class="headline1">Today's Dashboard : [ {{currentDate }} ] </h1>
          <br>

          <div *ngIf="activeInstitute?.name == 'kle technological university'">

            <div class="row text">
              <h6></h6>

              <div class="square card card-3">
                <div class="headline">Number of submissions (success)</div>
                <br>
                <div class="numberdeco">{{ onedaydetails?.redsub['today_submission']}}</div>
              </div>

              <div class="square card card-3">
                <div class="headline">Number of submissions (failed)</div>
                <br>
                <div class="numberdeco">{{ onedaydetails?.redsub["today_failed_submissions "] || onedaydetails?.count}}
                </div>
              </div>


              <div class="square card card-3">
                <div class="headline">Number of redirections (success)</div>
                <br>
                <div class="numberdeco">{{ onedaydetails?.redsub?.today_success_redirection }}</div>
              </div>

              <div class="square card card-3">
                <div class="headline">Number of redirections (failed)</div>
                <br>
                <div class="numberdeco">{{ onedaydetails?.redsub?.today_failed_redirections }}</div>
              </div>

            </div>

          </div>

          <div *ngIf="activeInstitute?.name != 'kle technological university'">

            <div class="row text">
              <h6></h6>

              <div class="square card card-3">
                <div class="headline">Number of submissions (success)</div>
                <br>
                <div class="numberdeco">{{ onedaydetails?.count}}</div>
              </div>

              <div class="square card card-3">
                <div class="headline">Number of submissions (failed)</div>
                <br>
                <div class="numberdeco">NA</div>
              </div>

              <div class="square card card-3">
                <div class="headline">Number of redirections (success)</div>
                <br>
                <div class="numberdeco">NA</div>
              </div>

              <div class="square card card-3">
                <div class="headline">Number of redirections (failed)</div>
                <br>
                <div class="numberdeco">NA</div>
              </div>



            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="showAnalyticsPageV1">
  <div class="w3-container" style="padding-top:5px;display:flex;justify-content: space-between;">
    <div style="width:100%;">
    </div>
    <div style="width:100%;">
      <button class="btn btn-primary analytics" (click)="reloadAnalytics()"><i class="fa fa-repeat"
          aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="dashboard">
    <div class="d-flex justify-content-between">
      <h1 class="dashboard-headline" (click)="showYearMessage = true; "> <b>Dashboard : </b> </h1>

      <div class="row">
        <div class="d-flex justify-content-end align-items-center">
          <form #myForm="ngForm">
            <div class="float-end">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="analytics-title">
      <div>
        <select class="headline1 form-control " (change)="setActiveYearDataForAnalytics($event.target.value) "
          (click)="setActiveYearDataForAnalytics($event.target.value)">
          <option value="all">ALL</option>
          <option *ngFor="let yearData of yearWiseTotalCountData" [value]="yearData?.year">{{yearData?.year}}</option>
        </select>
      </div>

      <div>
        <h1 class="Htext headline1" *ngIf="showYearMessage && !(activeYearData?.year)">Results for all Academic Years
        </h1>
        <h1 class="Htext headline1" *ngIf="activeYearData?.year">Showing the Results for Academic year
          :{{activeYearData?.year}}</h1>
      </div>
    </div>

    <div>

      <div class="analytics-container">
        <div class="row text displyflex">
          <h6></h6>
          <div class="square card card-3">
            <div class="fa fa-building-o icond" aria-hidden="true"></div>
            <div class="text-alignment ">Departments</div>
            <br>
            <div class="number-alignment">
              {{ activeYearData.departments }}</div>
          </div>
          <div class="square card card-3">
            <div class="text-alignment">Courses</div>
            <br>
            <div class="number-alignment"> {{ activeYearData.courses }}
            </div>
          </div>
          <div class="square card card-3">
            <div class="text-alignment">Tests</div>
            <br>
            <div class="number-alignment">{{ activeYearData.tests }}</div>
          </div>
          <div class="square card card-3">
            <div class="text-alignment">Number of Learners</div>
            <br>
            <div class="number-alignment">{{ activeYearData.students }}
            </div>
          </div>
          <div class="square card card-3">
            <div class="text-alignment">Number of records</div>
            <br>
            <div class="number-alignment">{{ activeYearData.records }}
            </div>

          </div>

        </div>
      </div>

      <br>
      <br>
      <br>


      <div>
        <!-- date wise filter -->
        <div class="date-filter">
          <div class="flex">
            <div class="">
              <div class="form-group d-flex align-items-center">
                <label for="startdate">Start Date:</label>
                <input type="date" class="form-control" id="startdate" name="startdate" [(ngModel)]="startdateValue"
                  required>
              </div>
            </div>

            <div class="">
              <div class="form-group d-flex align-items-center">
                <label for="endDate">End Date:</label>
                <input type="date" name="endDate" class="form-control" id="endDate" [(ngModel)]="endDateValue"
                  [ngModelOptions]="{updateOn: 'change'}" [required]="true" [min]="startdateValue"
                  [disabled]="!startdateValue">
                <div *ngIf="myForm.controls['endDate']?.errors?.min" class="text-danger">End date should be after
                  start date</div>
              </div>
            </div>

            <div class="col-sm-4">
              <button class="btn btn-primary form-group" (click)="getDateWiseTotalCount() " type="submit"
                [disabled]="!(endDateValue && startdateValue)">Submit</button>
            </div>
          </div>
          <div>

            <div class="record_h" *ngIf="!showDateMessage">Total Records in {{ activeButtonText }} </div>
            <div class="record_h" *ngIf="showDateMessage">Total Records from {{startdateValue | date:'d MMM, y'}} to
              {{endDateValue | date:'d MMM, y'}} </div>
          </div>

        </div>

        <div>

          <div class="row my-division card-3">
            <div class="col-md-2 filter-buttons">
              <button class="p-3 buttons buttons-3" [class.active]="activeButton === GRAPH_FILTERS.WEEK"
                (click)="setActiveButton(GRAPH_FILTERS.WEEK); clearDateInputs()">Last {{GRAPH_FILTERS.WEEK}} days
              </button>
              <button class="p-3 buttons buttons-3" [class.active]="activeButton === GRAPH_FILTERS.MONTH"
                (click)="setActiveButton(GRAPH_FILTERS.MONTH); clearDateInputs()">Last {{GRAPH_FILTERS.MONTH}} days
              </button>
              <button class="p-3 buttons buttons-3" [class.active]="activeButton === GRAPH_FILTERS.YEAR"
                (click)="setActiveButton(GRAPH_FILTERS.YEAR); clearDateInputs()">Last {{GRAPH_FILTERS.YEAR}} days
              </button>
              <button class="p-3 buttons buttons-3"
                [class.active]="activeButton === currentMonth"
                (click)="setActiveButton(currentMonth); clearDateInputs()">
                {{ currentMonth }}
              </button>
              <button class="p-3 buttons buttons-3"
                [class.active]="activeButton === previousMonth"
                (click)="setActiveButton(previousMonth); clearDateInputs()">
                {{ previousMonth }}
              </button>
            </div>


            <div class="col-md-6">
              <div class="chart-container">
                <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                  [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" width="518px"
                  height="400px" margin-top="73px">
                </canvas>
              </div>
            </div>


            <div class="col-md-4 coll">
              <div class="square2 card2 card-3">
                <div class="text-alignment">Departments</div>

                <div class="number-alignment">{{dateWiseCountData.departmentCount}}
                </div>

              </div>
              <div class="square2 card2 card-3">
                <div class="text-alignment">Courses</div>

                <div class="number-alignment">{{dateWiseCountData.courseCount}}
                </div>

              </div>
              <div class="square2 card2 card-3">
                <div class="text-alignment">Tests</div>

                <div class="number-alignment">{{ dateWiseCountData.tests }}
                </div>
              </div>
              <div class="square2 card2 card-3">
                <div class="text-alignment">Number of Learners</div>

                <div class="number-alignment">{{ dateWiseCountData.studentCount || dateWiseCountData.students || 0 }}
                </div>
              </div>
              <div class="square2 card2 card-3">
                <div class="text-alignment">Number of records</div>
                <div class="number-alignment">{{totalRecords}}
                </div>

              </div>
              <div *ngIf="activeInstitute?.name == 'kle technological university'" class="square2 card2 card-3">
                <div class="text-alignment">Number of redirections</div>
                <div class="number-alignment">{{dateWiseCountData.redirectionCount}}
                </div>
              </div>

            </div>
          </div>
        </div>


        <div>

        </div>


      </div>
    </div>
  </div>
</div>

<div class="loading" *ngIf="(showAnalyticsPageV1 && !yearWiseTotalCountData.length) || showLoader"></div>

<div class="report-display-configurations container" *ngIf="showConfigurationPage && isReportDisplayConfigurationPage">
  <h2> Report Display Configuration Page </h2>
  <div class="container">
    <div class="row justify-content-center">
      <span class="col group-report-tab ReportDisplayConfigurationTab">
        <h4 class="student-report-tab-name"
          [ngClass]="{'active-top-navigation-bar':!isStudentReportDisplayConfigurationPage,  'top-navigation-bar':isStudentReportDisplayConfigurationPage}"
          (click)="displayGroupReportConfigurations()"> Group Reports </h4>
        <hr
          [ngClass]="{'uline2':!isStudentReportDisplayConfigurationPage,  'uline':isStudentReportDisplayConfigurationPage}">
      </span>
      <span class="col student-report-tab ReportDisplayConfigurationTab">
        <h4 class="student-report-tab-name"
          [ngClass]="{'active-top-navigation-bar':isStudentReportDisplayConfigurationPage,  'top-navigation-bar':!isStudentReportDisplayConfigurationPage}"
          (click)="displayStudentReportConfigurations()"> Student Reports </h4>
        <hr
          [ngClass]="{'uline2':isStudentReportDisplayConfigurationPage,  'uline':!isStudentReportDisplayConfigurationPage}">
      </span>
    </div>
  </div>

  <div class="student-report-display-configuration-container">
    <div class="student-report-display-configuration-checkbox-container-parent">
      <div class="container student-report-display-configuration-checkbox-container"
        [hidden]="!isStudentReportDisplayConfigurationPage">
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="student-testwise" id="student-testwise"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('student-testwise')">
            <label for="student-testwise">Report-1 : Testwise reports</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="student-conceptwise" id="student-conceptwise"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('student-conceptwise')">
            <label for="student-conceptwise">Report-2: Conceptwise reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="student-conceptwise-popup" id="student-conceptwise-popup"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('student-conceptwise-popup')">
            <label for="student-conceptwise-popup">Report-2: Conceptwise reports popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="student-subconceptwise" id="student-subconceptwise"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('student-subconceptwise')">
            <label for="student-subconceptwise">Report-3: Subconceptwise reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="student-subconceptwise-popup" id="student-subconceptwise-popup"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('student-subconceptwise-popup')">
            <label for="student-subconceptwise-popup">Report-3: Subconceptwise reports popup</label>
          </div>
        </div>
      </div>
      <div class="container" [hidden]="isStudentReportDisplayConfigurationPage">
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-testwise-allParticipants" id="group-testwise-allParticipants"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-testwise-allParticipants')">
            <label for="group-testwise-allParticipants">Report-1 : Testwise all participants reports</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-testwise-divisionWise" id="group-testwise-divisionWise"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-testwise-divisionWise')">
            <label for="group-testwise-divisionWise">Report-2 :Testwise divisionwise reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="group-testwise-divisionWise-popup" id="group-testwise-divisionWise-popup"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-testwise-divisionWise-popup')">
            <label for="group-testwise-divisionWise-popup">Report-2 :Testwise divisionwise report popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-conceptwise-allParticipants" id="group-conceptwise-allParticipants"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-conceptwise-allParticipants')">
            <label for="group-conceptwise-allParticipants">Report-3: Conceptwise all participants reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="group-conceptwise-allParticipants-popup"
              id="group-conceptwise-allParticipants-popup" (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-conceptwise-allParticipants-popup')">
            <label for="group-conceptwise-allParticipants-popup">Report-3: Conceptwise all participants report
              popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-conceptwise-divisionWise" id="group-conceptwise-divisionWise"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-conceptwise-divisionWise')">
            <label for="group-conceptwise-divisionWise">Report-4: Conceptwise divisionwise reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="group-conceptwise-divisionWise-popup" id="group-conceptwise-divisionWise-popup"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-conceptwise-divisionWise-popup')">
            <label for="group-conceptwise-divisionWise-popup">Report-4: Conceptwise divisionwise report popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-subconceptwise-allParticipants" id="group-subconceptwise-allParticipants"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-subconceptwise-allParticipants')">
            <label for="group-subconceptwise-allParticipants">Report-5 : Subconceptwise all participants reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="group-subconceptwise-allParticipants-popup"
              id="group-subconceptwise-allParticipants-popup" (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-subconceptwise-allParticipants-popup')">
            <label for="group-subconceptwise-allParticipants-popup">Report-5: Subconceptwise all participants report
              popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-subconceptwise-divisionWise" id="group-subconceptwise-divisionWise"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-subconceptwise-divisionWise')">
            <label for="group-subconceptwise-divisionWise">Report-6: Subconceptwise divisionwise reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="group-subconceptwise-divisionWise-popup"
              id="group-subconceptwise-divisionWise-popup" (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-subconceptwise-divisionWise-popup')">
            <label for="group-subconceptwise-divisionWise-popup">Report-6: Subconceptwise divisionwise report
              popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-questionwise-allParticipants" id="group-questionwise-allParticipants"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-questionwise-allParticipants')">
            <label for="group-questionwise-allParticipants">Report-7: Question wise all participants reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="group-questionwise-allParticipants-popup"
              id="group-questionwise-allParticipants-popup" (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-questionwise-allParticipants-popup')">
            <label for="group-questionwise-allParticipants-popup">Report-7: Question wise all participants report
              popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">
          <div class="col">
            <input type="checkbox" name="group-questionwise-divisionWise" id="group-questionwise-divisionWise"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-questionwise-divisionWise')">
            <label for="group-questionwise-divisionWise">Report-8: Question wise divisionwise reports</label>
          </div>
          <div class="col">
            <input type="checkbox" name="group-questionwise-divisionWise-popup"
              id="group-questionwise-divisionWise-popup" (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-questionwise-divisionWise-popup')">
            <label for="group-questionwise-divisionWise-popup">Report-8: Question wise divisionwise report popup</label>
          </div>
        </div>
        <div class="row justify-content-center student-report-display-configuration-checkbox">

          <div class="col">
            <input type="checkbox" name="group-attendance" id="group-attendance"
              (change)="setReportDisplayConfigurations($event.target)"
              [checked]="getReportDisplayConfigurations('group-attendance')">
            <label for="group-attendance">Attendance</label>
          </div>
        </div>
      </div>
    </div>
    <div class="student-report-display-configuration-button">
      <button class="btn btn-primary" (click)="saveReportDisplayConfigurations()">Save configurations</button>
    </div><strong>
      <p style="text-align: center;" *ngIf="saveReportDisplayConfigurationSaveMessage"> {{
        saveReportDisplayConfigurationSaveMessage }} </p>
    </strong>
  </div>
</div>

<div class="configurableAnalytics-page" *ngIf="isConfigurableAnalytics">
  <div class="container configurable-analytics">
    <div class="dropdown-container year-dropdown-container">
      <select name="yearList" id="yearList" (change)="onYearSelectionForConfigurableAnalytics($event.target.value)">
        <option value="" [selected]="!activeYearForConfigurableAnalytics" disabled>select year</option>
        <option value="all" [selected]="activeYearForConfigurableAnalytics=='all'">ALL</option>
        <option *ngFor="let year of yearsList" [value]="year" [selected]="activeYearForConfigurableAnalytics==year">
          {{year}}</option>
      </select>
    </div>
    <div class="dropdown-container semester-dropdown-container">
      <select name="semesterList" id="semesterList"
        (change)="onSemesterSelectionForConfigurableAnalytics($event.target.value)"
        [disabled]="!activeYearForConfigurableAnalytics">
        <option value="" [selected]="!activeSemesterForConfigurableAnalytics?._id" disabled>select Semester</option>
        <option value="all" [selected]="activeSemesterForConfigurableAnalytics?._id=='all'">ALL</option>
        <option *ngFor="let semesterList of semestersList"
          [selected]="activeSemesterForConfigurableAnalytics?._id==semesterList._id" [value]="semesterList._id">
          {{semesterList.name}}</option>
      </select>
    </div>
    <div class="dropdown-container department-dropdown-container">
      <select name="departmentList" id="departmentList"
        (change)="onDepartmentSelectionForConfigurableAnalytics($event.target.value)"
        [disabled]="!activeSemesterForConfigurableAnalytics">
        <option value="" [selected]="!activeDepartmentForConfigurableAnalytics?._id" disabled>select department</option>
        <option value="all" [selected]="activeDepartmentForConfigurableAnalytics?._id=='all'">ALL</option>
        <option *ngFor="let departmentList of departmentsList"
          [selected]="activeDepartmentForConfigurableAnalytics?._id==departmentList._id" [value]="departmentList._id">
          {{departmentList.name}}</option>
      </select>
    </div>
    <div class="dropdown-container course-dropdown-container">
      <select name="courseList" id="courseList"
        (change)="onCourseSelectionForConfigurableAnalytics($event.target.value)"
        [disabled]="!activeDepartmentForConfigurableAnalytics">
        <option value="" [selected]="!activeCourseForConfigurableAnalytics?._id" disabled>select course</option>
        <option value="all" [selected]="activeCourseForConfigurableAnalytics?._id=='all'">ALL</option>
        <option *ngFor="let courseList of coursesList" [value]="courseList._id"
          [selected]="activeCourseForConfigurableAnalytics?._id==courseList._id">{{courseList.name}}</option>
      </select>
    </div>
  </div>
  <div class="container configurable-analytics" *ngIf="activeCourseForConfigurableAnalytics">
    <div class="dropdown-container filter-dropdown-container">
      <select name="filterSelection" id="filterSelection"
        (change)="onFilterSelectionForConfigurableAnalytics($event.target.value)">
        <option value="" selected disabled>select filter</option>
        <option value="test">TEST</option>
        <option value="subtopic">SUBTOPIC</option>
        <option value="conceptstatement">CONCEPT STATEMENT</option>
        <option value="qnno">QID</option>
      </select>
    </div>
    <div class="dropdown-container condition-dropdown-container">
      <select name="conditionSelection" id="conditionSelection"
        (change)="onConditionSelectionForConfigurableAnalytics($event.target.value)">
        <option value="" selected disabled>select condition</option>
        <option value="lessthan">LESS THAN</option>
        <option value="greaterthan">GREATER THAN</option>
        <option value="between">BETWEEN</option>
      </select>
    </div>
    <div class="input-field-container">
      <label for="conditionalinput1">Conditional Input</label>
      <input type="number" name="conditionalinput1" id="conditionalinput1"
        (change)="onInputChangeForConfigurableAnalytics($event.target.name, $event.target.value)" />
    </div>
    <div class="input-field-container" *ngIf="activeConditionForConfigurableAnalytics=='between'">
      <label for="conditionalinput2">Conditional Input 2</label>
      <input type="number" name="conditionalinput2" id="conditionalinput2"
        (change)="onInputChangeForConfigurableAnalytics($event.target.name, $event.target.value)" />
    </div>
  </div>

  <div class="container" *ngIf="activeCourseForConfigurableAnalytics">
    <button class="btn btn-primary" (click)="getConfigurableAnalytics()"
      [disabled]="!isConfigurableAnalyticsExportEnabled">Export</button>
  </div>
</div>

<div class="container configuration-page space topPlace" *ngIf="showAccessPage">
  <app-student-access [activeInstitute]="activeInstitute"
    (dipstickAccessStatus)="accessDataSet($event)"></app-student-access>

</div>

<div class="container faculty-access-page" *ngIf="showFacultyAccessPage">


  <div class="title-container">
    <div class="heading">
      <h3>Existing Roles</h3>
      <div class="page-breadcrumb" *ngIf="activeFaculty?.name && showAccessData">
        <span (click)="showAccessData=false;activeFaculty=undefined">Back</span>
        <span>Giving access to "{{activeFaculty?.name}}" </span>
      </div>
    </div>
    <button class="btn btn-success" *ngIf="!activeFaculty?.name" (click)="open(createRole)">Create New</button>
  </div>

  <div class="assign-access-tab">
    <div class="role-selection-tab" *ngIf="!showAccessData">
      <div class="role-container">
        <table class="table table-striped">
          <thead>
            <tr class="row table-row fonts kk">
              <th class="col-1" scope="col-1">S/L</th>
              <th class="col" scope="col">Name</th>
              <th class="col" scope="col">Email Id</th>

              <th class="col-1" scope="col-1">View</th>
              <th class="col-1" scope="col-1">Add</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row table-row" *ngFor="let faculty of facultiesList; let i = index">
              <th class="col-1" scope="row">{{i+1}}</th>
              <td class="col">{{faculty?.name}}</td>
              <td class="col">{{faculty?.email}}</td>
              <td class="col-1"><i class="fa fa-solid fa-eye icon" (click)="openAccessPage(accessPage, faculty)"></i>
              </td>
              <td class="col-1"><i class="fa fa-solid fa-plus icon" (click)="addAccessData(faculty)"></i></td>
            </tr>
            <hr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="access-tab" *ngIf="showAccessData">
      <div class="accordion">
        <div class="accordion-title">
          <span>Years</span>
          <i class="collapse-button fa fa-solid fa-chevron-up" (click)="openYearAccordian=!openYearAccordian"></i>
        </div>
        <div class="accordion-body" *ngIf="openYearAccordian">
          <div class="selector" *ngFor="let year of allAccessYears;" (click)="setActiveYearForAccess(year)"
            [class.accessed]="currentAccessYears?.includes(year)"> <input type="checkbox"
              [checked]="activeYearForAccess == year"> <span>{{year}}</span> </div>
        </div>
      </div>
      <div class="accordion" *ngIf="allAccessDepartments.length">
        <div class="accordion-title">
          <span>Departments</span>
          <i class="collapse-button fa fa-solid fa-chevron-up"
            (click)="openDepartmentAccordian=!openDepartmentAccordian"></i>
        </div>
        <div class="accordion-body" *ngIf="openDepartmentAccordian">
          <div class="selector" *ngFor="let department of allAccessDepartmentNames;"
            (click)="setActiveDepartmentForAccess(department)"
            [class.accessed]="currentAccessDepartments[activeYearForAccess]?.includes(department)"> <input
              type="checkbox" [checked]="activeDepartmentForAccess == department"> <span> {{department}} </span> </div>
        </div>
      </div>
      <div class="accordion" *ngIf="allAccessCourses.length">
        <div class="accordion-title">
          <span>Courses</span>
          <i class="collapse-button fa fa-solid fa-chevron-up" (click)="openCourseAccordian=!openCourseAccordian"></i>
        </div>
        <div class="accordion-body" *ngIf="openCourseAccordian">
          <div class="selector" (click)="selectAllCourses()"> <input type="checkbox" [checked]="allCoursesSelected">
            <span>All</span>
          </div>
          <div class="selector" *ngFor="let course of allAccessCourseNames;" (click)="setCourseAccess(course)"
            [class.accessed]="(currentAccessCourses[activeYearForAccess] || {})[activeDepartmentForAccess]?.includes(course) ">
            <input type="checkbox" [checked]="accessCourses.includes(course)"> <span> {{course}} </span>
          </div>
        </div>
      </div>
      <div class="submit-container" *ngIf="accessCourses.length"> <span class="btn btn-primary" (click)="saveAccess()">
          Submit </span> </div>
    </div>
  </div>
</div>

<div id="snackbar"> {{notificationMessage}} </div>
<ng-template #accessPage let-modal>
  <div class="modal-header">
    <h4 class="modal-title fonts" id="modal-basic-title">Accessed Courses</h4>
    <div class="buttons-container">
      <button type="button" class="close" aria-label="Close" id="close"
        (click)="modal.dismiss('Cross click');activeFaculty=undefined">
        <span aria-hidden="true">&times;</span>
      </button>
      <button class="btn btn-danger" (click)="removeAllCourseAccess()" [disabled]="!RemoveAllCourseSelections">Remove
        All</button>
    </div>
  </div>
  <div class="modal-body">
    <div class="view-container-body">
      <div class="view-container" *ngFor="let access of facultyAccessList?.accessList;let i = index;">
        <div class="year-section">
          <span> {{access?.year}} </span>
          <button class="btn btn-danger" [disabled]="!coursesToRemoveAccess[i]?.courses?.length"
            (click)="removeCourseAccess(i)">Remove</button>
        </div>
        <div class="department-section">
          <span> {{ facultyAccessList?.departments[access?.departments[0]] }} </span>
        </div>
        <div class="course-section-container">
          <div class="course-section" *ngFor="let course of access?.courses" (click)="removeCourse(i, course)">
            <input type="checkbox" [checked]="!coursesToRemoveAccess[i].courses.includes(course)">
            <span> {{ facultyAccessList?.courses[course]?.name }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fonts" *ngIf="message" id="msg">
    <p style="text-align: center; display: block;"><b>asdf</b></p>
  </div>
</ng-template>

<ng-template #createRole let-modal>
  <div class="modal-header">
    <h4 class="modal-title fonts" id="modal-basic-title">Create new role</h4>
    <div class="buttons-container">
      <button type="button" class="close" aria-label="Close" id="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="faculty-access-tabs" *ngIf="!facultyCreationResponse">
      <form class="row" #facultyAccessPage="ngForm"
        (ngSubmit)="!disableCreateAccessButton && createFacultyRole(facultyAccessPage.value, modal)">

        <div class="col-md-4 col-lg-4 col-sm-6">
          <label for="name">Faculty Name</label>
          <input autocomplete="false" name="name" type="text" placeholder="Faculty Name" ngModel
            [disabled]="disableCreateAccessButton" />
        </div>

        <div class="col-md-4 col-lg-4 col-sm-6">
          <label for="email">Faculty email</label>
          <input autocomplete="false" name="email" type="email" placeholder="Faculty Email" ngModel
            [disabled]="disableCreateAccessButton" />
        </div>

        <div class="col-md-2 col-lg-2 col-sm-3">
          <label for="role">Role</label>
          <select name="role" ngModel [disabled]="disableCreateAccessButton">
            <option disabled>Select</option>
            <option value="faculty">Faculty</option>
            <option value="faculty">HOD</option>
          </select>
        </div>

        <div class="col-2">
          <button type="submit" class="btn btn-success" data-dismiss="facultyAccessPage" ngModal
            [disabled]="disableCreateAccessButton">Submit</button>
        </div>
      </form>
    </div>
    <span> {{facultyCreationResponse}} </span>
    <div class="loader-message" *ngIf="disableCreateAccessButton">
      <span class="spinner"></span>
      <span> User creation in progress </span>
    </div>
  </div>
  <div class="fonts" *ngIf="message" id="msg">
    <p style="text-align: center; display: block;"><b>asdf</b></p>
  </div>
</ng-template>