<div class="page login-page" *ngIf="!isloggedIn">
    <div class="container">
      <div class="form-outer text-center d-flex align-items-center">
        <div class="form-inner">
            <div class="logo"><span>WEL-COME To </span><strong class="text-primary">&nbsp; Dipstick</strong></div>
            <p>We create transformational learning environments that will enrich and enhance your life, with an in-depth focus on self development. Training in high end technology domains are uniquely blended with training in behavioral transformations</p>
           
       <form  class="text-left form-validate" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">  
        <div class="form-group-material">
              <input id="userName" type="text" name="userName" required data-msg="Please enter your username" class="input-material" ngModel>
              <label for="userName" class="label-material">Username</label>
            </div>
            <div class="form-group-material">
              <input password type="password" name="password" required data-msg="Please enter your password" class="input-material" ngModel>
              <label for="password" class="label-material">Password</label>
            </div>

            <div class="form-group text-center">
                <button class="form-group text-center btn btn-primary"  id="login" value="submit" type="submit">Login</button>
            </div>
          </form>
          <!-- <a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a> -->
        </div>
        
        <div class="copyrights text-center">
          <p>Design by <a href="https://www.eklakshya.com/" class="external">Eklakshya</a></p>
        </div>
      </div>
    </div>
  </div>




  