<div class="filter-selection-body">
    <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body">
        <select class="form-select department-selector selector" [ngClass]="{'semester-selector-active':activeYear}" aria-label="Default select example" (change)="setNewSemester($event.target.value)" [disabled]="!activeYear">
            <option disabled [selected]="!activeSemester">Select Semester</option>
            <option *ngFor="let semester of semestersList" [selected]="activeSemester && (activeSemester['_id'] == semester['_id'])" [value]="semester"> {{semester.name}} </option>
        </select>
    </div>
    <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body">
        <select class="form-select department-selector selector" [ngClass]="{'department-selector-active':activeSemester?._id}" aria-label="Default select example" (change)="setNewDepartment($event.target.value)" [disabled]="!activeSemester">
            <option disabled [selected]="!activeDepartment">Select Department</option>
            <option *ngFor="let department of departmentsList" [selected]="activeDepartment && (activeDepartment['_id'] == department['_id'])" [value]="department"> {{department.name}} </option>
        </select>
    </div>
    <div class="col-md-3 col-sm-6 col-lg-3 col-3 selector-body">
        <select class=" form-select course-selector selector" aria-label="Default select example" (change)="setNewCourse($event.target.value)">
            <option disabled [selected]="!activeCourse">Select Course</option>
            <option *ngFor="let course of coursesList" [selected]="activeCourse && (activeCourse['_id'] == course['_id'])" [value]="course">{{course.name}} </option>
        </select>
    </div>
</div>
<!-- <div class="reports">
    <app-test-wise-reports-single-cluster [APIURL]="APIURL"></app-test-wise-reports-single-cluster>
</div> -->