<div class="container">
    <h2>Select the Date to export the Test-wise logs sheet.</h2>
    <input type="date" name="testwiselogcount" id="" (change)="onDateChange($event.target)" >
    <button  [disabled]="!dwld" class="btn btn-success" (click)="getLogFileByDate()" [hidden]="!testwiseLogCountDate || !dateMatch" >{{dwld  ? 'Download file' : 'Please wait...' }}</button>
</div>

