input[type="email"] {
    width: 40%;
    padding: 7px 7px;
    margin: 8px 0;
}

.card-text {
    font-size: small;
}

.card-header {
    font-size: larger;
}

#pre {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
}

select {
    width: 40%;
}

.legend {
    height: 100%;
    width: 65%;
}

.testName {
    text-align: left;
}

.btn {
    margin-right: 10px;
}

.table {
    font-size: small;
}

.testname-list {
    font-size: small;
}

.card {
    width: 80%;
    height: 80%;
}

.tnumber {
    font-size: x-small;
    font-weight: bold;
}

.tabs-switch .tab {
    font-size: medium;
    margin-right: 5%;
    float: left;
    margin-top: 2%;
    padding-bottom: 5px;
}

input[type="radio"]:checked+label {
    border-bottom: 3px solid transparent;
    border-color:  #0d8b33;
}

input[type="radio"] {
    display:none;
}