<div class="container">
    <br>
    <h1>View student reports</h1>
    <hr>
    <form #studentemail = "ngForm" (ngSubmit) = "onClickSubmit(studentemail.value)" >
        <label>Enter student's email address</label> <br>
        <input type = "email" name = "emailaddress" ngModel> <br>
        <label>Select Course Name</label> <br>
        <select class="form-control" (change)="setCourse($event)">
            <option> </option>
            <option *ngFor="let course of courseList">{{course['name']}}</option>
        </select>
        <br>
        <input class="btn btn-success" type = "submit" value = "Fetch Report">
    </form>
    <br>
    <div *ngIf='toDisplay' class="card text-center">
        <div class="card-header">Dipstick Report
                <div class="tabs-switch"> 
                    <input id="tab-1" type="radio" name="tab" (click)="displayPretest()" checked><label for="tab-1" class="tab">Pre Assessment</label> 
                     <input id="tab-2" type="radio" name="tab" (click)="displayPosttest()"><label for="tab-2" class="tab">Post Assessment</label>
                </div>
            <!-- </ul> -->
        </div>
         <div class="card-body">
            <h5 class="card-text text-left">Report for: {{ studentName }}</h5>
            <svg *ngIf="viewPreAssessment" width="840" height="400" id="pre">
                <path *ngFor="let hexPath of reportDetails['Hexagon SVG paths']['pre']; let i = index" [attr.d]="hexPath" [attr.fill] = "reportDetails['Hexagon Colors']['pre'][i]" stroke = "#fff" stroke-width="3px"/>
                <text class="tnumber" *ngFor="let hexCenterX of reportDetails['Hex Centers X']['pre']; let i = index" [attr.x]="hexCenterX-2" [attr.y]="reportDetails['Hex Centers Y']['pre'][i]+4" fill="black">T{{i+1}}</text>
            </svg>
            <svg *ngIf="viewPostAssessment" width="840" height="400" id="pre">
                <path *ngFor="let hexPath of reportDetails['Hexagon SVG paths']['post']; let i = index" [attr.d]="hexPath" [attr.fill] = "reportDetails['Hexagon Colors']['post'][i]" stroke = "#fff" stroke-width="3px"/>
                <text class="tnumber" *ngFor="let hexCenterX of reportDetails['Hex Centers X']['post']; let i = index" [attr.x]="hexCenterX-2" [attr.y]="reportDetails['Hex Centers Y']['post'][i]+4" fill="black">T{{i+1}}</text>
            </svg>
           
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col text-left">
                    <dl *ngIf="viewPreAssessment">
                        <dt class="testname-list" *ngFor="let pretest of reportDetails['Pretests'];  let i = index" [attr.data-index]="i">T{{ i+1 }}: Pre Test {{ i }} {{pretest['title'] }}</dt>
                    </dl>
                    <dl *ngIf="viewPostAssessment">
                        <dt class="testname-list" *ngFor="let posttest of reportDetails['Posttests'];  let i = index" [attr.data-index]="i">T{{ i+1 }}: Post Test {{ i }} {{posttest['title'] }}</dt>
                    </dl>
                </div>
                <div class="col">
                    <img class="legend" [attr.src]=legend>
                    <!-- <img class="legend" src="../../assets/images/legend.png"> -->
                </div>
            </div>
            <br><br>
            <table *ngIf="scoresDisplayState" class="table table-borderless table-hover">
                <thead *ngIf="viewPreAssessment">
                  <tr>
                    <th scope="col">Tests</th>
                    <th class="testName" scope="col">Test Name</th>
                    <th *ngFor="let number of [1,2,3,4,5]" scope="col">Attempt 0{{ number }} (%)</th>
                  </tr>
                </thead>
                <thead *ngIf="viewPostAssessment">
                    <tr>
                      <th scope="col">Tests</th>
                      <th class="testName" scope="col">Test Name</th>
                      <th *ngFor="let number of [1]" scope="col">Attempt 0{{ number }} (%)</th>
                    </tr>
                </thead>
                <tbody *ngIf="viewPreAssessment">
                <tr *ngFor="let pretest of reportDetails['Pretests'];  let i = index" [attr.data-index]="i">
                    <th scope="row">T{{ i+1 }}</th>
                    <td class="testName">Pre Test {{ i+1 }} - {{pretest['title']}}</td>
                    <td *ngFor="let attempt of reportDetails['Scores'][pretest['examID']]">{{ attempt['percent'] }}</td>
                </tr>
                </tbody>
                <tbody *ngIf="viewPostAssessment">
                  <tr *ngFor="let posttest of reportDetails['Posttests'];  let i = index" [attr.data-index]="i">
                    <th scope="row">T{{ i+1 }}</th>
                    <td class="testName">Post Test {{ i+1 }} {{posttest['title']}}</td>
                    <td *ngFor="let attempt of reportDetails['Scores'][posttest['examID']]">{{ attempt['percent'] }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-left">
            <button class="btn btn-info scores-button" *ngIf="!scoresDisplayState" (click)="setScoresVisible()">Show scores</button>
            <button class="btn btn-info scores-button" *ngIf="scoresDisplayState" (click)="setScoresInvisible()">Hide Scores</button>
            <button class="btn btn-info" (click)="downloadReport()">Download Report</button>
            <button class="btn btn-info" (click)="open(email)">Email Report</button>
        </div>
    </div>
</div>

<ng-template #email let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Enter email details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #emaildetails = "ngForm" (ngSubmit) = "emailReports(emaildetails.value); modal.close('Close click')" >
        <label>Senders username</label> <br>
        <input type = "text" name = "username" placeholder = "Sample Name" ngModel>
        <br/>
        <label>Senders email ID</label> <br>
        <input type = "text" name = "sendersAddr" placeholder = "example@domain.com" ngModel>
        <br/>
        <label>Password for sender's email account</label> <br>
        <input type = "password" name = "passwd" placeholder = "*****" ngModel>
        <br/>
        <label>Subject Line</label> <br>
        <input type = "text" name = "subjectLine" ngModel>
        <br/>
        <label>Message body</label> <br>
        <textarea rows="15" cols="100" type = "test" name = "msgbody" ngModel></textarea>
        <br><br>
        <input class="btn btn-success" type = "submit" value = "submit">
     </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
  