body{
  // background-color: #fafafa;
  // font-family: Montserrat,sans-serif;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a3c62 !important;
  background-color: #fff;
}

p[_ngcontent-htf-c152] {
  color: #0a3c62 !important; 
  font-size: 15px;
  line-height: 22px;
}

.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
  font: 400 16px/28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0 0 16px;
  color: #0a3c62;
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4em;
}
::-webkit-scrollbar-thumb {
 // background-color: #b7c0cb;
  border-radius: 6px;
  background: #c5bebe;
}


html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
width: 100%;
}
.testname {
  cursor: pointer;
}
.table-labels th {
  padding:  2px 5px;
}


.loading {
position: fixed;
z-index: 999;
height: 2em;
width: 2em;
overflow: visible;
margin: auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

.loading:before {
content: '';
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.loading:not(:required) {
font: 0/0 a;
color: transparent;
text-shadow: none;
border: 0;
}

.loading:not(:required):after {
content: '';
display: block;
font-size: 10px;
width: 1em;
height: 1em;
margin-top: -0.5em;
-webkit-animation: spinner 1500ms infinite linear;
-moz-animation: spinner 1500ms infinite linear;
-ms-animation: spinner 1500ms infinite linear;
-o-animation: spinner 1500ms infinite linear;
animation: spinner 1500ms infinite linear;
border-radius: 0.5em;
-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

.test-title-modal {
margin: 1px;
}


.hexagon-column {
margin-bottom: 15px;
gap: 13%;
}

.testname-li {
margin-top: 20;
margin-bottom: 4;
}

.tests-list{
font-weight: bold;
}

.report-title {
color:#0a3c62;
text-align: center
}

.division-attendence-list .li:nth-of-type(odd){
  background-color: rgba(0,0,0,.05);
}

.modal-body {
max-width: 100%;
overflow-x: auto;
// padding-left: 0px;
// padding-right: 0px;
}

.hex-label {
font-size: 12;
font-weight: bold;
}

.table-list-head {
font-weight: bold;
}

.table-list-items {
font-size: 16;
}

.hexagon-cluster-title {
font-weight: bold;
font-size: 18px;
position: absolute;
/* top: 6px; */
margin-top: -22px !important;
}
.column-class {
position: inherit;
}

.failure-message {
color:  red;
font-size: 16px;
}

.success-message {
color:  #09ff00;
font-size: 16px;
}

.test-name-display-on-hover {
.no-hover-testname-display{
  display: block
}
.hover-testname-display{
  display: none
}
}

.test-name-display-on-hover:hover  {
.no-hover-testname-display {
  display: none
}
.hover-testname-display{
  display: block
}
}




@-webkit-keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@-moz-keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@-o-keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}
@keyframes spinner {
0% {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
100% {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
}


@media (min-width: 1000px) {
.modal-xl{
 max-width : 1030px !important;
}

.modal-xxl{
  max-width : 100vw !important;
 }
}


.fonts table tbody td{
font-weight: inherit !important;
color:inherit !important;
 }

.fontW{
font-weight: inherit !important;
}

.fontSize table tbody td{
  font-size: 14px !important;
  font-weight: inherit !important;
  color:inherit !important;
 }

.breads{
  background: #eceeef;
  padding: 10px 0; font-weight: inherit !important;
  color: #0a3c62 !important;
  width: inherit;
  margin-left: 1px;
  //  margin-top: -3.1%;
}


@media screen and (max-device-width:300px), screen and (max-width:800px) {
    .breads {
      font-size: small !important;
    }
.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2{
    font: 189 13px/19px Roboto, "Helvetica Neue", sans-serif !important;
  }
  .mat-h3, .mat-subheading-2, .mat-typography .mat-h3, .mat-typography .mat-subheading-2, .mat-typography h3{
  font:  400 14px/28px Roboto, "Helvetica Neue", sans-serif !important;
    }
}


.topPlace{
  margin-top: 3%;
}

.btn-orange {
  background-color: #FF6C00;
  color: #ffffff;
}

.more{
  margin: 0px 38%;   
}




//dipstick-range logo
.legend {
  height: auto;
  width: 15%;
  margin-top: 0%;
  position: fixed;
  right: 0;
  color:#0a3c62;
}
.legend4 {
  height: auto;
  width: 15%;
  margin-top: 2%;
  position: fixed;
  right: 0;
  color:#0a3c62;
}
.legend2{
  height: auto;
  width: 15%;
  margin-top: -10%;
  position: fixed;
  right: -3%;
  color: #0a3c62;
}

.legend3{
  height: auto;
  width: 15%;
  margin-top: -6%;
  position: fixed;
  right: -3%;
  color: #0a3c62;
}

@media screen and (min-width:300px), screen and (max-width:400px) {
.legend {
  width: 13% !important;
}
.Font-size-for-listing{
  font-size: 13px !important;
    color: inherit;
    font-family: 400 14px/20px Roboto,"Helvetica Neue", sans-serif !important;
}
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
 
  .download-pdf-group-reports {
    height: 8vh !important; 
    position: fixed 8vh !important;  
    bottom: 8px 8vh !important; ;
    right: 10px 8vh !important; ;
  }
  }


.Font-size-for-listing{
  font-size: 15px;
    color: inherit;
    font-family: 400 14px/20px Roboto,"Helvetica Neue", sans-serif !important;
}

.topic-name::first-letter, .hover-testname-display::first-letter, .no-hover-testname-display::first-letter, .testname-list-display::first-letter {
  text-transform: uppercase;
}

.download-pdf-group-reports {
  // height: 8vh;
  // position: fixed;
  // bottom: 9px;
  // right: 40px;
}
@media screen and (min-width:250px), screen and (max-width:400px) {
.legend1 {
  width: 20%;
}
}

@media screen and (orientation: landscape) and (max-width: 850px) {
  .legend {
      // margin-top: -15%;
      height: 33%;
      top: 27%;
      right: 10px;
  }
  
  }

  /* 
  Notification snackbar
   */

   #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 10%;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 10%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 10%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 10%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
