<div class="container main">
    <!-- <h2 class="report-title fontW">
         Report-2: Student (Concepts)
    </h2>    -->
 </div>
<app-attempt-concept-reports-all-participants [url]="APIURL" [isPopupVisible]="isPopupVisible" [reportType]="'conceptwise'" [labelPrefix]="'C'" [listLabel]="'Concept'" [popupXLabel]="'CONCEPT'" [POPUPAPIURL]="POPUPAPIURL" (sendReportDetails1)="getConceptWiseData($event)"  ></app-attempt-concept-reports-all-participants>