.student-filters {
    margin-top: 4px;
}

.selector-body { 
    padding: 15px;
    /* flex-wrap: wrap; */
    display: flex;
    place-content: space-around;
    margin-top: 5%;
}
.selector {
    min-height: 35px;
    width: 215px;
    max-width: 100%;
    padding: 15px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:#fff url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'4\' height=\'5\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'%23343a40\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

// .selector:focus{
// border-color: rgb(17 119 209 / 75%);
//     outline: 0;
//     -webkit-box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
//     box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
// }

.selector:focus{
 outline: none;
}


// .selector1:focus-within{
//     border-color: rgb(17 119 209 / 75%);
//         outline: 0;
//         -webkit-box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
//         box-shadow: 0 0 0 0.2rem rgb(17 119 209 / 75%);
//     }
 

.student-selector {
    padding: 15px;
    margin-bottom: 10px;
}
.student-selector input, .student-selector datalist option, .student-selector .student-selector-button{
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
    /* width: 100%; */
}

label{
    font-weight: 700;
    margin-right: 2%;
    margin-bottom: 0;
    text-align: left;
 }

 .btn-style{
    color: #fff;
    background-color: #c62128;
    border-color: #c62128;
    min-height: 35px;
    margin-top: auto;
 }

 button:disabled {
    cursor: not-allowed;
 }


 .input-group {
    position: relative !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    /* display: flex; */
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
     width: 30%; 
}


.search-courses-container {
    float: right;
   display: flex;
   align-items: center;
   margin-right: 5px;
   border: #3f3e3e 1px solid;
   border-radius: 20px;
   padding: 5px;
   margin-top: -4%;
}

@media only screen and (max-width: 990px) {
    .search-courses-container {
        float: none;
    }
}

.search-courses-container .search-icon {
    padding: 5px;
}

input.input-search:focus {
    outline: none;
}

input.input-search  {
    border: 0;
    padding: 2px 4px;
    margin: 0px;
    width: -webkit-fill-available;
}


.clear-float {
    clear: both;
}
.close{
    outline: none;
    border: none;
}

.Matchedlist{
    cursor: pointer;
}
.modal-content{
    outline: 2px solid #d3d3d3 !important;
}

.close1{
    outline: none;
}

.multipleSelection {
  width: 300px;
//   background-color: #BCC2C1;
}

.selectBox {
  position: relative;
}

// .selectBox select {
//   width: 100%;
//   font-weight: bold;
// }

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.overSelect:focus {
    border: 5px solid red;
}

#checkBoxes {
  display: none;
  border: 1px black solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
  background-color: rgb(17 119 209 / 75%);;
}