<div class="container">
    <h1 style="text-align:center">Student Access</h1>
    <!-- <div class="search-courses-container">
        <input [attr.value]="searchString" type="text" class="input-search" placeholder="Search for semester, department, year, course or coursecode" (change)="getSearchString($event.target.value)" #searchfieldpage>
       <i *ngIf="searchString" class="fa fa-times" aria-hidden="true" (click)="searchString='';searchfieldpage.value = '';searchText=''"></i>
        <i class="fa fa-search search-icon" (click)="searchText && searchMatchedCourses(searchfield,0,searchfieldpage.value)"></i>
    </div> -->

    <!-- <ng-template #searchfield let-modal>
        <div style="outline: 3px solid #d3d3d3 !important;">
        <div class="modal-header col-md-12 d-flex">
         <div class="col-md-8">
            <h2 class="modal-title fonts" id="modal-basic-title" style="    overflow-wrap: break-word;"> {{ !matchedCourses.length ? "No result(s)" : (matchedCourses.length + " Result(s)") }}  matched with '{{searchString}}'</h2>
         </div>
        <div>     
        <button type="button" class="close" id="close" (click)="close(modal)">
            <span aria-hidden="true">&times;</span>
         </button>
        </div>
        </div>
        <div class="search-courses-container col-md-4">
            <input type="text" class="input-search" placeholder="search" (change)="getSearchString($event.target.value)" [attr.value]="searchString" #searchfieldpopup>
            <i *ngIf="searchString" class="fa fa-times" aria-hidden="true" (click)="searchfieldpopup.value = '';searchString='';searchText=''"></i>
            <i class="fa fa-search search-icon" (click)="isSearchPopupOpen=true;searchMatchedCourses(searchfield,1,searchfieldpopup.value)"></i>
        </div>
    
        <div class="modal-body col-12">
          <div class="clear-float"></div>
          <div class="matched-courses-list">
              <p class="Matchedlist" *ngFor="let courseData of matchedCourses;let i=index" (click)="setCourseData(i, modal)" [innerHTML]="getDisplayText(i)" > </p>
            </div>
        </div>
        
    </div>
      </ng-template>  -->
    <div class="selector-body">
        <div>
            <label for="academicYear">Academic Year:-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewYear($event.target.value)">
                    <option disabled [selected]="!activeYear">Select Year</option>
                    <option *ngFor="let year of yearList" id={{year}} [selected]="activeYear && (year == activeYear)"
                        [value]="year">{{year}}</option>
                </select>
            </div>
        </div>

        <div>
            <label for="academicYear">Semester:- </label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewSemester($event.target.value)" [disabled]="!activeYear">
                    <option disabled [selected]="!activeSemesterId">Select Semester</option>
                    <option *ngFor="let semister of TempsemestersList;let i=index" id={{semister._id}}
                        [selected]="activeSemesterId && (semister._id == activeSemesterId)" [value]="semister._id">
                        {{ semister.name}}
                    </option>
                </select>
            </div>
        </div>

        <div>
            <label for="academicYear">Department:-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewDepartment($event.target.value)" [disabled]="!activeSemesterId">
                    <option disabled [selected]="!activeDepartmentId">Select Department</option>
                    <option *ngFor="let dep of TempdepartmentList" id={{dep._id}}
                        [selected]="activeDepartmentId && (dep._id == activeDepartmentId)" [value]="dep._id">{{ dep.name
                        }}
                    </option>
                </select>
            </div>
        </div>
        `

        <div>
            <label for="academicYear">Course(Program):-</label><br>
            <div style="display:flex;flex:wrap;">
                <select class=" form-select year-selector selector" aria-label="Default select example"
                    (change)="setNewCourse($event.target.value)" [disabled]="!activeDepartmentId">
                    <option disabled [selected]="!activeCourseId">Select Course</option>
                    <option *ngFor="let course of TempcoursesList" id={{course._id}}
                        [selected]="activeCourseId && (course._id == activeCourseId)" [value]="course._id">
                        {{course.name}}({{course.program}})
                    </option>
                </select>
            </div>
        </div>
    </div>

    <!-- <div class="col-md-4 offset-md-4">
            <label for="academicYear">Student List:-</label><br>
            <div style="display:flex;flex:wrap;justify-content: center;" >
                <select class=" form-select year-selector selector"  aria-label="Default select example"
                    (change)="setNewStudent($event.target.value)" [disabled]="!activeCourseId" style="width:100%;">
                    <option disabled [selected]="!activestudentId">Select Students</option>
                    <option *ngFor="let student of TempstudentsList" id={{student._id}}
                        [selected]="activeSudentId && (student._id == activeStudentId)" [value]="student._id">
                        {{student.name}}({{student.usn}})
                    </option><input type="checkbox">
                </select>
            </div>
        </div> -->
    <div class="col-md-4 offset-md-4">
        <label for="academicYear">Student List:-</label><br>
        <div class="multipleSelection">
            <div class="selectBox selector1" (click)="activeCourseId && showCheckboxes()">
                <select class=" form-select year-selector selector" style="width:100%;">
                    <option [disabled]="!activeCourseId" [selected]="!activestudentId"><span>Select Students
                        </span>&nbsp;<span
                            *ngIf="selectedStudent.length ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {{selectedStudent.length ? selectedStudent.length : ''}} selected</span></option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="checkBoxes">
                <label for="first" (click)="onStudentSelection('selected_all','all')">
                    <input type="checkbox" [checked]="studentSelectionStatus ? true : false" />
                    Select All
                </label>
                <label for="first" *ngFor="let student of TempstudentsList"
                    (click)="onStudentSelection(student._id,'single')">
                    <input type="checkbox" id={{student._id}}
                        [checked]="selectedStudent.includes(student._id) ? true : false" />
                    {{student.name}}({{student.usn}})
                </label>
            </div>
        </div>
    </div>


    <!-- <div class="progress offset-md-3 mt-4">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progressStatus}">80%</div>
    </div> -->

</div>

<div p3 class="offset-md-3 mt-4">
    <button style="align-items:center;justify-content: center;" class="btn btn-primary"
        (click)="createStudent('data')">CreateStudent</button>
</div>