.btn {
    margin-right: 0.5em;
}

.disappear {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.card {
    display:inline-block;
    margin:2rem;
}

input {
    width: 100%;
    padding: 12px 12px;
    box-sizing: border-box;
    margin: 8px 0;
}

input[type='radio'] {
    width: 40%;
    margin: 8px 0;
}

input[type='checkbox'] {
    width: 20%;
    margin: 8px 0;
}

input[type='submit'] {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.muted {
    color: grey;
    font-size: small;
}

.dep-box{
    border: 1px solid #ccc;
    margin: 25px;
    padding: 5px;
   
}

.departments{
    text-align: center;
    -webkit-transition: .35 ease-in-out;
    transition: .35 ease-in-out;
}
.departments :hover{
    border: none;

}
p{
    margin-top: 1rem;
}
.sub:hover{
    box-shadow: 1px 1px 10px #ccc;
    color:blue;
}
.sub{
    text-align: center;
    border: solid 1px black;
    margin : 5px;
    cursor: pointer;
}

.fonts{
    font-weight: inherit !important; color: inherit !important;
    
  }
  .btn-css{
    width: 20%;
    margin: 10px;
    position: inherit;
    word-wrap: break-word;
    white-space: normal;
    min-inline-size: -webkit-fit-content;
}

@media screen and (max-device-width:300px), screen and (max-width:800px) {
    .col-3 {
        max-width: 100%;
    }
}


