<!-- <div class="text-right">
    <a [routerLink]="['/department','kk1']"><i class="fas fa-paint-brush"></i>kkkkkkkkkkkkkkkkkk</a>
</div> -->
<!-- <div class="container">
<button style="float: right;" class="btn btn-primary" (click)="open(test)">Add-new</button> 
<table class="table table-hover">
    <thead>
      <tr>
        <th>S/L</th>
        <th>Id</th>
        <th>Department</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments;let i = index">
        <td>{{i+1}}</td>
        <td>{{department._id}}</td>
        <td>{{department.name}}</td>
        <td>{{department.year}}</td>
      </tr>
    </tbody>
  </table>
</div> 


<div class="container">
  <button style="float: right;" class="btn btn-primary" (click)="open(test)">Add-new</button> 
  <h3>Departments</h3>
  <div class="row align-items-start departments">
    <div *ngFor="let department of departments;" class="col-3 box dep-box" (click)=" goupload(department._id) ">
      <p>Department :<b>{{department.name}}</b></p>
      <p>Year :<b>{{department.year}}</b></p>
    </div>
    
  </div>
</div>-->
<div *ngIf="activeInstitute?._id" class="row breads fonts">
  <p class="fontSize" style="margin:0px;cursor: pointer;">
    You are here :
    <span (click)="resetBreadcrumb(0)" class="a1" *ngIf="this.activeInstitute?._id">upload-data</span>
    <span (click)="resetBreadcrumb(1)" class="a1" *ngIf="this.activeInstitute?._id"> /{{activeInstitute?.name}}</span>
    <span (click)="resetBreadcrumb(2)" class="a1" *ngIf="this.activeInstitute?._id && this.activeYear">/{{activeYear}}</span>
    <span (click)="resetBreadcrumb(3)" class="a1" *ngIf="this.activeInstitute?._id && this.activeYear && this.activeSemester?._id">/{{activeSemester?.name}}</span>
    <span (click)="resetBreadcrumb(4)" class="a2" *ngIf="this.activeInstitute?._id && this.activeYear && this.activeDepartment"> /{{activeDepartment?.name}}</span>
    <span (click)="resetBreadcrumb(5)" class="a2" *ngIf="this.activeInstitute?._id && this.activeYear && this.activeDepartment && this.selectedCourse">/{{selectedCourse}}</span>
  </p>
</div>
<div class="container fonts topPlace">

  <div class="institute-selection" *ngIf="!activeInstitute">
    <div class="form-group">
      <button class="fonts" style="float: right;background-color: lightgray;" class="btn btn-light"
        data-toggle="tooltip" data-placement="bottom" title="Add new Institute" (click)="open(institute)"><i
          class="fa fa-plus" aria-hidden="true"></i>Add-new</button>
      <div>
        <h2 class="fonts"> Select Institution </h2>
        <div>
          <button *ngFor="let institute of institutes;" (click)="setInstitute(institute)"
              class="btn btn-warning col-3 fonts btn-css">
            {{institute?.name}} </button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="activeInstitute && !activeSemester">
    <div class="form-group">
      <button class="fonts" style="float: right;background-color: lightgray;" class="btn btn-light"
        data-toggle="tooltip" data-placement="bottom" title="Add new Semester" (click)="open(semester)"><i
          class="fa fa-plus" aria-hidden="true"></i>Add-new</button>
      <div *ngIf="activeInstitute && !activeYear">
        <h2 class="fonts"> Select year </h2>
        <div>
          <button *ngFor="let yearsofdep of year;" (click)="setYear(yearsofdep)"
             class="btn btn-warning col-3 fonts btn-css">
            {{yearsofdep}} </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activeInstitute && activeYear && !activeSemester" id='semester'>
    <h2 class="fonts">Semesters</h2>
    <div class="row kk">
      <div class="col-3 sub fonts" style="padding:20px;cursor: pointer;position:inherit"
        *ngFor="let semester of semesters;" [hidden]="(semester.year!=activeYear) || (activeInstitute?._id != semester?.instituteid)" style="padding: 10px;"
        (click)="setSemester(semester)">
        {{semester.name}}
      </div>
    </div>
  </div>
  <div *ngIf="activeInstitute && activeYear && activeSemester && !activeDepartment" id='branch'>
    <button class="fonts" style="float: right;background-color: lightgray;" class="btn btn-light"
        data-toggle="tooltip" data-placement="bottom" title="Add new Department" (click)="open(department)"><i
          class="fa fa-plus" aria-hidden="true"></i>Add-new</button>
    <h2 class="fonts">Departments</h2>
    <div class="row kk">
      <div class="col-3 sub fonts" style="padding:20px;cursor: pointer;position:inherit"
        *ngFor="let department of departments;" style="padding: 10px;" (click)="setdepartment(department)">
        {{department.name}}
      </div>
    </div>
  </div>
</div>

<ng-template #semester let-modal>
  <div class="modal-header">
    <h4 class="modal-title fonts" id="modal-basic-title">Add new Semester</h4>
    <button type="button" class="close" aria-label="Close" id="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #uploaddetails="ngForm" (ngSubmit)="createSemester(uploaddetails.value);">
      <!-- <br/> -->
      <label [hidden]="activeYear" for="year">Year</label>
      <input [hidden]="activeYear" type="text" name="year" pattern="[0-9]+([-\,][0-9]+)?" maxlength="9" ngModel required>

      <label class="fonts" for="semester">Semester</label> <br>
      <input type="text" name="semester" ngModel required>

      <!-- <br/> -->
      <input [disabled]="!uploaddetails.value.semester || (!uploaddetails.value.year && !activeYear)" type="submit"
        value="Submit" class="btn btn-success" data-dismiss="uploaddetails" ngModal>

      <!-- <input  [disabled]="!uploaddetails.value.department || !uploaddetails.value.year" type="submit" value="Submit" class="btn btn-success" data-dismiss="uploaddetails" ngModal> -->
      <br />
    </form>
  </div>
  <div class="fonts" *ngIf="message" id="msg">
    <p style="text-align: center; display: block;"><b>{{message}}</b></p>
  </div>
</ng-template>

<ng-template #department let-modal>
  <div class="modal-header">
    <h4 class="modal-title fonts" id="modal-basic-title">Add new department</h4>
    <button type="button" class="close" aria-label="Close" id="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #uploaddetails="ngForm" (ngSubmit)="onClickSubmit(uploaddetails.value);">
      <!-- <br/> -->
      <!-- <label [hidden]="activeYear" for="year">Year</label>
      <input [hidden]="activeYear" type="text" name="year" maxlength="7" ngModel required> -->

      <label class="fonts" for="department">Department</label> <br>
      <input type="text" name="department" ngModel required>

      <!-- <br/> -->
      <input [disabled]="!uploaddetails.value.department" type="submit"
        value="Submit" class="btn btn-success" data-dismiss="uploaddetails" ngModal>


      <!-- <input  [disabled]="!uploaddetails.value.department || !uploaddetails.value.year" type="submit" value="Submit" class="btn btn-success" data-dismiss="uploaddetails" ngModal> -->
      <br />
    </form>
  </div>
  <div class="fonts" *ngIf="message" id="msg">
    <p style="text-align: center; display: block;"><b>{{message}}</b></p>
  </div>
</ng-template>


<ng-template #institute let-modal>
  <div class="modal-header">
    <h4 class="modal-title fonts" id="modal-basic-title">Add new Institution</h4>
    <button type="button" class="close" aria-label="Close" id="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #uploaddetails="ngForm" (ngSubmit)="onInstituteRegister(uploaddetails.value);">
      <label class="fonts" for="institute">Institution</label> <br>
      <input type="text" name="institute" ngModel required>
      <input [disabled]="!uploaddetails.value.institute" type="submit" value="Submit" class="btn btn-success"
        data-dismiss="uploaddetails" ngModal>
      <br />
    </form>
  </div>
  <div class="fonts" *ngIf="message" id="msg">
    <p style="text-align: center; display: block;"><b>{{message}}</b></p>
  </div>
</ng-template>