
/* .legend {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 50px;
    position: fixed;
} */
.tnumber {
    font-size: 14px;
    font-weight: bold;
}
 .testname{
    cursor: pointer;
    font-size: 18px;
    /* font-weight: bold; */
}
.testname:hover{
    text-decoration-line: underline;
    color: blue;
}