.active-top-navigation-bar {
    /*          color: #ffffff;
    background-color: #3cc1ff; */

    border-radius: 30px;
    cursor: text;
}

.top-navigation-bar {
    color: #aaaaaa;
}

.student-report-tab-name {
    cursor: pointer;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 2% 0;
    text-transform: capitalize;
}
.progress-6 {
    width:120px;
    height:22px;
    border-radius: 20px;
    color:#514b82;
    border:2px solid;
    position: relative;
  }
  .progress-6::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:currentColor;
    animation:p6 2s infinite;
  }
  .download-pdf-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
/* 
.top-navigation-bar-body {
    margin-top: 4%;
    margin-bottom: 4%;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0); 
      
}*/
.student-report-tab {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.top-navigation-bar-body {
    /*      background-color: #ffffff; 
         
    margin-right: 15%;
      */

    border-radius: 30px;
}

/* .report-view-body {
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
} */
/* .uline2{
    border-top: 4px solid #33b35a;
    padding: 12px 0;
} */
.uline {
    border-top: 4px solid #c9c9c9;
    padding: 12px 0;
}

/* .active-top-navigation-bar{
    color: #33b35a;
} */

.report-not-found {
    text-align: center;
    margin-top: 25vh;
}

.download-reports-button {
    float: right;
    color: #0a3c62 !important;
    border: 0px;
    background-color: none;
    cursor: pointer;
}

.download-reports-button span {
    margin-right: 5px;
}

.legend1,
.download-pdf {
    width: auto;
    position: fixed;
}

.legend1 {
    height: 33%;
    top: 32%;
    right: 10px;

}

.download-pdf {
    height: 10%;
    top: 83%;
    right: 2vh;

}

.downloadtxt {
    height: 5%;
    right: 5%;
    margin-left: -42%;
    margin-top: 12%;

}



.download-group-reports-container {
    position: fixed;
    bottom: 1%;
    right: 2%;
    color: #0a3c62 !important;
  }
  
  .download-group-reports-container img {
      height: 8vh;
      width: auto;
    }
  
  .download-success {
      display: flex;
      flex-direction: column;
      align-items: end;
     
  }
  
  .download-pdf-link {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
  }
  
  .progress-6 {
      width:120px;
      height:22px;
      border-radius: 20px;
      color:#514b82;
      border:2px solid;
      position: relative;
    }
    .progress-6::before {
      content:"";
      position: absolute;
      margin:2px;
      inset:0 100% 0 0;
      border-radius: inherit;
      background:currentColor;
      animation:p6 2s infinite;
    }
    @keyframes p6 {
        100% {inset:0}
    }



    
@media (max-width: 575px) {
    .legend1 {
        height: 12%;
        top: 42%;
        right: -2%;
    }
    .download-success {
        display: flex;
          flex-direction: column;
          align-items: end;
          width: 27%;
          /* text-align: right; */
          margin-left: 81%;
          margin-top: -25%;
        }

    .download-pdf {
        height: 8vh;
        top: 69%;
        right: 2vh;

    }

    /* @media (max-width: 575px) { */
    .download-group-reports-container {
        position: fixed;
        bottom: 10%;
        right: 2%;
        color: #0a3c62 !important;
        margin-bottom: 12%;
    }
    

    .downloadtxt {
        display: none;
    }

    .download-progressbar{
    height: 5%;
    margin-left: -1%;
    margin-top: 0%;
    }

    /* } */
}

@media screen and (orientation: landscape) {
    .downloadtxt {
        /* display: none; */
    }

    .download- {
        height: 10%;
        top: 66%;
        right: 2vh;
    }

  

}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .download-pdf-group-reports {
      height: 8vh !important; 
      position: fixed 8vh !important;  
      bottom: 8px 8vh !important; ;
      right: 10px 8vh !important; ;
  }}
  
  @media screen and (orientation: landscape) and (max-width: 850px) {

    .download-group-reports-container {
      height: 11vh;
      width: auto;
      margin-top: -260%;
  }
    .downloadtxt {
      display: none;
    }
    .download-pdf {
        height: 10%;
        top: 65%;
        right: 2vh;
    }
  }