<!-- <app-student-reports-breadcrumb></app-student-reports-breadcrumb> -->

<div class="container">
    <div class="row justify-content-center top-navigation-bar-body" style="margin: auto;">
        <span *ngFor="let tab of tabs;" class="col-4 student-report-tab"
            [hidden]="!checkReportVisibility(tab.reportType)">
            <h4 class="student-report-tab-name"
                [ngClass]="{'active-top-navigation-bar':activeTab.title == tab.title,  'top-navigation-bar':activeTab.title != tab.title}"
                (click)="activeTab=tab">{{reportService.replaceTopic(tab.title, tab.configurationtype)}}</h4>
            <hr [ngClass]="{'uline2':activeTab.title == tab.title,  'uline':activeTab.title != tab.title}">
        </span>
        <!-- <span  class="col-4 student-report-tab" [hidden]="!checkReportNotFound()">
            <h4>Page not found</h4>
        </span> -->
    </div>
    <div class="report-view-body" *ngIf="!checkReportNotFound()">
        <!-- <span (click)="reportGeneration()" class="download-reports-button" [disabled]="!isDownloadAvailable"><span>Download Reports</span><span class=" fa fa-download"></span> </span> -->
        <h2 style="margin:0px;color:#0a3c62; text-align: center;  font-weight: inherit !important;">
            Report-{{activeTab?.index}}</h2>
        <div class="report-view">
            <!-- <app-student-wise-concept-wise [isPopupVisible]="checkPopupVisibility('student-conceptwise-popup')" style="min-width: 100%;" *ngIf="activeTab?.type === tabs[1]?.type"></app-student-wise-concept-wise> -->
            <!-- <app-student-wise-subconcept-wise [isPopupVisible]="checkPopupVisibility('student-subconceptwise-popup')" style="min-width: 100%;" *ngIf="activeTab?.type === tabs[2]?.type"></app-student-wise-subconcept-wise> -->
            <app-attemptwise-studentwise-testwise style="min-width: 100%;"
                [hidden]="!(activeTab?.type === tabs[0]?.type)"
                (sendReportDetails)="getReportData('student-testwise',$event)"
                *ngIf="checkReportVisibility('student-testwise')"></app-attemptwise-studentwise-testwise>
            <app-attemptwise-studentwise-conceptwise
                [isPopupVisible]="checkPopupVisibility('student-conceptwise-popup')" style="min-width: 100%;"
                [hidden]="!(activeTab?.type === tabs[1]?.type)"
                (sendReportDetails)="getReportData('student-conceptwise',$event)"
                *ngIf="checkReportVisibility('student-conceptwise')"></app-attemptwise-studentwise-conceptwise>
            <app-attemptwise-studentwise-subconcept-wise
                [isPopupVisible]="checkPopupVisibility('student-subconceptwise-popup')" style="min-width: 100%;"
                [hidden]="!(activeTab?.type === tabs[2]?.type)"
                (sendReportDetails)="getReportData('student-subconceptwise',$event)"
                *ngIf="checkReportVisibility('student-subconceptwise')"></app-attemptwise-studentwise-subconcept-wise>
        </div>
    </div>
    <!-- <app-student-wise-test-wise  style="min-width: 100%;" *ngIf="activeTab?.type === tabs[0]?.type"></app-student-wise-test-wise> -->
    <!-- <app-attemptwise-studentwise-conceptwise *ngIf="activeTab?.type === tabs[1]?.type" ></app-attemptwise-studentwise-conceptwise> -->

    <div class="report-view-body" *ngIf="checkReportNotFound()">
        <div class="report-view report-not-found">
            <h2 class="report-not-found-text">This report is not available</h2>
        </div>
    </div>
</div>

<img class="legend1" [attr.src]="legend">
<!-- <img class="download-pdf"  [attr.src]="downloadPDF" (click)="reportGeneration()" [style.cursor]="isDownloadAvailable ? 'pointer' : 'wait'" > -->

<!-- *ngIf="!isDownLoadGroupReportsBegin" -->
<div class="download-pdf" (click)="reportGeneration()" [attr.src]="downloadPDF" [style.cursor]="'pointer'"
    *ngIf="!isDownLoadGroupReportsBegin">

    <span class="downloadtxt" *ngIf="downloadStatus == 'not-downloaded'"></span>

    <div>
        <span class="download-progressbar" *ngIf="downloadStatus == 'in-progress'">Download in progress <div class="progress-6">
            </div></span>

        <div class="download-success" *ngIf="downloadStatus == 'downloaded'">
            <!-- <span>PDF version of this report has already been downloaded</span><br> -->
            <span class="download-pdf-link" (click)="reportGeneration()">download again</span>
        </div>
    </div>
    <!-- <img src="./assets/images/download.gif" > -->
    <img class="download-pdf" *ngIf="downloadStatus == 'not-downloaded'" src="./../../../../assets/images/download.JPG">
</div>