<header class="w3-container" style="padding-top:22px">
    <!-- <h2><b><i class="fa fa-dashboard"></i> Reports Analytics</b></h2> -->
<button class="btn btn-primary" (click)="getAnalytics()"><i class="fa fa-repeat" aria-hidden="true"></i></button>
  </header>

  <div style="color:#0a3c62" class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter" *ngFor="let item of res.success | keyvalue">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{item.value}}</h3>
        </div>
        <div class="w3-clear"></div>
         <h4>{{item.key}}</h4>
      </div>
    </div>
  </div>

  <div style="color:#0a3c62" class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter" *ngFor="let item of res.error | keyvalue">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-user-times w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{item.value}}</h3>
        </div>
        <div class="w3-clear"></div>
         <h4>{{item.key}}</h4>
      </div>
    </div>
  </div>

  <div style="color:#0a3c62" class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter" *ngFor="let item of res.total | keyvalue">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-flag  w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{item.value}}</h3>
        </div>
        <div class="w3-clear"></div>
         <h4>{{item.key}}</h4>
      </div>
    </div>
  </div>
    <!-- <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{res.subinfoCount}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Number of submissions</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{res.redirectioninfoCount}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Number of redirections.</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{res.subinfoCount}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4> Number of Students.</h4>
      </div>
    </div>
      <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
         <div class="w3-right">
          <h3>{{res.totalsubmissionCount}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total number of submissions</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
         <div class="w3-right">
          <h3>{{res.totalredirectionCount}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total number of re-directions</h4>
      </div>
    </div> -->
 
