
.sub:hover{
    box-shadow: 1px 1px 10px #ccc;
    color:blue;
}
.sub{
    text-align: center;
    border: solid 1px black;
    margin : 5px;
    cursor: pointer;
}
      .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #6275b4;
        border-radius: 6px;
        outline: none;
      }

      .button:hover {
        color: #ffffff;
        background-color: #4c5ead;
      }

      .fonts{
        font-weight: inherit !important; color: inherit !important;
        
      }

.post-image{
      object-fit: cover;
      width: 100%;
      /* max-height: 135px;
      min-height: 135px;
      max-height: 80px; */
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .post-list-box {
      margin: 5%;
      margin-bottom: 2%;
      margin-left: 10%;
      border: 1px solid #ccc;
      /* background-color: #fafafa; */
      -webkit-transition: .35 ease-in-out;
      transition: .35 ease-in-out;
      text-align: center;
  }

  a {
    color: #d6644a;
    -webkit-transition: .4s;
    transition: .4s;
    text-decoration: none;
    cursor: pointer;
}
a, a:hover, button, button:hover {
  -webkit-transition: .4s;
  transition: .4s;
}

.image-description-content{
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  color: #0a3c62
  ;
  /* padding: 2%; */
}

p {
  color: #0a3c62;
  font-size: 15px;
  line-height: 22px;
}

.post-list-box:hover {
  -webkit-box-shadow: 1px 1px 10px #ccc;
  box-shadow: 1px 1px 10px #ccc;
  border: none;
}

a:hover {
  color: #444;
  -webkit-transition: .4s;
  transition: .4s;
  text-decoration: none;
}


img {
  vertical-align: middle;
  border-style: none;
}

.report-text-disabled{
  color: #aaaaaa;
}

.download-pdf-group-reports {
  position: absolute;
  right: 8vh;
  color:#0a3c62 !important;
}

.download-pdf-group-reports img {
  width: auto;
  height: 8vh;
}

app-download-group-reports {
  display: flex;
    justify-content: end;
}


:host >>> app-download-group-reports .download-group-reports-container {
  position: unset;
}