<div *ngIf="!testlen && loadShow">
    <div style="display: block;" id="loading" class="loading">Loading&#8230;</div>
</div>

<div class="fonts" *ngIf="!testlen && !loadShow"  class="col-3 sub"  style="padding: 10px; cursor: pointer;">
    <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><h4>No tests are available for this Course.</h4>
      <!-- <p *ngIf="isAdmin">To upload files <a  [routerLink]="['..','admin','department',id]"  routerLinkActive="active"><b>click here</b></a> </p> -->
    </span>
   </div>

<div *ngIf="testlen" >
<div>
    <p style ="color:#0a3c62; text-align: center;font-size: 16px"> ---------------The ekLakshya way---------------</p>
    <br>
    <app-download-group-reports></app-download-group-reports>
    <h1 class="fonts" style="color: #0a3c62; !important; text-align: center;" >Dipstick<span class="trademark">&#8482;</span> Reports</h1>
</div>

<!-- <div class="container">
    <p><button class="btn btn-success" [routerLink]="['/report-1']">Report-1 </button><b>&nbsp;&nbsp; All participants (Tests)</b></p>

    <p><button class="btn btn-success" [routerLink]="['/report-2']" >Report-2</button><b>&nbsp;&nbsp; By Division (Tests)</b></p>

    <p><button  [routerLink]="['/report-3']" class="btn btn-success">Report-3</button><b>&nbsp;&nbsp; All participants (Concepts)</b></p> 

    <p><button class="btn btn-success" [routerLink]="['/report-4']" >Report-4</button><b>&nbsp;&nbsp; By Division (Concepts)</b></p>

    <p><button  [routerLink]="['/report-5']" class="btn btn-success">Report-5</button><b>&nbsp;&nbsp; All participants (Sub-concepts)</b></p> 

    <p><button class="btn btn-success" [routerLink]="['/report-6']" >Report-6</button><b>&nbsp;&nbsp; By Division (Sub-concepts)</b></p>

    <p><button  [routerLink]="['/report-7']" class="btn btn-success">Report-7</button><b>&nbsp;&nbsp; All participants (Questions)</b></p> 

    <p><button class="btn btn-success" [routerLink]="['/report-8']" >Report-8</button><b>&nbsp;&nbsp; By Division (Questions) </b></p>
    <button class="btn btn-success" [routerLink]="['/attendence']" >Attendence</button>
</div> -->



<!--for router link
    
    <div class="container fonts">
  
    <p><a  class="button fonts" routerLink="/report-1" routerLinkActive="active">Report-1 </a>  &nbsp;&nbsp; All participants (Tests) </p>

    <p><a class="button fonts" routerLink="/report-2" routerLinkActive="active">Report-2</a>&nbsp;&nbsp; By Division (Tests) </p>

    <p><a class="button fonts" routerLink="/report-3" routerLinkActive="active">Report-3</a>&nbsp;&nbsp; All participants (Concepts)</p> 

    <p><a class="button fonts" routerLink="/report-4" routerLinkActive="active">Report-4</a>&nbsp;&nbsp; By Division (Concepts) </p>

    <p><a class="button fonts" routerLink="/report-5" routerLinkActive="active">Report-5</a>&nbsp;&nbsp; All participants (Sub-concepts) </p> 

    <p><a class="button fonts" routerLink="/report-6" routerLinkActive="active">Report-6</a>&nbsp;&nbsp; By Division (Sub-concepts) </p>

    <p><a class="button fonts" routerLink="/report-7" routerLinkActive="active">Report-7</a>&nbsp;&nbsp; All participants (Questions) </p> 

    <p><a class="button fonts" routerLink="/report-8" routerLinkActive="active" >Report-8</a>&nbsp;&nbsp; By Division (Questions)</p>
  
    <p><a class="button fonts"  routerLink="/attendance" routerLinkActive="active"  >Attendance</a>All Students Attendance</p>

</div> -->
 




<div class="row">
    <!-- <div  class="col-lg-4 col-md-4 col-sm-6 posts-list-sidebar" *ngFor="let data of reports;let i = index;" [hidden]="!checkReportVisibility(data.reportType)" > -->
    <div  class="col-lg-4 col-md-4 col-sm-6 posts-list-sidebar" *ngFor="let data of reports;let i = index;" [ngStyle]="{pointerEvents: checkReportVisibility(data.reportType) ? 'auto' : 'none'}" >
        <div  class="post-list-box">
            <a   class="post-list-box-content-sidebar" (click)=" routTo(data.url)" routerLinkActive="active">
           <!-- <img class="post-image" src="./assets/images/dipstick1.png"> -->
                <article class="image-description-content"  [ngClass]="{ 'report-text-disabled' : !checkReportVisibility(data.reportType) }" >
                    <span  class="description-body" style="margin-top: 13px;">
                        <h3  class="font">{{data.report}}</h3> 
                        <!-- <h6 _ngcontent-c22="" class="font">{{data.report}}</h6>  https://s3.ap-south-1.amazonaws.com/eklakshya.com/1626940070350-blog_website.png -->
                         <p [ngClass]="{ 'report-text-disabled' : !checkReportVisibility(data.reportType) }">{{i > 5 ? data.description : reportService.replaceTopic(data.description, data.topic)}} </p>
                         <a   class="post-list-box-content-sidebar" (click)=" routTo(data.url)" routerLinkActive="active">View</a>
                    </span>
                </article>
            </a>
        </div>
    </div>
</div>

</div>